<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center" mat-dialog-title>Denuncias</h1>    
    </div>
    <div class="row container" mat-dialog-content>
        <div class="my-3 row" *ngFor="let denuncia of data.denuncias">
            <div class="justify-content-center card w-100 pt-2 img-thumbnail">
                <div class="card-body">
                  <h5 class="card-title">Denunciante: {{ denuncia.usuario!.correo }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Descripción de la denuncia</h6>
                  <p class="card-text">{{ denuncia.descripcion }}</p>
                  <!-- TODO: estos links -->
                  <a 
                    (click)="goToReporterDetail(denuncia)"
                    [ngClass]="{ 
                        'btn btn-primary card-link': commonService.screenWidth > 672,
                        'card-link': commonService.screenWidth <= 672
                    }" 
                  >
                    Ver Perfil del Denunciante
                  </a>
                  <br [ngClass]="{ 'line-break': commonService.screenWidth > 672 }">
                  <a 
                    (click)="goToCarDetail()"
                    [ngClass]="{ 
                        'btn btn-primary card-link': commonService.screenWidth > 672,
                        'card-link': commonService.screenWidth <= 672
                    }" 
                  >
                    Ver Carro Reportado
                  </a>
                </div>
              </div>
        </div>
    </div>
    <div class="row justify-content-center" mat-dialog-actions>
        <button mat-button (click)="closeDialog()">Cerrar</button>
    <!-- <button mat-button [mat-dialog-close]="data.algo" cdkFocusInitial>Ok</button> -->
    </div>
</div>