<div
  class="b-goods published-car-container"
  [ngClass]="{ 'b-goods_list': mode }"
  [ngStyle]="{ cursor: !validationView ? 'pointer' : 'default' }"
>
  <a class="b-goods__img" (click)="goToVehicleDetails()">
    <!-- style="max-width: 100%; height: auto;" -->
    <img
      class="img-scale"
      [src]="
        autoCasteado?.fotoPrincipal !== ''
          ? autoCasteado?.fotoPrincipal
          : 'assets/media/content/b-special/263x200/1.jpg'
      "
      alt="Foto del Carro"
    />
  </a>
  <div class="b-goods__main">
    <div class="row no-gutters">
      <div class="col">
        <a class="b-goods__title">
          {{
            autoCasteado?.marca +
              " " +
              autoCasteado?.modelo +
              " " +
              autoCasteado?.anoFabricacion
          }}</a
        >
        <!-- <div class="b-goods__info">Stock#: 45098ES - 4 door, White, 2.5L, FWD, Automatic 6-Speed, 2.5L 5 cyls, Florida CA</div> -->
      </div>
      <div class="col-auto pr-3">
        <div class="row b-goods__price text-primary">
          <span class="b-goods__price-title">PRECIO<br />VENDEDOR</span
          ><span class="b-goods__price-number"
            >${{ autoCasteado?.precioVenta | number }}</span
          >
        </div>
      </div>
    </div>
    <!-- TODO: *ngIf's -->
    <!-- NOTE: estos tags son para el admin, car-published -->
    <div class="row">
      <!-- NOTE: POR VALIDAR -->
      <div *ngIf="!autoCasteado.validado" class="col-auto pr-3">
        <div class="full-height por-validar row b-goods__price text-primary">
          <span class="b-goods__price-title">POR<br />VALIDAR</span>
        </div>
      </div>
      <!-- NOTE: POR VENDER -->
      <div
        *ngIf="autoCasteado.validado && !autoCasteado.comprado"
        class="col-auto pr-3"
      >
        <div class="full-height por-vender row b-goods__price text-primary">
          <span class="b-goods__price-title">POR<br />VENDER</span>
        </div>
      </div>
      <!-- NOTE: VENDIDO -->
      <div
        *ngIf="autoCasteado.validado && autoCasteado.comprado"
        class="col-auto pr-3"
      >
        <div class="full-height vendido row b-goods__price text-primary">
          <span class="b-goods__price-title">VENDIDO</span>
        </div>
      </div>
      <!-- NOTE: VENDIDO -->
      <div *ngIf="!autoCasteado.enabled" class="col-auto pr-3">
        <div class="full-height eliminado row b-goods__price text-primary">
          <span class="b-goods__price-title">ELIMINADO</span>
        </div>
      </div>
    </div>
    <div class="b-goods-descrip row no-gutters">
      <div class="b-goods-descrip__item col">
        <div class="b-goods-descrip__inner">
          <div class="b-goods-descrip__wrap">
            <i class="ic flaticon-speedometer"></i
            ><span class="b-goods-descrip__info">
              {{ autoCasteado?.kilometraje | number }} km</span
            >
            <div class="b-goods-descrip__full-info">
              <span class="b-goods-descrip__title">KILOMETRAJE</span
              ><span class="b-goods-descrip__text">{{
                autoCasteado?.kilometraje
                  ? (autoCasteado?.kilometraje | number)
                  : (0 | number)
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="b-goods-descrip__item col">
        <div class="b-goods-descrip__inner">
          <div *ngIf="!newCarView" class="b-goods-descrip__wrap">
            <i class="ic flaticon-fuel-station-pump"></i
            ><span class="b-goods-descrip__info">
              {{ autoCasteado?.tipoCombustible }}</span
            >
            <div class="b-goods-descrip__full-info">
              <span class="b-goods-descrip__title">COMBUSTIBLE</span
              ><span class="b-goods-descrip__text">{{
                autoCasteado?.tipoCombustible
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="b-goods-descrip__item col">
        <div class="b-goods-descrip__inner">
          <div *ngIf="!newCarView" class="b-goods-descrip__wrap">
            <i class="ic flaticon-gearshift"></i
            ><span class="b-goods-descrip__info">
              {{ autoCasteado?.tipoCambios }}</span
            >
            <div class="b-goods-descrip__full-info">
              <span class="b-goods-descrip__title">TRANSMISIÓN</span
              ><span class="b-goods-descrip__text">{{
                autoCasteado?.tipoCambios
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="b-goods-descrip__item b-goods-descrip__item_list col">
        <div class="b-goods-descrip__inner">
          <div class="b-goods-descrip__wrap">
            <i class="ic flaticon-calendar"></i>
            <div class="b-goods-descrip__full-info">
              <span class="b-goods-descrip__title">AÑO</span
              ><span class="b-goods-descrip__text">{{
                autoCasteado?.anoFabricacion
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="sponsorView"
        class="b-goods-descrip__item b-goods-descrip__item_list col"
      >
        <div class="b-goods-descrip__inner">
          <div class="b-goods-descrip__wrap">
            <i class="ic flaticon-calendar"></i>
            <div class="b-goods-descrip__full-info">
              <span class="b-goods-descrip__title">RANKING</span
              ><span class="b-goods-descrip__text">{{ sponsorCar.level }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="
        validationView ||
        reportedView ||
        interestingView ||
        interesadoView ||
        sponsorView ||
        particularPublishedView
      "
      class="ml-1 mt-3 row justify-content-center justify-content-lg-start"
    >
      <button
        class="m-2"
        *ngIf="validationView"
        mat-raised-button
        color="primary"
        (click)="emitValidationEvent()"
      >
        Validar
      </button>
      <!-- TODO: mejorar el API de este componente porq no es flexible -->
      <button
        class="m-2"
        *ngIf="
          autoCasteado.enabled && (validationView || particularPublishedView)
        "
        mat-raised-button
        color="primary"
        (click)="goToCarEditView()"
      >
        Editar
      </button>
      <button
        class="m-2"
        *ngIf="reportedView"
        mat-raised-button
        color="basic"
        (click)="emitMarkAsValidEvent()"
      >
        Validar
      </button>
      <button
        class="m-2"
        *ngIf="reportedView"
        mat-raised-button
        color="basic"
        (click)="emitSeeReporters()"
      >
        Ver Reportantes
      </button>
      <button
        class="m-2"
        *ngIf="reportedView"
        mat-raised-button
        color="warn"
        (click)="emitRemoveEvent()"
      >
        Remover
      </button>
      <button
        class="m-2"
        *ngIf="interestingView"
        mat-raised-button
        color="basic"
        (click)="emitSaleEvent()"
      >
        Vender
      </button>
      <button
        class="m-2"
        *ngIf="interesadoView"
        mat-raised-button
        color="basic"
        (click)="quitarInteresado()"
      >
        Quitar
      </button>
      <button
        class="m-2"
        *ngIf="sponsorView"
        mat-raised-button
        color="basic"
        (click)="sponsorLevelEvent()"
      >
        Cambiar Ranking
      </button>
      <button
        class="m-2"
        *ngIf="sponsorView"
        mat-raised-button
        color="basic"
        (click)="quitarSponsor()"
      >
        Quitar Sponsor
      </button>
    </div>
    <!-- <div class="b-goods__footer">
        <div class="row no-gutters justify-content-between">
        <div class="col-auto"><span class="b-goods__tag">test drive</span><span class="b-goods__tag">compare</span><span class="b-goods__tag">share this</span></div>
        <div class="col-auto"><img class="b-goods__bnr" src="assets/media/content/b-goods/check.jpg" alt="photo"/><img class="b-goods__bnr" src="assets/media/content/b-goods/check-2.jpg" alt="photo"/></div>
        </div>
    </div> -->
  </div>
</div>
