.grid-tag-clicker {
  height: 23px;
  width: 23px;
  border-radius: 999px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  filter: brightness(0.9);
}

.grid-tag-clicker::after {
  position: absolute;
  height: 8px;
  width: 8px;
  content: attr(letter);
  color: #f0fff0;
  right: 0px;
  left: 5px;
  top: 2px;
}

.por-validar {
  background-color: #8b5160;
}

.por-vender {
  background-color: #ea9b67;
}

.vendido {
  background-color: #19c8a6;
}

.eliminado {
  background-color: #ff3333;
}

.rounded-corners {
  border-radius: 999px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
