<div class="section-title-page section-title-page_mod-a area-bg area-bg_dark area-bg_op_60">
    <div class="section-title-page__decor"></div>
    <div class="area-bg__inner">
      <div class="container text-center">
        <h1 class="b-title-page">Get Your Car New Style</h1>
        <div class="b-title-page__subtitle">Choose From Hundreds of styles & colors</div>
        <div class="b-title-page__label text-secondary">Explore Services</div>
      </div>
    </div>
  </div>
  <!-- end .b-title-page-->
  
  <div class="l-main-content">
    <div class="ui-decor ui-decor_up ui-decor_mirror bg-primary"></div>
    <main>
      <section class="section-area mt-5">
        <div class="ui-decor ui-decor_mirror ui-decor_center"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-10 offset-md-1 text-center pt-4">
              <div class="ui-title-logo">AUTLINES</div>
              <h2 class="ui-title mb-4">We Provide Variety Of High-End<br>Auto Customizations</h2>
              <p>Eorem ipsum dolor sit amet, consectetur adipisicing elit sed eiusmod tempor et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation aliquip ex ea commodo consequat. Duis aute irure dolorin reprehenderits vol dolore fugiat nulla pariatur excepteur sint occaecat cupidatat. Non proident sunt ind culpa qudesa officia deserunt mollit anim est laboru unde omnis iste natus.</p>
              <div class="d-block"><a class="ui-link" href="#">Get Painting or Styling Estimation</a>
                <div class="b-phone b-phone_mod-a bg-gray"><i class="ic icon-call-end"></i> Call Us Today<a class="b-phone__number" href="tel:+17553028549">+1 (755) 302-8549</a></div>
                <!-- end .b-phone-->
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="section-default">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="b-advantages">
                <div class="ic flaticon-car-4 text-secondary"></div>
                <div class="b-advantages__main">
                  <div class="b-advantages__title">We are team of creative designers and artists</div>
                  <div class="b-advantages__info">Magna aliqua enim aduas dui veniam quis nostrud exercitation ullam laboris aut aliquip ex consequat.</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="b-advantages">
                <div class="ic flaticon-wrench text-secondary"></div>
                <div class="b-advantages__main">
                  <div class="b-advantages__title">We specialize in high end services and tools</div>
                  <div class="b-advantages__info">Magna aliqua enim aduas dui veniam quis nostrud exercitation ullam laboris aut aliquip ex consequat.</div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="b-advantages">
                <div class="ic flaticon-tyre text-secondary"></div>
                <div class="b-advantages__main">
                  <div class="b-advantages__title">We use professional approach to work</div>
                  <div class="b-advantages__info">Magna aliqua enim aduas dui veniam quis nostrud exercitation ullam laboris aut aliquip ex consequat.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end .b-advantages-->
      
      <div class="b-styles">
        <div class="container"><img class="img-fluid" src="assets/media/content/b-styles/1.jpg" alt="photo"/>
          <div class="row">
            <div class="col-lg-4">
              <div class="b-styles__main">
                <div class="b-styles__title">Premium Wraps Styles</div>
                <div class="b-styles__info">Magna aliqua enim aduas dui veniam quis nostrud exercitation ullam laboris aut aliquip consequat eiusmod tempor incididunt labore dolore magna enim sed veniams.</div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="b-styles__group row no-gutters">
                <div class="col-md-6">
                  <div class="b-styles__item b-styles__item_first">
                    <div class="b-styles__item-title">Custom Car Wraps</div>
                    <div class="b-styles__item-info">Adipisicing eiusmod tempor incidis</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="b-styles__item b-styles__item_second bg-primary">
                    <div class="b-styles__item-title">Color Change Wraps</div>
                    <div class="b-styles__item-info">Adipisicing eiusmod tempor incidis</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end .b-styles-->
      
      <div class="section-progress bg-dark">
        <div class="container-fluid">
          <div class="section-progress__inner">
            <div class="section-progress__img"><img class="img-scale" src="assets/media/content/b-progress/fig-1.png" alt="photo"></div>
            <div class="b-progress-list">
              <div class="row">
                <div class="b-progress-list__item col-md-6"><span class="b-progress-list__percent js-chart" data-percent="3874"><span class="js-percent"></span></span><span class="b-progress-list__name">Vehicles Stock</span></div>
                <div class="b-progress-list__item col-md-6 text-right"><span class="b-progress-list__percent js-chart" data-percent="265"><span class="js-percent"></span>+</span><span class="b-progress-list__name">Dealers Served</span></div>
                <div class="b-progress-list__item col-md-6"><span class="b-progress-list__percent js-chart" data-percent="1450"><span class="js-percent"></span>+</span><span class="b-progress-list__name">Vehicles on Sale</span></div>
                <div class="b-progress-list__item col-md-6 text-right"><span class="b-progress-list__percent js-chart" data-percent="6403"><span class="js-percent"></span></span><span class="b-progress-list__name">Happy Customers</span></div>
              </div>
            </div>
            <div class="section-progress__img ml-4"><img class="img-scale" src="assets/media/content/b-progress/fig-2.png" alt="photo"></div>
          </div>
        </div>
      </div>
      <section class="section-default bg-dark">
        <div class="ui-decor ui-decor_center bg-primary"></div>
        <div class="container mb-5">
          <div class="text-center">
            <div class="ui-title-logo ui-title-logo_dark">AUTLINES</div>
            <h2 class="ui-title ui-title_light text-uppercase">Expertise You can Trust</h2>
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <p>Dolore magna aliqua enim ad minim veniam, quis nostrud exercitation aliquip duis aute irure dolorin reprehenderits vol dolore fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid text-center mb-sm-5">
          <div class="b-semicircle-wrap text-center">
            <div class="b-semicircle b-semicircle_mod-a b-semicircle_primary">
              <div class="b-semicircle__inner"></div>
            </div>
            <div class="b-semicircle__number text-primary">85%</div>
            <div class="b-semicircle__title">Paint Jobs</div>
          </div>
          <div class="b-semicircle-wrap text-center">
            <div class="b-semicircle b-semicircle_mod-b b-semicircle_secondary">
              <div class="b-semicircle__inner"></div>
            </div>
            <div class="b-semicircle__number text-secondary">50%</div>
            <div class="b-semicircle__title">Car Wraps</div>
          </div>
          <div class="b-semicircle-wrap text-center">
            <div class="b-semicircle b-semicircle_mod-c b-semicircle_primary">
              <div class="b-semicircle__inner"></div>
            </div>
            <div class="b-semicircle__number text-primary">90%</div>
            <div class="b-semicircle__title">Window Tints</div>
          </div>
          <div class="b-semicircle-wrap text-center">
            <div class="b-semicircle b-semicircle_mod-d b-semicircle_secondary">
              <div class="b-semicircle__inner"></div>
            </div>
            <div class="b-semicircle__number text-secondary">22%</div>
            <div class="b-semicircle__title">Custom Designs</div>
          </div>
          <!-- end .b-semicircle-->
          
        </div>
      </section>
      <section class="section-special">
        <div class="row no-gutters">
          <div class="col-xl-6">
            <div class="section-special__inner bg-primary">
              <div class="text-center">
                <div class="ui-title-logo">AUTLINES</div>
                <h2 class="ui-title ui-title_light text-uppercase mb-1">Special Services</h2>
                <p class="section-special__info">Dolore magna aliqua enim minim veniam quis nostrud exercitation</p>
              </div>
              <div class="b-special-slider js-slider" data-slick="{&quot;slidesToShow&quot;: 3, &quot;slidesToScroll&quot;: 2, &quot;dots&quot;: true, &quot;arrows&quot;: false, &quot;autoplay&quot;: false,   &quot;responsive&quot;: [{&quot;breakpoint&quot;: 992, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1}}]}">
                <div class="b-special">
                  <div class="b-special__img"><img class="img-scale" src="assets/media/content/b-special/263x200/1.jpg" alt="photo"/></div>
                  <div class="b-special__title">Vehicle Color Change</div>
                </div>
                <!-- end .b-special-->
                
                <div class="b-special">
                  <div class="b-special__img"><img class="img-scale" src="assets/media/content/b-special/263x200/2.jpg" alt="photo"/></div>
                  <div class="b-special__title">Window Tinting</div>
                </div>
                <!-- end .b-special-->
                
                <div class="b-special">
                  <div class="b-special__img"><img class="img-scale" src="assets/media/content/b-special/263x200/3.jpg" alt="photo"/></div>
                  <div class="b-special__title">Car Body Polishing</div>
                </div>
                <!-- end .b-special-->
                
                <div class="b-special">
                  <div class="b-special__img"><img class="img-scale" src="assets/media/content/b-special/263x200/1.jpg" alt="photo"/></div>
                  <div class="b-special__title">Vehicle Color Change</div>
                </div>
                <!-- end .b-special-->
                
                <div class="b-special">
                  <div class="b-special__img"><img class="img-scale" src="assets/media/content/b-special/263x200/2.jpg" alt="photo"/></div>
                  <div class="b-special__title">Window Tinting</div>
                </div>
                <!-- end .b-special-->
                
                <div class="b-special">
                  <div class="b-special__img"><img class="img-scale" src="assets/media/content/b-special/263x200/3.jpg" alt="photo"/></div>
                  <div class="b-special__title">Car Body Polishing</div>
                </div>
                <!-- end .b-special-->
                
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="section-special__img"><img class="img-scale" src="assets/media/content/b-special/1000x700/1.jpg" alt="photo"></div>
          </div>
        </div>
      </section>
      <section class="section-gallery">
        <div class="container">
          <div class="text-center">
            <div class="ui-title-logo">AUTLINES</div>
            <h2 class="ui-title">Picture Gallery</h2>
          </div>
        </div>
        <div class="ui-gallery js-zoom-gallery">
          <div class="row no-gutters">
            <div class="col-lg-3 col-sm-6"><a class="ui-gallery__img js-zoom-gallery__item" href="assets/media/content/b-gallery/1.jpg"><img class="img-scale" src="assets/media/content/b-gallery/1.jpg" alt="photo"></a></div>
            <div class="col-lg-3 col-sm-6"><a class="ui-gallery__img js-zoom-gallery__item" href="assets/media/content/b-gallery/2.jpg"><img class="img-scale" src="assets/media/content/b-gallery/2.jpg" alt="photo"></a></div>
            <div class="col-lg-2 col-sm-6"><a class="ui-gallery__img js-zoom-gallery__item" href="assets/media/content/b-gallery/3.jpg"><img class="img-scale" src="assets/media/content/b-gallery/3.jpg" alt="photo"></a></div>
            <div class="col-lg-4 col-sm-6"><a class="ui-gallery__img js-zoom-gallery__item" href="assets/media/content/b-gallery/4.jpg"><img class="img-scale" src="assets/media/content/b-gallery/4.jpg" alt="photo"></a></div>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-5 col-sm-6"><a class="ui-gallery__img js-zoom-gallery__item" href="assets/media/content/b-gallery/5.jpg"><img class="img-scale" src="assets/media/content/b-gallery/5.jpg" alt="photo"></a></div>
            <div class="col-lg-2 col-sm-6"><a class="ui-gallery__img js-zoom-gallery__item" href="assets/media/content/b-gallery/6.jpg"><img class="img-scale" src="assets/media/content/b-gallery/6.jpg" alt="photo"></a></div>
            <div class="col-lg-3 col-sm-6"><a class="ui-gallery__img js-zoom-gallery__item" href="assets/media/content/b-gallery/7.jpg"><img class="img-scale" src="assets/media/content/b-gallery/7.jpg" alt="photo"></a></div>
            <div class="col-lg-2 col-sm-6"><a class="ui-gallery__img js-zoom-gallery__item" href="assets/media/content/b-gallery/8.jpg"><img class="img-scale" src="assets/media/content/b-gallery/8.jpg" alt="photo"></a></div>
          </div>
        </div>
      </section>
      <section class="section-team">
        <div class="container">
          <div class="text-center">
            <div class="ui-title-logo">AUTLINES</div>
            <h2 class="ui-title">Specialist Team Members</h2>
            <div class="b-goods-slider ui-slider ui-slider_dots-gray ui-slider_arr_btm-center ui-slider_arr_gray js-slider" data-slick="{&quot;slidesToShow&quot;: 3, &quot;slidesToScroll&quot;: 2, &quot;autoplay&quot;: false, &quot;dots&quot;: true, &quot;arrows&quot;: true, &quot;responsive&quot;: [{&quot;breakpoint&quot;: 992, &quot;settings&quot;: {&quot;slidesToShow&quot;: 2, &quot;slidesToScroll&quot;: 2}}, {&quot;breakpoint&quot;: 768, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1}}]}">
              <section class="b-team">
                <div class="b-team__inner">
                  <div class="b-team__media"><img class="img-scale" src="assets/media/content/b-team/1.jpg" alt="Foto"/></div>
                  <h3 class="b-team__name">Alexander Rayan</h3>
                  <div class="b-team__category">Wrap Stylist</div>
                  <ul class="b-team-soc list-unstyled">
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-behance"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </section>
              <!-- end .b-team-->
              <section class="b-team">
                <div class="b-team__inner">
                  <div class="b-team__media"><img class="img-scale" src="assets/media/content/b-team/2.jpg" alt="Foto"/></div>
                  <h3 class="b-team__name">Marey Jan Patrick</h3>
                  <div class="b-team__category">Sales Manager</div>
                  <ul class="b-team-soc list-unstyled">
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-behance"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </section>
              <!-- end .b-team-->
              <section class="b-team">
                <div class="b-team__inner">
                  <div class="b-team__media"><img class="img-scale" src="assets/media/content/b-team/3.jpg" alt="Foto"/></div>
                  <h3 class="b-team__name">Joseph Edward</h3>
                  <div class="b-team__category">Lead Designer</div>
                  <ul class="b-team-soc list-unstyled">
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-behance"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </section>
              <!-- end .b-team-->
              <section class="b-team">
                <div class="b-team__inner">
                  <div class="b-team__media"><img class="img-scale" src="assets/media/content/b-team/1.jpg" alt="Foto"/></div>
                  <h3 class="b-team__name">Alexander Rayan</h3>
                  <div class="b-team__category">Wrap Stylist</div>
                  <ul class="b-team-soc list-unstyled">
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-behance"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </section>
              <!-- end .b-team-->
              <section class="b-team">
                <div class="b-team__inner">
                  <div class="b-team__media"><img class="img-scale" src="assets/media/content/b-team/2.jpg" alt="Foto"/></div>
                  <h3 class="b-team__name">Marey Jan Patrick</h3>
                  <div class="b-team__category">Sales Manager</div>
                  <ul class="b-team-soc list-unstyled">
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-behance"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </section>
              <!-- end .b-team-->
              <section class="b-team">
                <div class="b-team__inner">
                  <div class="b-team__media"><img class="img-scale" src="assets/media/content/b-team/3.jpg" alt="Foto"/></div>
                  <h3 class="b-team__name">Joseph Edward</h3>
                  <div class="b-team__category">Lead Designer</div>
                  <ul class="b-team-soc list-unstyled">
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-behance"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook"></i></a></li>
                    <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i class="ic fab fa-instagram"></i></a></li>
                  </ul>
                </div>
              </section>
              <!-- end .b-team-->
            </div>
          </div>
        </div>
      </section>
      <section class="section-reviews area-bg area-bg_dark area-bg_op_90">
        <div class="area-bg__inner section-default">
          <div class="container text-center">
            <h2 class="ui-title-logo">What People Says...</h2>
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <div class="b-reviews-slider js-slider" data-slick="{&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1, &quot;autoplay&quot;: false, &quot;dots&quot;: false, &quot;arrows&quot;: false}">
                  <blockquote class="b-reviews">
                    <div class="b-reviews__text">Norem ipsum dolor sit amet consectetur adipisicing elit aliqua enim veniam quis nostrud exercita duis aute irure dolor krep rehenderit consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip irure dolor.</div>
                    <div class="b-reviews__footer">
                      <div class="b-reviews__name">Donald James</div>
                      <div class="b-reviews__category">Customer</div>
                    </div>
                  </blockquote>
                  <!-- end .b-reviews-->
                  
                  <blockquote class="b-reviews">
                    <div class="b-reviews__text">Norem ipsum dolor sit amet consectetur adipisicing elit aliqua enim veniam quis nostrud exercita duis aute irure dolor krep rehenderit consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip irure dolor.</div>
                    <div class="b-reviews__footer">
                      <div class="b-reviews__name">Donald James</div>
                      <div class="b-reviews__category">Customer</div>
                    </div>
                  </blockquote>
                  <!-- end .b-reviews-->
                  
                  <blockquote class="b-reviews">
                    <div class="b-reviews__text">Norem ipsum dolor sit amet consectetur adipisicing elit aliqua enim veniam quis nostrud exercita duis aute irure dolor krep rehenderit consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip irure dolor.</div>
                    <div class="b-reviews__footer">
                      <div class="b-reviews__name">Donald James</div>
                      <div class="b-reviews__category">Customer</div>
                    </div>
                  </blockquote>
                  <!-- end .b-reviews-->
                  
                </div>
              </div>
            </div>
          </div>
          <div class="ui-decor ui-decor_down"></div>
        </div>
      </section>
      <section class="section-default">
        <div class="container">
          <div class="text-center">
            <div class="ui-title-logo">AUTLINES</div>
            <h2 class="ui-title">Request A Quote</h2>
          </div>
          <form class="ui-form pt-5 pb-xl-4" action="#" method="post">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Your Name*</label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Email Address*</label>
                  <input class="form-control" type="email">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Phone No.</label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Vehicle Make/Model</label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Vehicle Year</label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-label">Service Interested In</label>
                  <input class="form-control" type="text">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label">Additional Information (If Any)</label>
                  <textarea class="form-control" rows="6"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 offset-md-4">
                <button class="btn btn-secondary w-100 mt-2">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
  </div>