<div class="container marginNav">
  <div class="row">
    <div class="col">
      <h1>Clicker Perú</h1>
      <h2>Política de Privacidad</h2>
      <ol class="newol">
        <li>
          <strong> Identificación del Responsable de Tratamiento: </strong>
          <p>
            Titular: STARTECH VENTURES SAC (en adelante Clicker) <br />
            Domicilio: Av. Juan Antonio Pezet N° 1505 <br />
            Teléfono: 977 669 714 <br />
            E-mail: gerencia@clicker.pe <br />
            RUC: 20603243766
          </p>
        </li>
        <li>
          <strong> Finalidad del Tratamiento de sus Datos Personales: </strong>
          <p>
            Cuando los datos personales sean recabados a través de cualquier
            formulario que se pueda habilitar en la Plataforma Web, será
            necesario que el usuario aporte, al menos, aquellos marcados como
            obligatorios, ya que, si no se suministrasen esos datos considerados
            necesarios, no podrá aceptar y gestionar el servicio web o consulta
            formulada.
          </p>
          <p>
            Los datos personales que tratamos a través de la Plataforma Web
            únicamente serán utilizados para las siguientes finalidades:
          </p>
          <ul>
            <li>
              Gestionar su alta como usuario registrado en la Plataforma Web.
            </li>
            <li>
              Ayudar en la gestión de las contrataciones de productos y/o
              servicios ofertados a través de la Plataforma Web.
            </li>
            <li>
              Remitir periódicamente nuestros boletines electrónicos con
              ofertas, promociones y noticias relacionadas con nuestro Sitio
              Web.
            </li>
            <li>
              Realizar informes estadísticos anónimos respecto de los hábitos de
              acceso y la actividad desarrollada por los usuarios en la
              Plataforma Web.
            </li>
            <li>
              Dar cumplimiento a las obligaciones legalmente establecidas.
            </li>
          </ul>
          <p>
            Con carácter general, la finalidad del tratamiento será la de
            gestionar la petición realizada a través de la web ya sea a través
            de formulario de contacto o cualquier otro tipo de impreso on line,
            o bien a través de una petición por correo electrónico. Tal petición
            podrá ser, sin carácter limitativo, la gestión de una petición, la
            contestación a una solicitud de información comercial, la solicitud
            de empleo o, en su caso, el alta en boletines informativos de la
            empresa, así como cualquier otra interacción entre el usuario de la
            web y Startech Ventures SAC que tienda a satisfacer la necesidad del
            usuario. Todos los datos solicitados son necesarios para poder
            atender la solicitud.
          </p>
          <p>
            Igualmente, los datos facilitados también serán tratados para
            remitirle información comercial sobre nuestros productos y servicios
            que pudieran resultar de su interés, por vía postal, correo
            electrónico, SMS, o cualquier otro medio de comunicación electrónica
            equivalente. En caso de que el usuario no deseara este último
            tratamiento tendrá oportunidad de oponerse a la recepción de las
            comunicaciones comerciales, no marcando la casilla correspondiente
            en el propio formulario de información o contacto, o incluso
            ejercitando su derecho de oposición en la dirección anteriormente
            mencionada.
          </p>
          <p>
            El acceso a este sitio web puede implicar la utilización de cookies.
            Las cookies son pequeñas cantidades de información que se almacenan
            en el navegador utilizado por el usuario, de manera que el servidor
            registra información que puede utilizarse en accesos posteriores. La
            información almacenada permite identificar a un usuario concreto y
            tener registrada información sobre sus preferencias, páginas que
            visite, etc. Si no desea permitir la instalación de cookies en su
            ordenador deberá configurar su navegador a tal efecto.
          </p>
        </li>
        <li>
          <strong> Tiempo de conservación </strong>
          <p>
            La información relativa a su persona será conservada durante el
            periodo de vigencia de la relación comercial, o el interés por el
            que esté leyendo la presente política (por ejemplo, si se ha
            registrado en la plataforma, o si se ha suscrito a un newsletter)
            mientras no se solicite la supresión de sus datos, durante el plazo
            de prescripción de las acciones que pudieran surgir en relación con
            el presente contrato; así como por cualquier reclamación que
            pudiéramos recibir por parte de organismos oficiales en cumplimiento
            de normas legislativas.
          </p>
        </li>
        <li>
          <strong>
            Información para enviarle comunicaciones comerciales
          </strong>
          <p>
            Los datos personales proporcionados para el envío de comunicaciones
            comerciales se seguirán conservando hasta que Usted no revoque el
            consentimiento, todo ello sin perjuicio de su derecho de supresión u
            oposición.
          </p>
        </li>
        <li>
          <strong> Legitimación para el tratamiento de sus datos </strong>
          <p>
            La base legal para el tratamiento de sus datos es la ejecución de la
            relación comercial en la que Usted es parte, de manera que podamos
            gestionar, desarrollar y controlar la correspondiente relación
            comercial y contractual. Todos los datos que le solicitamos tienen
            el carácter de obligatorio, por lo que la inobservancia de algunos
            puede imposibilitar la prestación de los servicios que ofrecemos a
            través de nuestra página web.
          </p>
          <p>
            En relación con el envío de comunicaciones comerciales por medios
            electrónicos - a raíz de una relación contractual previa - la base
            legal es el interés legítimo de Startech Ventures SAC en virtud de
            la Ley Nº 29733 según Decreto Supremo Nº 003-2013-JUS de Protección
            de Datos Personales.
          </p>
          <p>
            En relación con el envío de comunicaciones comerciales por cualquier
            medio, incluidos los electrónicos - al margen de cualquier relación
            contractual, pero en base a un interés legítimo ya que Usted se
            dirige a la entidad - la base legal es el consentimiento que se le
            solicita en su momento y Usted otorga libremente. En caso de no
            obtener su consentimiento, Startech Ventures SAC se compromete a no
            tratar sus datos con fines publicitarios.
          </p>
        </li>
        <li>
          <strong>
            Comunicación o Cesión de datos y transferencia internacional de
            datos
          </strong>
          <p>
            Sus datos personales serán cedidos al concesionario oficial
            propietario del vehículo, a la distribuidora del mismo y al propio
            fabricante con la finalidad de prestarle los servicios que resulten
            del cumplimiento, mantenimiento y control del contrato que, en su
            caso, haya concluido respecto a un vehículo, tales como servicios de
            post venta y garantía, así como para mantenerle informado o
            realizarle encuestas de satisfacción acerca de productos o servicios
            o del sector de automoción vía telefónica, postal, o electrónica.
          </p>
          <p>
            Asimismo, sus datos personales podrán ser cedidos a aquellas
            entidades financieras o compañías de seguros pertinentes en caso de
            que el usuario haya contratado a través de la Plataforma el servicio
            de financiación del vehículo y/o la contratación del seguro del
            vehículo.
          </p>
          <p>
            Startech Ventures SAC podrá comunicar sus datos personales a
            aquellas administraciones públicas con competencia en la materia y
            en el caso de que exista obligación legal de hacerlo.
          </p>
          <p>
            No obstante, si en algún momento de la relación comercial fuera
            necesario comunicar sus datos a terceros para nuevas finalidades,
            dicha comunicación se realizará cuando Startech Ventures SAC cuente
            con su consentimiento previo para ello y en la forma legalmente
            exigida.
          </p>
          <p>
            Igualmente pueden existir terceras personas que, como consecuencia
            de servicios prestados a Startech Ventures SAC puedan acceder a sus
            datos personales.
          </p>
          <p>
            Podría efectuarse una transferencia internacional de datos en los
            casos en los que el fabricante del vehículo estuviera ubicado fuera
            de la Unión Europea.
          </p>
        </li>
        <li>
          <strong> Derechos </strong>
          <p>
            Cualquier persona tiene derecho a obtener confirmación sobre si en
            Startech Ventures SAC estamos tratando datos personales que les
            conciernan, y en tal caso, derecho de acceso a sus datos personales,
            a los fines del tratamiento, y a las categorías de datos personales
            de que se trate.
          </p>
          <p>
            Asimismo, tendrá derecho a solicitar la rectificación de los datos
            inexactos o, en su caso, solicitar su supresión cuando, los datos ya
            no sean necesarios para los fines que fueron recogidos; se haya
            retirado el consentimiento en el que se basa el tratamiento o se
            oponga al tratamiento; los datos personales se hayan tratado de
            manera ilícita; o deban suprimirse para el cumplimiento de una
            obligación legal establecida en el derecho de la Unión o de los
            Estados miembros.
          </p>
          <p>
            Podrá solicitar la limitación del tratamiento de sus datos cuando,
            impugne la exactitud de los datos personales durante el plazo que
            permita al responsable verificar la exactitud de los mismos; el
            tratamiento sea ilícito y el interesado se oponga a la supresión de
            los datos personales y solicite en su lugar la limitación de su uso;
            el responsable ya no necesite los datos personales para los fines
            del tratamiento, pero el interesado los necesite para la
            formulación, el ejercicio o la defensa de reclamaciones; o el
            interesado se haya opuesto al tratamiento, mientras se verifica si
            los motivos legítimos del responsable prevalecen sobre los del
            interesado. En tales casos, únicamente conservaremos los datos para
            el ejercicio o la defensa de reclamaciones.
          </p>
          <p>
            En determinadas circunstancias y por motivos relacionados con su
            situación particular, usted podrá oponerse al tratamiento de sus
            datos. Startech Ventures SAC dejará de tratar los datos, salvo por
            motivos legítimos imperiosos, o el ejercicio o la defensa de
            posibles reclamaciones.
          </p>
          <p>
            Tendrá derecho a recibir los datos personales que le incumban, y que
            haya facilitado, en un formato estructurado, y a transmitirlos a
            otro responsable del tratamiento sin que lo impida el responsable al
            que se los hubiera facilitado, cuando, el tratamiento este basado en
            el consentimiento; o el tratamiento se efectúe por medios
            automatizados.
          </p>
          <p>
            Cuando las personas afectadas ejerzan los derechos de acceso,
            rectificación, supresión y oposición, limitación del tratamiento,
            portabilidad de datos y a no ser objeto de decisiones
            individualizadas automatizadas, deberán comunicarlo por correo
            electrónico a la dirección gerencia@clicker.pe
          </p>
          <p>
            Finalmente, en los términos establecidos en la legislación vigente;
            podrán revocar los consentimientos que nos hayan ido facilitando,
            teniendo las personas interesadas la posibilidad de presentar una
            reclamación ante la Agencia Española de Protección de Datos.
          </p>
        </li>
        <li>
          <strong> Procedencia </strong>
          <p>
            Los datos personales que tratamos en Startech Ventures SAC proceden
            del propio interesado.
          </p>
        </li>
        <li>
          <strong> Publicidad y Promociones </strong>
          <p>
            Toda la Publicidad que STARTECH VENTURES SAC presente a través de la
            Plataforma y de cualquier otro medio de comunicación, difusión y/o
            publicidad, se rige principalmente por el contenido de estos
            Términos y Condiciones, en cumplimiento de lo establecido en la Ley
            de Protección al Consumidor y cualquier otra normativa aplicable.
          </p>
          <p>
            En cuanto a las promociones, estas no son acumulables con otras,
            independientemente de que estas últimas sean publicadas o no por
            STARTECH VENTURES SAC. La validez de todas las promociones que
            dependerá, principalmente, de lo siguiente:
          </p>
          <ul>
            <li>
              La existencia de los productos que formen parte de cada promoción;
            </li>
            <li>
              La vigencia de cada promoción, siendo que cada una será válida de
              acuerdo a la fecha de inicio y la fecha de fin que STARTECH
              VENTURES SAC determine para la misma;
            </li>
            <li>
              Del límite de personas que STARTECH VENTURES SAC determine para el
              disfrute de la promoción, siendo que, por defecto, todas las
              promociones se restringen a 1 (una) promoción por persona; y
            </li>
            <li>
              Cualquier otra restricción que STARTECH VENTURES SAC considere en
              las bases y condiciones de cada promoción, de ser el caso.
            </li>
          </ul>
          <p>
            STARTECH VENTURES SAC informará a los Usuarios a través de la
            Plataforma, de correo electrónico, y/o a través de cualquier otro
            medio de comunicación, difusión y/o publicidad, todas las
            promociones y descuentos vigentes, con las respectivas fechas y
            bases o condiciones.
          </p>
          <p>
            Todos los productos están sujetos a disponibilidad y/o existencia.
            Las imágenes de los banners son ilustrativas. Los Precios se
            encuentran sujetos a cambios sin previo aviso. Todos los Precios
            publicados el Sitio Web: www.clicker.pe, prevalecerán sobre
            cualquier otro precio, inclusive aquel que pueda encontrarse
            adherido al Vehículo o exhibido en él de cualquier otra forma.
          </p>
        </li>
        <li>
          <strong> Propiedad Intelectual </strong>
          <p>
            Todos los nombres, logotipos y marcas utilizadas en la Plataforma,
            son propiedad de STARTECH VENTURES SAC, sus empresas filiales y/o
            subsidiarias, sus clientes o proveedores de contenido, y ninguno de
            estos elementos podrá ser utilizado para propósito alguno sin una
            autorización, expresa y por escrito del titular de dichos signos
            distintivos. El uso no autorizado de dichos elementos será
            sancionado de conformidad con la legislación aplicable. Asimismo,
            todo el material contenido tanto en la plataforma como en la
            aplicación móvil, incluyendo más no limitando a: diseños, dibujos,
            programas de cómputo, bases de datos, material gráfico, audiovisual,
            fotográfico, textos, invenciones, modelos, entre otros derechos de
            Propiedad Intelectual en amplio sentido, son propiedad única y
            exclusiva de STARTECH VENTURES SAC y se encuentran protegidos por la
            Ley Federal del Derecho de Autor, la Ley de la Propiedad Industrial,
            así como por las leyes en materia de Propiedad Intelectual de otros
            países y los Tratados Internacionales en la materia de los que
            México sea parte.
          </p>
          <p>
            En adición a lo anterior, el Usuario se obliga a pagar a STARTECH
            VENTURES SAC los daños y perjuicios causados por cualquier uso no
            autorizado de los derechos de propiedad intelectual de STARTECH
            VENTURES SAC, sus empresas filiales y/o subsidiarias, sus clientes o
            proveedores de contenido, incluyendo los honorarios de abogados, así
            como cualquier cantidad erogada para la defensa de STARTECH VENTURES
            SAC, sin que dichos pagos obsten para la aplicación de las sanciones
            correspondientes por parte de la autoridad que corresponda, por las
            infracciones o delitos en que se incurra. STARTECH VENTURES SAC se
            reserva el derecho de ejercitar las acciones que correspondan ante
            las autoridades en la materia.
          </p>
        </li>
        <li>
          <strong> Información Adicional </strong>
          <p>
            Los usuarios garantizan y responden, en cualquier caso, de la
            veracidad, exactitud, vigencia, autenticidad de los Datos Personales
            proporcionados, y se comprometen a mantenerlos debidamente
            actualizados. Asimismo, los usuarios garantizan ser mayores de 14
            años.
          </p>
          <p>
            En caso de que se facilitaran datos de carácter personal, por
            personas no titulares de los mismos, el usuario deberá, con carácter
            previo a su inclusión, informar a dichas personas de los extremos
            contenidos en los párrafos anteriores. En estos casos, el usuario
            garantiza que los datos informados son de mayores de 14 años y que
            la información es exacta y veraz. Startech Ventures SAC quedará
            exenta de cualquier responsabilidad por el incumplimiento por parte
            del usuario de estos requisitos.
          </p>
          <p>
            Startech Ventures SAC ha adoptado los niveles de seguridad de
            protección de los Datos Personales legalmente requeridos, y ha
            instalado todos los medios y medidas técnicas a disposición según el
            estado de la tecnología para evitar la pérdida, mal uso, alteración,
            acceso no autorizado y robo de los Datos Personales facilitados.
          </p>
          <p>
            El usuario cuenta con la confidencialidad y el deber de secreto de
            los empleados de Startech Ventures SAC y de todos aquellos que
            traten los datos en nombre y por cuenta del mismo. Sin perjuicio de
            lo anterior, el usuario es consciente de la posibilidad de que la
            seguridad de las comunicaciones a través de red no sea invulnerable.
          </p>
        </li>
      </ol>
      <h2>Politica de Cookies</h2>
      <p>
        El acceso y la navegación en la Plataforma Web, o el uso de los
        servicios de la misma, implican la aceptación de los términos y
        condiciones recogido en el Aviso Legal y en la Política de Protección de
        Datos.
      </p>
      <p>
        Con el fin de facilitar su navegación por la Plataforma Web, Startech
        Ventures SAC, S.L., (en ade lante, el “prestador”) con domicilio social
        en Calle Alcalá, número 65, 28014 de Madrid, con CIF B87677043, le
        comunica que utiliza Cookies u otros archivos de funcionalidad similar
        (en ade lante, las “Cookies”).
      </p>
      <p>
        En todo caso, le informamos de que el prestador es el responsable de las
        Cookies y del tratamiento de los datos obtenidos a través de las Cookies
        propias y de terceros decidiendo sobre la finalidad, contenido y uso del
        tratamiento de la información recabada.
      </p>
      <ol class="newol">
        <li>
          <strong> ¿Qué es una Cookie? </strong>
          <p>
            Las Cookies son archivos que contienen pequeñas cantidades de
            información que se descargan en el dispositivo del usuario cuando
            visita una página web. Su finalidad principal es reconocer al
            usuario cada vez que accede al Sitio Web permitiendo, además,
            mejorar la calidad y ofrecer un mejor uso de la Plataforma Web.
          </p>
          <p>
            Las Cookies son esenciales para el funcionamiento de Internet; no
            pueden dañar el equipo/dispositivo del usuario y, si se encuentran
            activadas en la configuración de su navegador, ayudan a identificar
            y resolver posibles errores de funcionamiento de la Plataforma Web.
          </p>
        </li>
        <li>
          <strong> Uso de Cookies por parte del prestador </strong>
          <p>
            Mediante el acceso a la Plataforma Web, acepta de manera expresa la
            utilización de este tipo de Cookies en sus dispositivos. Si
            desactiva las Cookies, puede que su navegación por la Plataforma Web
            no sea óptima y algunas de las utilidades de que dispone la
            Plataforma Web no funcionen correctamente.
          </p>
          <p>
            Concretamente, el prestador está utilizando las Cookies para las
            finalidades que a continuación se exponen. Si en un futuro el
            prestador utilizase otras con el propósito de otorgar más y mejores
            servicios, se informará al usuario de ello.
          </p>
        </li>
        <li>
          <strong> Cookies de terceros </strong>
          <p>
            Cookies de personalización de Google Analytics. El prestador a
            través de la Plataforma Web utiliza Google Analytics, servicio
            prestado por Google, Inc., entidad cuya oficina principal está en
            1600 Amphitheatre Parkway, Mountain View (California), CA 94043,
            Estados Unidos ("Google").
          </p>
          <p>
            Google Analytics utiliza Cookies con el propósito de analizar el uso
            que hacen los usuarios de la Plataforma Web. La información que
            genera la Cookie (incluyendo su dirección IP) será directamente
            transmitida y archivada por Google en sus servidores de Estados
            Unidos. Google usará esta información por cuenta del prestador con
            el propósito de seguir la pista de su uso del sitio, recopilando
            informes de la actividad del sitio y prestando otros servicios
            relacionados con la actividad de la Plataforma Web y el uso de
            Internet. Google podrá transmitir dicha información a terceros
            cuando así se lo requiera la legislación, o cuando dichos terceros
            traten la información por cuenta de Google. Google no asociará su
            dirección IP con ningún otro dato de que disponga.
          </p>
          <p>
            Al utilizar este sitio consiente el tratamiento su información por
            Google en la forma y para los fines arriba indicados.
          </p>
          <p>Estas son las Cookies que se utilizan en la Plataforma Web:</p>
          <ol class="newol">
            <li>
              <strong> Cookies analíticas </strong>
              <p>
                <strong> Nombre: _utma </strong> <br />
                Propósito: Esta cookie normalmente se almacena en el navegador
                en la primera visita a nuestro sitio web. Si la cookie ha sido
                borrada a través del navegador y posteriormente vuelve a visitar
                nuestra Plataforma Web, una nueva cookie del tipo _utma se
                escribe con un ID único diferente. Esta cookie se utiliza para
                determinar visitantes únicos a nuestra Plataforma web y se
                actualiza con cada vista de página. Adicionalmente, esta cookie
                proporciona un identificador único que Google Analytics utiliza
                para asegurar la validez y la accesibilidad de la cookie, así
                como una medida de seguridad extra. <br />
                <em>
                  Duración: Dos años a partir de su instalación o actualización.
                </em>
              </p>
              <p>
                <strong> Nombre: _utmb </strong> <br />
                Propósito: Estas cookies trabajan juntas para almacenar
                información sobre la actividad de la visita a nuestro sitio web
                y principalmente la duración de ésta.
                <em> Duración: 30 min </em>
              </p>
              <p>
                <strong> Nombre: _utmc </strong> <br />
                Propósito: Estas cookies trabajan juntas para almacenar
                información sobre la actividad de la visita a nuestro sitio web
                y principalmente la duración de ésta.
                <em> Duración: Sesión </em>
              </p>
              <p>
                <strong> Nombre: _utmz </strong> <br />
                Propósito: Esta cookie normalmente se almacena en el navegador
                en la primera visita a nuestra Plataforma Web. Esta cookie
                almacena cómo ha llegado el visitante a nuestra Plataforma Web
                ya sea directamente introduciendo la dirección del dominio, un
                enlace, una búsqueda web o un anuncio. La cookie se actualiza
                cada vez que visita nuestra web.
                <em>
                  Duración: Seis meses desde su instalación o actualización
                </em>
              </p>
              <p>
                Si desea más información al respecto, puede visitar la siguiente
                URL:
                <a href="http://www.google.com/intl/es/analytics/"
                  >http://www.google.com/intl/es/analytics/</a
                >
              </p>
              <p>
                <strong> Otras cookies de terceros </strong> <br />
                El prestador a través de la Plataforma Web también utiliza
                servicios de Microsoft Iberica Srl., Hotjar Sl e Intercom, Inc
                que utilizan cookies para recopilar información con fines
                estadísticos y de uso de la web.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <strong> Configuración del usuario para evitar Cookies </strong>
          <p>
            En cumplimiento de la normativa legal vigente, ponemos a su
            disposición la información que le permita configurar su
            navegador/navegadores de Internet para mantener su privacidad y
            seguridad en relación con las Cookies. Por ello, le facilitamos la
            información y enlaces a los sitios de soporte oficiales de los
            principales navegadores para que pueda decidir si desea o no aceptar
            el uso de Cookies. Así, puede bloquear las Cookies a través de las
            herramientas de configuración del navegador, o bien, puede
            configurar su navegador para que le avise cuando un servidor quiera
            guardar una Cookie.
          </p>
          <p>
            Si utiliza Chrome, en la sección de Opciones > Opciones avanzadas >
            Privacidad. Para saber más
            https://support.google.com/accounts/answer/61416?hl=es
          </p>
          <p>
            Si utiliza Safari, encontrará la opción en el menú
            Preferencias/Privacidad. Más información en:
            http://support.apple.com/kb/HT1677?viewlocale=es_ES
            http://support.apple.com/kb/PH5042?viewlocale=es_ES
          </p>
          <p>
            Si el usuario deseara más información sobre cómo revocar el
            consentimiento prestado o sobre el procedimiento para deshabilitar
            las cookies, así como realizar alguna pregunta sobre la Política de
            Cookies del Sitio Web, se puede poner en contacto con el Titular a
            través de la siguiente dirección help@gotrive.com indicando en el
            asunto “Política de Cookies”.
          </p>
          <p>Última actualización: 9 de abril de 2021</p>
          <p>© Startech Ventures SAC, Todos los derechos reservados.</p>
        </li>
      </ol>
    </div>
  </div>
</div>
