<section class="section-special">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-xl-6 col-lg-6">
        <div class="section-special__inner bg-primary">
          <div class="text-center">
            <div class="ui-title-logo">CLICKER</div>
            <h2 class="ui-title ui-title_light text-uppercase mb-1">
              Regístrate
            </h2>
            <p class="section-special__info">¡Ingresa a la plataforma!</p>
            <p class="section-special__info">Regístrate como</p>
            <div
              class="d-flex flex-wrap align-items-center justify-content-center"
            >
              <h2 class="ui-title">
                <a
                  routerLinkActive="active"
                  class="
                    b-main-filter-nav__link
                    nav-link
                    text-uppercase
                    font-weight-bold
                  "
                  [routerLink]="['/registro/remax']"
                  >Franquicia</a
                >
              </h2>
              <h2 class="ui-title">
                <a
                  routerLinkActive="active"
                  class="
                    b-main-filter-nav__link
                    nav-link
                    text-uppercase
                    font-weight-bold
                  "
                  [routerLink]="['/registro/particular']"
                  >Particular</a
                >
              </h2>
            </div>
            <div>
              ¿Ya tienes una cuenta?
              <span
                class="
                  b-main-filter-nav__link
                  nav-link
                  text-uppercase
                  font-weight-bold
                "
                [routerLink]="['/login']"
              >
                Logéate.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
