<div>
  <div style="margin-top: 155px">
    <app-sidebar
      *ngIf="!registerCarUrl"
      [ngClass]="{
        sidebar: commonService.screenWidth > 672,
        sidebar_phone: commonService.screenWidth <= 672,
        sidebar_desk: commonService.screenWidth > 672
      }"
      [ngStyle]="{
        display: commonService.screenWidth <= 672 ? 'none' : 'block',
        top: scrolled ? '70px' : '158px'
      }"
      [isAdmin]="isAdmin"
      [isRemax]="isRemax"
      [isUser]="isUser"
    ></app-sidebar>
    <!-- TODO: Quitar esto y terminarlo en el navbar -->
    <div *ngIf="commonService.screenWidth <= 672">
      <mat-icon
        class="position-relative fixed-top my-3 ml-3"
        [ngStyle]="{
          color: isAdmin ? 'rgb(148, 82, 192)' : 'rgb(82, 169, 192)'
        }"
        aria-hidden="false"
        data-toggle="collapse"
        href="#menu"
        role="button"
        aria-expanded="false"
        aria-controls="menu"
      >
        menu
      </mat-icon>
      <div class="collapse" id="menu">
        <!-- <app-sidebar
            [ngClass]="{
              sidebar: false,
              sidebar_phone: true,
              sidebar_desk: false,
            }"
            [mobile]="true"
          >
          </app-sidebar> -->
        <!-- Remax options -->
        <ul
          class="list-group py-5 sideops-container pl-0"
          *ngIf="isRemax || isUser; else admin"
        >
          <li
            class="
              d-flex
              flex-column
              align-items-center
              justify-content-between
              sidebar-item
            "
            routerLink="cuenta"
          >
            <mat-icon class="mt-xs-1">account_circle</mat-icon>
            <a class="mb-xs-1">Cuenta</a>
          </li>
          <li
            *ngIf="isRemax"
            class="
              my-2
              d-flex
              flex-column
              align-items-center
              justify-content-between
              sidebar-item
            "
            routerLink="balance"
          >
            <mat-icon>account_balance</mat-icon>
            <a>Balance</a>
          </li>
          <li
            *ngIf="isRemax"
            class="
              my-2
              d-flex
              flex-column
              align-items-center
              justify-content-between
              sidebar-item
            "
            routerLink="autos-interesantes"
          >
            <mat-icon>stars</mat-icon>
            <a>Autos Interesantes</a>
          </li>
          <li
            class="
              my-2
              d-flex
              flex-column
              align-items-center
              justify-content-between
              sidebar-item
            "
            routerLink="registrar-auto"
          >
            <mat-icon>directions_car</mat-icon>
            <a>Registrar auto</a>
          </li>
          <li
            class="
              my-2
              d-flex
              flex-column
              align-items-center
              justify-content-between
              sidebar-item
            "
            routerLink="publicados-autos"
          >
            <mat-icon>work</mat-icon>
            <a>Autos Publicados</a>
          </li>
          <li
            class="
              my-2
              d-flex
              flex-column
              align-items-center
              justify-content-between
              sidebar-item
            "
            routerLink="reportar-incidencia"
          >
            <mat-icon>warning</mat-icon>
            <a>Reportar Incidencia</a>
          </li>
          <li
            class="
              my-2
              d-flex
              flex-column
              align-items-center
              justify-content-between
              sidebar-item
            "
            routerLink="home"
          >
            <mat-icon>exit_to_app</mat-icon>
            <a>Regresar</a>
          </li>
        </ul>
        <!-- Admin options -->
        <!-- <ng-template #admin>
          <ul
            class="
              sideops-container
              d-flex
              flex-column
              align-items-between
              justify-content-center
              pl-0
            "
          >
            <li
              class="
                img-thumbnail
                my-2
                d-flex
                flex-column
                align-items-center
                justify-content-between
                sidebar-item
              "
              routerLink="autos-por-validar"
            >
              <mat-icon>car_repair</mat-icon>
              <a>Autos por Validar</a>
            </li>
            <li
              class="
                img-thumbnail
                my-2
                d-flex
                flex-column
                align-items-center
                justify-content-between
                sidebar-item
              "
              routerLink="solicitudes-franquicia"
            >
              <mat-icon>how_to_reg</mat-icon>
              <a>Solicitudes Remax</a>
            </li>
            <li
              class="
                img-thumbnail
                my-2
                d-flex
                flex-column
                align-items-center
                justify-content-between
                sidebar-item
              "
              routerLink="autos-reportados"
            >
              <mat-icon>local_car_wash</mat-icon>
              <a>Autos Reportados</a>
            </li>
            <li
              class="
                img-thumbnail
                my-2
                d-flex
                flex-column
                align-items-center
                justify-content-between
                sidebar-item
              "
              routerLink="registrar-venta"
            >
              <mat-icon>attach_money</mat-icon>
              <a>Registrar una Venta</a>
            </li>
            <li
              class="
                img-thumbnail
                my-2
                d-flex
                flex-column
                align-items-center
                justify-content-between
                sidebar-item
              "
              routerLink="solicitudes-de-pago"
            >
              <mat-icon>request_quote</mat-icon>
              <a>Solicitudes de Pago</a>
            </li>
            <li
              class="
                img-thumbnail
                my-2
                d-flex
                flex-column
                align-items-center
                justify-content-between
                sidebar-item
              "
              routerLink="autos-patrocinados"
            >
              <mat-icon>electric_car</mat-icon>
              <a>Autos Patrocinados</a>
            </li>
            <li
              class="
                img-thumbnail
                my-2
                d-flex
                flex-column
                align-items-center
                justify-content-between
                sidebar-item
              "
              routerLink="cambiar-banner"
            >
              <mat-icon>collections</mat-icon>
              <a>Imagen Banner</a>
            </li>
            <li
              class="
                img-thumbnail
                my-2
                d-flex
                flex-column
                align-items-center
                justify-content-between
                sidebar-item
              "
              routerLink="home"
            >
              <mat-icon>exit_to_app</mat-icon>
              <a>Regresar</a>
            </li>
          </ul>
        </ng-template> -->
      </div>
      <!-- <h1 class="mt-5 text-center">Dashboard</h1> -->
    </div>
  </div>
  <div
    [ngClass]="{
      'wrapper-xs': commonService.screenWidth <= 672
    }"
  >
    <div
      class="pill-container"
      [ngClass]="{
        rightWrapper: true,
        'bg-form': true,
        'wrapper-lg': commonService.screenWidth > 672 && !registerCarUrl
      }"
    >
      <!-- [ngStyle]="{
        'min-height':
          commonService.screenWidth <= 672
            ? 'calc(' + commonService.screenHeight + 'px - 2vw - 50px)'
            : 'calc(' + commonService.screenHeight + 'px - 2vw)'
      }" -->
      <div class="pill text-white" *ngIf="isRemax && user">
        Balance: $ {{ user.balance }}
      </div>
      <ng-template [ngIf]="isUser && isDashboard">
        <div class="container-fluid pt-5">
          <div class="row">
            <div class="col text-center">
              <h1 class="welcome">¡BIENVENIDO A CLICKER!</h1>
              <section class="section-area mt-5">
                <div class="container">
                  <div class="text-center">
                    <!-- <div class="ui-title-logo">CLICKER</div> -->
                    <h2 class="ui-title">¿Cómo funciona?</h2>
                    <p>Compra o vende tu auto con nosotros</p>
                  </div>
                </div>
                <div class="container-fluid">
                  <div class="b-stages">
                    <div class="row no-gutters align-items-start">
                      <div class="b-stages__item col-lg-3">
                        <span class="b-stages__number">01</span>
                        <div class="b-stages__title text-primary">
                          Encuentra tu auto
                        </div>
                        <div class="b-stages__info">
                          Usa el buscador para filtrar el auto nuevo o seminuevo
                          que estés buscando.
                        </div>
                      </div>
                      <div
                        class="
                          b-stages__item
                          col-lg-3
                          d-flex-lg
                          flex-lg-column-reverse
                        "
                      >
                        <span class="b-stages__number">02</span>
                        <div class="b-stages__inner">
                          <div class="b-stages__title text-primary">
                            Envía tu solicitud
                          </div>
                          <div class="b-stages__info">
                            Si te gustó un auto nuevo o seminuevo, envía tu
                            solicitud y nuestros asesores se pondrán en contacto
                            contigo.
                          </div>
                        </div>
                      </div>
                      <div class="b-stages__item col-lg-3">
                        <span class="b-stages__number">03</span>
                        <div class="b-stages__title text-primary">
                          ¿Quieres vender?
                        </div>
                        <div class="b-stages__info">
                          Crea tu cuenta, publica tu auto, espera la aprobación
                          y Clicker se encarga.
                        </div>
                      </div>
                      <div
                        class="
                          b-stages__item
                          col-lg-3
                          d-flex-lg
                          flex-lg-column-reverse
                        "
                      >
                        <span class="b-stages__number">04</span>
                        <div class="b-stages__inner">
                          <div class="b-stages__title text-primary">
                            No más trámites
                          </div>
                          <div class="b-stages__info">
                            En Clicker estamos para ayudarte. Disfruta de tu
                            auto nuevo o seminuevo y evítate trámites al vender
                            tu auto con nosotros.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="(isUser && !isDashboard) || !isUser">
        <router-outlet></router-outlet>
      </ng-template>
    </div>
  </div>
</div>
