<div>
    <div>
      <app-sidebar
        [ngClass]="{
          sidebar: true,
          sidebar_phone: commonService.screenWidth < 426,
          sidebar_desk: commonService.screenWidth > 426
        }"
      ></app-sidebar>
      <!-- [ngStyle]="{
        'display': commonService.screenWidth < 426 ? 'none' : 'block'
      }" -->
    </div>
    <div
      [ngClass]="{
        'wrapper-xs': commonService.screenWidth < 426
      }"
    >
      <div
        [ngStyle]="{
          'min-height':
            commonService.screenWidth < 426
              ? 'calc(' + commonService.screenHeight + 'px - 2vw - 50px)'
              : 'calc(' + commonService.screenHeight + 'px - 2vw)'
        }"
        [ngClass]="{
          rightWrapper: true,
          'bg-form': true,
          'wrapper-lg': commonService.screenWidth > 426
        }"
      >
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  