.sidebar {
  position: fixed;
  z-index: 600;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-right: 50px; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.sidebar_desk {
  top: 0;
  bottom: 0;
  left: 0;
}

.pill-container {
  position: relative;
}

/* TODO: poner arriba el pill en la vista nuevo */

.pill {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: rgb(68, 153, 178);
  border-radius: 25px;
  padding: 20px;
  min-width: 5vw;
}

@media screen and (max-width: 425px) {
  .pill {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 25px;
    padding: 10px;
    min-width: 3vw;
  }
}

.sidebar_phone {
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  border-radius: 0;
  flex-direction: row;
  padding: 0 0 0 0.5rem;
  background-color: blue;
}

.wrapper-lg {
  padding-left: 200px;
  padding-top: 0px;
  height: 100%;
}
