<div class="container marginNav">
  <div class="row">
    <div class="col">
      <h1>Clicker Perú</h1>
      <h2>Términos y Condiciones generales de uso</h2>
      <p>
        El acceso, navegación y utilización de la plataforma web (en adelante,
        la “Plataforma Web”) implica la aceptación expresa y sin reservas de
        todos los términos de las presentes Condiciones de Uso, teniendo la
        misma validez y eficacia que cualquier contrato celebrado por escrito y
        firmado.
      </p>
      <p>
        Su observancia y cumplimiento será exigible respecto de cualquier
        persona que acceda, navegue o utilice la Plataforma Web. Si Ud. no está
        de acuerdo con los términos expuestos, no acceda, navegue o utilice la
        Plataforma Web.
      </p>
      <ol class="newol">
        <li>
          <strong> Identificación </strong>
          <p>
            Titular: STARTECH VENTURES SAC (en adelante Clicker) <br />
            Domicilio: Av. Juan Antonio Pezet N° 1505 <br />
            Teléfono: 977 669 714 <br />
            E-mail: gerencia@clicker.pe <br />
            RUC: 20603243766
          </p>
        </li>
        <li>
          <strong> Objeto </strong>
          <p>
            Este sitio web es una Plataforma tecnológica en la que el usuario
            puede configurar el vehículo que desea, obtener el precio del mismo
            y proceder tanto a su prueba, a través de un test drive de un
            vehículo igual o al menos similar al que desea, así como a su compra
            online.
          </p>
          <p>
            Clicker se limita a gestionar la Plataforma Web en los términos
            descritos en estas condiciones, constituyendo ésta una plataforma a
            través de la cual los concesionarios oficiales proceden a la venta
            de sus vehículos. Clicker no es, en consecuencia, un concesionario
            oficial, no forma parte de la red de concesionarios de las marcas de
            los vehículos incluidos en la Plataforma Web ni tiene relación
            empresarial alguna con los titulares de tales marcas.
          </p>
          <p>
            Las presentes Condiciones de Uso regulan el acceso, navegación y
            utilización de la presente Plataforma Web, sin perjuicio de que
            Clicker se reserva el derecho a modificar la presentación,
            configuración y contenido del mismo, así como las condiciones
            requeridas para su acceso y/o utilización. El acceso y utilización
            de los contenidos de la Plataforma Web tras la entrada en vigor de
            sus modificaciones o cambios suponen la aceptación de los mismos.
          </p>
          <p>
            No obstante, estas Condiciones de Uso podrán ser completadas por
            Clicker a través de condiciones particulares que regulen el uso de
            determinados servicios o productos (gratuitos o de pago) que se
            puedan ofrecer a través de esta Plataforma Web. En efecto, el acceso
            a ciertos contenidos y la utilización de algunos servicios o
            productos pueden encontrarse sometidos a determinadas condiciones
            particulares, que, según los casos, sustituirán, completarán y/o
            modificarán las presentes Condiciones de Uso.
          </p>
          <p>
            Clicker se reserva el derecho a modificar los términos y condiciones
            aquí estipulados, total o parcialmente, publicando cualquier cambio
            en la misma forma en que aparecen estas Condiciones de Uso o a
            través de cualquier tipo de comunicación dirigida a los usuarios.
          </p>
          <p>
            A los efectos de la interpretación de las presentes Condiciones de
            Uso, Clicker entiende que una persona pasa a ser usuaria en el
            momento en que ésta acepta las Condiciones de Uso y la Política de
            Privacidad expuestas en la Plataforma Web, bastando para ello que lo
            visite.
          </p>
        </li>
        <li>
          <strong> Acceso y Registro </strong>
          <p>
            El acceso a los contenidos de la Plataforma Web es completamente
            gratuito, sin perjuicio de que pueden existir apartados o servicios
            particulares que requieran para su uso y disfrute el abono de alguna
            cantidad económica, de lo cual en todo caso se informará debidamente
            al usuario, y que éste deberá aceptar expresamente para poder
            disfrutarlos.
          </p>
          <p>
            En el caso de no contar con nombre de usuario y contraseña de acceso
            a la Plataforma Web, el usuario deberá registrarse desde el
            siguiente
            <a href="https://www.clicker.pe/registration/new">link</a>, donde
            deberá introducir todos sus datos reales y veraces, ya que será la
            única forma que tendremos de poder procesar los posibles pedidos que
            sean realizados en el futuro, así como gestionar correctamente la
            relación comercial con el usuario.
          </p>
          <p>
            Si bien el acceso a la Plataforma web no está limitado, de forma que
            cualquier usuario puede acceder a la misma, es requisito
            imprescindible para poder hacer uso de los servicios prestados por
            la Plataforma Web y formalizar un contrato de compraventa de un
            vehículo a través de la misma ser mayor de dieciocho (18) años.
          </p>
          <p>
            Si tuviera conocimiento de cualquier abuso o vulneración de las
            presentes Condiciones de Uso, te rogamos que nos lo comuniques
            inmediatamente y, en particular, aquéllos que afecten o puedan
            afectar a menores de edad.
          </p>
          <p>
            El acceso y navegación en la Plataforma Web no requieren registro,
            aunque para realizar cualquier compra o para recibir publicidad,
            información y ofertas periódicas de nuestras campañas promocionales
            y de nuestros productos, será necesario cumplimentar los formularios
            web habilitados al efecto. El registro en la Plataforma Web es,
            salvo que se indique lo contrario, gratuito.
          </p>
          <p>
            Bajo ningún concepto Clicker se responsabilizará de la veracidad de
            los datos de registro facilitados por los usuarios, por lo que cada
            uno de éstos será único responsable de las posibles consecuencias,
            errores y fallos que pudieran derivarse de la falta de calidad de
            los datos.
          </p>
          <ol class="newol">
            <li>
              <strong> Requisitos para registrarse como usuario </strong>
              <p>
                Es requisito imprescindible para poder registrarse como usuario
                ser mayor de dieciocho (18) años y proporcionar todos los datos
                requeridos y catalogados como obligatorios.
              </p>
              <p>
                Del mismo modo, el usuario registrado asume que la cuenta de
                usuario es personal e intransferible, pudiendo registrarse en la
                Plataforma Web tanto personas físicas como personas jurídicas,
                ya sean sociedades mercantiles u otro tipo de entidades.
              </p>
              <p>
                La contraseña, personal e intransferible, deberá ser generada
                por el usuario de acuerdo a las reglas de robustez y complejidad
                que se establezcan en cada momento por Clicker. La contraseña
                creada por el usuario tendrá una validez temporal ilimitada.
              </p>
              <p>
                Si el usuario selecciona una contraseña que no cumpla con los
                requisitos mínimos conforme a la política de contraseñas
                aprobada y vigente en Clicker, el Usuario será avisado de este
                incumplimiento y de los condicionamientos que deben reunir dicha
                contraseña para una efectiva validez al alta del interesado en
                el registro de usuarios de Clicker.
              </p>
              <p>
                No obstante, Clicker dispone de funcionalidades necesarias para
                que el usuario, notificándoselo previamente a Clicker, pueda
                cambiar su contraseña cuando lo considere oportuno, por ejemplo,
                porque sospeche o constate que se haya producido la quiebra de
                la confidencialidad de la contraseña.
              </p>
              <p>
                La contraseña tendrá carácter personal e intransferible. El
                usuario se compromete a hacer un uso diligente de su contraseña
                y mantenerla en secreto, no transmitiéndola a ningún tercero y
                tampoco a Clicker. En consecuencia, los usuarios son
                responsables de la adecuada custodia y confidencialidad de
                cualesquiera identificadores y/o contraseñas que hayan
                seleccionado como usuarios registrados de Clicker, y se
                comprometen a no ceder su uso a terceros, ya sea temporal o
                permanente, ni permitir su acceso a personas ajenas. Será
                responsabilidad del usuario la utilización ilícita de la
                Plataforma Web por cualquier tercero ilegítimo, que emplee a tal
                efecto una contraseña a causa de una utilización no diligente o
                de la pérdida de la misma por el Usuario.
              </p>
              <p>
                En virtud de lo anterior, es obligación del usuario notificar de
                forma inmediata a Clicker acerca de cualquier hecho que permita
                el uso indebido de los identificadores y/o contraseñas, tales
                como el robo, extravío, o el acceso no autorizado a los mismos,
                con el fin de proceder a su inmediata cancelación. Mientras no
                se comuniquen tales hechos, Clicker quedará eximido de cualquier
                responsabilidad que pudiera derivarse del uso indebido de los
                identificadores o contraseñas por terceros no autorizados.
              </p>
              <p>
                Por último, Clicker le comunica que para la correcta realización
                de una compra se requerirán determinados datos orientados a la
                tramitación de la misma, tales como el domicilio del comprador,
                los datos reales, número de teléfono de contacto, y medios de
                pago.
              </p>
            </li>
            <li>
              <strong> Baja como usuario registrado </strong>
              <p>
                El usuario puede, en cualquier momento, solicitar su baja de la
                Plataforma Web, bastando para ello solicitarlo mediante
                comunicación escrita a help@goClicker.com, indicando su nombre
                de usuario y el servicio concreto del que desee darse de baja.
              </p>
              <p>
                En cualquier caso, una vez efectuada la baja, el usuario podrá
                solicitar un nuevo registro, quedando a salvo la facultad de
                Clicker de no admitir dicho registro en los casos concretos
                especificados en la cláusula denominada “Reglas de Uso de la
                Plataforma Web” o en caso de conflicto o controversia suscitado
                entre las partes, que se encuentre por resolver o que haya
                finalizado con reconocimiento de culpa o negligencia del usuario
                y/o perjuicio a Clicker, a sus colaboradores y asociados o a sus
                usuarios, clientes o potenciales clientes.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <strong> Derechos de propiedad intelectual e industrial </strong>
          <p>
            Clicker es titular o, en su caso, cuenta con las licencias
            correspondientes sobre los derechos de explotación de propiedad
            intelectual e industrial de la Plataforma Web, así como de todos los
            contenidos ofrecidos en el mismo, incluyendo la propia Plataforma
            Web, textos, fotografías o ilustraciones, grafismos, diseños,
            interfaces, o cualquier otra información o contenido, y los
            servicios disponibles a través del mismo. Clicker no es
            concesionario oficial, no forma parte de la red de concesionarios de
            las marcas de los vehículos incluidos en la Plataforma Web ni tiene
            relación empresarial alguna con los titulares de tales marcas.
          </p>
          <p>
            En ningún caso se entenderá que el acceso, navegación y utilización
            de la Plataforma Web por parte del usuario o la utilización,
            adquisición y/o contratación de productos o servicios ofertados a
            través del mismo implica una renuncia, transmisión, licencia o
            cesión total o parcial de dichos derechos por parte de Clicker. El
            usuario dispone de un derecho de uso de los contenidos y/o servicios
            de la Plataforma Web dentro de un ámbito estrictamente doméstico y
            únicamente con la finalidad de disfrutar de las prestaciones del
            servicio de acuerdo con las presentes Condiciones de Uso.
          </p>
          <p>
            Las referencias a marcas o nombres comerciales registrados, u otros
            signos distintivos, ya sean titularidad de Clicker o de terceras
            empresas, llevan implícita la prohibición sobre su uso, descarga
            permanente, copia o distribución por cualquier medio sin el
            consentimiento de Clicker o de sus legítimos titulares. En ningún
            momento, salvo manifestación expresa en contrario, el acceso,
            navegación o utilización de la Plataforma Web y/o de sus contenidos
            confiere al usuario derecho alguno sobre signos distintivos en él
            incluidos. Clicker se reserva la posibilidad de ejercer las acciones
            judiciales que correspondan contra los usuarios que violen o
            infrinjan los derechos de propiedad intelectual e industrial.
          </p>
          <p>
            Quedan reservados todos los derechos de propiedad intelectual e
            industrial sobre los contenidos y/o servicios de la Plataforma Web
            incluyendo el software y, en particular, queda prohibido modificar,
            copiar, reproducir, comunicar públicamente, transformar o
            distribuir, por cualquier medio y bajo cualquier forma, la totalidad
            o parte de los contenidos incluidos en la Plataforma Web, para
            propósitos públicos o comerciales, si no se cuenta con la
            autorización previa, expresa y por escrito de Clicker o, en su caso,
            del titular de los derechos correspondientes. Si el usuario
            transfiere software de esta Plataforma Web a su terminal, no podrá
            diseccionarlo para su estudio, o descompilarlo, traducir la versión
            del código objeto original o su lenguaje a otro código o lenguaje.
          </p>
          <p>
            Asimismo, queda prohibido suprimir o manipular las indicaciones de
            copyright u otros créditos que identifiquen a los titulares de
            derechos de los contenidos que el usuario encuentre en la Plataforma
            Web, así como los dispositivos técnicos de protección, las huellas
            digitales, o cualquier mecanismo de protección o información
            incorporada a los contenidos ofrecidos en la Plataforma Web.
          </p>
          <p>
            En el caso de que el usuario envíe información de cualquier tipo a
            Clicker a través de cualquiera de los canales habilitados al efecto,
            el usuario declara, garantiza y acepta que tiene derecho a hacerlo
            libremente, que dicha información no infringe ningún derecho de
            propiedad intelectual, industrial, secreto comercial o cualesquiera
            otros derechos de terceros, y que dicha información no tiene
            carácter confidencial ni es perjudicial para terceros.
          </p>
          <p>
            El usuario reconoce asumir la responsabilidad, dejando indemne a
            Clicker por cualquier comunicación que suministre personalmente o a
            su nombre, alcanzando dicha responsabilidad sin restricción alguna
            la exactitud, legalidad, originalidad y titularidad de la misma.
          </p>
          <p>
            Si el usuario tuviera conocimiento de la existencia de algún
            contenido ilícito, ilegal, contrario a las leyes o que pudiera
            suponer una infracción de derechos de propiedad intelectual y/o
            industrial, deberá notificarlo inmediatamente a Clicker a través de
            la dirección de correo electrónico help@goClicker.com para que ésta
            pueda proceder a la adopción de las medidas oportunas.
          </p>
          <p>
            De igual modo, en el caso de que cualquier usuario o un tercero
            consideren que alguno de los contenidos de la Plataforma Web
            propiedad de Clicker vulnera sus derechos de propiedad intelectual
            y/o industrial, así como cualesquiera otros derechos, deberá remitir
            una comunicación a help@goClicker.com con la siguiente información:
          </p>
          <ul>
            <li>
              Datos identificativos y medio de contacto del reclamante o de su
              representante legal.
            </li>
            <li>
              Documentación que acredite su condición de titular de los derechos
              supuestamente infringidos.
            </li>
            <li>
              Relato detallado de los derechos supuestamente infringidos por
              Clicker, así como su localización exacta dentro de la Plataforma
              Web.
            </li>
            <li>
              Declaración expresa por parte del reclamante de que la utilización
              de los contenidos se ha realizado sin el consentimiento del
              titular de los derechos supuestamente infringidos.
            </li>
          </ul>
        </li>
        <li>
          <strong> Enlaces </strong>
          <ol class="newol">
            <li>
              <strong> Enlaces a otras páginas </strong>
              <p>
                En caso de que en la Plataforma Web se mostraran enlaces a otras
                páginas web mediante diferentes botones, links, banners o
                contenidos embebidos, Clicker informa que éstos se encuentran
                gestionados por terceros, no teniendo Clicker ni medios humanos
                ni técnicos para conocer de forma previa y/o controlar y/o
                aprobar toda la información, contenidos, productos o servicios
                facilitados por otras plataformas a las que se puedan establecer
                enlaces desde la Plataforma Web.
              </p>
              <p>
                En consecuencia, Clicker no podrá asumir ningún tipo de
                responsabilidad por cualquier aspecto relativo a la Plataforma
                Web o página web a la que se pudiera establecer un enlace desde
                la Plataforma Web, en concreto, a título enunciativo y no
                limitativo, sobre su funcionamiento, acceso, datos, información,
                archivos, calidad y fiabilidad de sus productos y servicios, sus
                propios enlaces y/o cualquiera de sus contenidos, en general.
              </p>
              <p>
                En este sentido, si los usuarios tuvieran conocimiento efectivo
                de que las actividades desarrolladas a través de estas páginas
                web de terceros son ilegales o contravienen la moral y/o el
                orden público, deberán comunicarlo inmediatamente a Clicker a
                los efectos de que se proceda de modo unilateral a deshabilitar
                el enlace de acceso a las mismas, acción que se llevará a cabo
                en el menor tiempo posible.
              </p>
              <p>
                En cualquier caso, el establecimiento de cualquier tipo de
                enlace desde la Plataforma Web a otra página web ajena tiene una
                finalidad meramente informativa y en ningún caso supone
                sugerencia, invitación o recomendación sobre los mismos.
                Asimismo, no implicará que exista algún tipo de relación,
                colaboración o dependencia entre Clicker y el responsable de
                dicha página web ajena.
              </p>
            </li>
            <li>
              <strong>
                Enlaces al canal del prestador en otras plataformas y redes
                sociales
              </strong>
              <p>
                El prestador pone a disposición de los usuarios, a través de
                diferentes herramientas y aplicaciones, medios de enlace que
                permiten a los usuarios acceder a los canales y páginas de la
                Plataforma Web que el prestador mantiene en diferentes
                plataformas y redes sociales pertenecientes y/o gestionadas por
                terceros (p.ej. Facebook, Twitter, Pinterest, Google+, etc.). La
                inclusión de estos enlaces en la Plataforma Web tiene por único
                objeto facilitar a los usuarios el acceso a dichos canales en
                las diferentes plataformas y redes sociales.
              </p>
              <p>
                El establecimiento de estas aplicaciones no implica la
                existencia de relación alguna entre el prestador y el titular,
                fabricante o distribuidor de la plataforma enlazada, como
                tampoco la aceptación y aprobación por parte del prestador de
                sus contenidos y/o servicios, siendo su titular, fabricante o
                distribuidor el único responsable de los mismos.
              </p>
              <p>
                En ningún caso el prestador comparte con Facebook, Twitter o
                cualquier otra red social que se incorpore en el futuro ningún
                tipo de información privada sobre sus usuarios, siendo su única
                finalidad la establecida en las presentes Condiciones de Uso,
                así como en la Política de Privacidad de la Plataforma Web. En
                este sentido, toda la información que el propio usuario desee
                proporcionar a estas plataformas será bajo su propia
                responsabilidad, no interviniendo el prestador en dicho proceso.
              </p>
              <p>
                La activación y uso de estas aplicaciones puede conllevar la
                identificación y autenticación del usuario (login/contraseña) en
                las plataformas correspondientes, completamente externas a la
                Plataforma Web y fuera del control del prestador. Al acceder a
                dichas redes externas, el usuario ingresa en un entorno no
                controlado por el prestador, por lo que el prestador no asumirá
                ninguna responsabilidad sobre la configuración de seguridad de
                dichos entornos.
              </p>
              <p>
                Dado que el prestador no tiene control alguno sobre el contenido
                alojado en dichos canales, el usuario reconoce y acepta que el
                prestador no asume responsabilidad alguna por el contenido ni
                por los servicios a los que el usuario pueda acceder en dichas
                páginas, ni por cualquier contenido, productos, servicios,
                publicidad, ni cualquier otro material disponible en los mismos.
                Por tal motivo, el usuario debe extremar la prudencia en la
                valoración y utilización de la información, contenidos y
                servicios existentes en los canales enlazados, y sobre la
                información propia o de terceros que quiera compartir en dichos
                canales.
              </p>
            </li>
            <li>
              <strong>
                Enlaces a otras páginas web con destino a la plataforma web
              </strong>
              <p>
                Clicker no autoriza el establecimiento de un enlace a la
                Plataforma Web desde aquellas páginas que contengan materiales,
                información o contenidos ilícitos, ilegales, degradantes,
                obscenos y, en general, que contravengan las leyes, la moral o
                el orden público, o las normas sociales generalmente aceptadas.
              </p>
              <p>
                En todo caso, los usuarios podrán establecer enlaces en sus
                respectivas páginas web que dirijan a la Plataforma Web, siempre
                y cuando cumplan con las siguientes condiciones: a) el enlace no
                podrá reproducir el contenido de la Plataforma Web o partes del
                mismo de ninguna forma; b) no está permitido crear un browser ni
                un border environment sobre las secciones de la Plataforma Web,
                ni de ninguna otra forma podrá modificarse la Plataforma Web; c)
                no está permitido realizar manifestaciones o indicaciones falsas
                o inexactas o incorrectas sobre la Plataforma Web y/o, en
                particular, declarar o dar a entender que Clicker ha autorizado
                el enlace o que ha supervisado o asumido de cualquier forma los
                contenidos o servicios ofrecidos o puestos a disposición en la
                página web en la que se establece dicho enlace; d) la página web
                en la que se establezca el enlace a la Plataforma Web no
                contendrá informaciones o contenidos ilícitos, contrarios a la
                moral y buenas costumbres generalmente aceptadas y al orden
                público, así como tampoco contendrá contenidos contrarios a
                cualesquiera derechos de terceros, incluidos los derechos de
                propiedad intelectual e industrial y/o el derecho al honor, a la
                intimidad personal o familiar o a la propia imagen o de
                cualquier otro derecho, o contenidos contrarios a las normas
                reguladoras de la protección de datos de carácter personal.
              </p>
              <p>
                Clicker no tiene facultad ni medios humanos ni técnicos para
                conocer, controlar ni aprobar toda la información, contenidos,
                productos o servicios facilitados por otras páginas web que
                tengan establecidos enlaces con destino a la Plataforma Web.
                Clicker no asume ningún tipo de responsabilidad por cualquier
                aspecto relativo a la página web que establece ese enlace con
                destino a la Plataforma Web, en concreto, a título enunciativo y
                no taxativo, sobre su funcionamiento, acceso, datos,
                información, archivos, calidad y fiabilidad de sus productos y
                servicios, sus propios enlaces y/o cualquiera de sus contenidos,
                en general.
              </p>
            </li>
          </ol>
        </li>
        <li>
          <strong> Reglas de uso de la plataforma web </strong>
          <p>
            No está permitido y, por tanto, sus consecuencias serán de la
            exclusiva responsabilidad del usuario, el acceso o la utilización de
            la Plataforma Web con fines ilegales o no autorizados, con o sin
            finalidad económica. En particular, y sin que el siguiente listado
            tenga carácter absoluto, queda prohibido:
          </p>
          <ul>
            <li>
              Usar la Plataforma Web en forma alguna que pueda provocar daños,
              interrupciones, ineficiencias o defectos en su funcionamiento o en
              el ordenador de un tercero;
            </li>
            <li>
              Usar la Plataforma Web para la transmisión, instalación o
              publicación de cualquier virus, código malicioso u otros programas
              o archivos perjudiciales;
            </li>
            <li>
              Usar la Plataforma Web para recoger datos de carácter personal de
              otros usuarios;
            </li>
            <li>
              Usar la Plataforma Web de forma ilegal, en contra de la buena fe,
              la moral y el orden público;
            </li>
            <li>
              Registrarse a través de la Plataforma Web con una identidad falsa,
              suplantando a terceros o utilizando un perfil o realizando
              cualquier otra acción que pueda confundir a otros usuarios sobre
              la identidad del origen de un mensaje;
            </li>
            <li>
              Acceder sin autorización a cualquier sección de la Plataforma Web,
              a otros sistemas o redes conectados al Sitio Web, a ningún
              servidor de Clicker, ni a los servicios ofrecidos a través de la
              Plataforma Web, por medio de pirateo o falsificación, extracción
              de contraseñas o cualquier otro medio ilegítimo;
            </li>
            <li>
              Quebrantar, o intentar quebrantar, las medidas de seguridad o
              autenticación de la Plataforma Web o de cualquier red conectada al
              mismo, o las medidas de seguridad o protección inherentes a los
              contenidos ofrecidos en la Plataforma Web;
            </li>
            <li>
              Llevar a cabo alguna acción que provoque una saturación
              desproporcionada o innecesaria en la infraestructura de la
              Plataforma Web o en los sistemas o redes de Clicker, así como en
              los sistemas y redes conectados a la Plataforma Web; o
            </li>
            <li>
              Impedir el normal desarrollo de un evento, concurso, promoción o
              cualquier otra actividad disponible a través de la Plataforma Web
              o cualesquiera de sus funcionalidades, ya sea alterando o tratando
              de alterar, ilegalmente o de cualquier otra forma, el acceso,
              participación o funcionamiento de aquéllos, o falseando el
              resultado de los mismos y/o utilizando métodos de participación
              fraudulentos, mediante cualquier procedimiento, y/o a través de
              cualquier práctica que atente o vulnere en modo alguno las
              presentes Condiciones de Uso.
            </li>
          </ul>
          <p>
            El incumplimiento de cualquiera de las anteriores obligaciones por
            el usuario podrá llevar aparejada la adopción por Clicker de las
            medidas oportunas amparadas en Derecho y en el ejercicio de sus
            derechos u obligaciones, pudiendo llegar a la eliminación o bloqueo
            de la cuenta del usuario infractor, sin que medie posibilidad de
            indemnización alguna por los daños y perjuicios causados.
          </p>
          <p>
            Asimismo, si Ud. encuentra alguna información o contenido en la
            Plataforma Web que pueda ser no adecuado, contrario a la normativa
            vigente, o contrario a las condiciones dispuestas en la Plataforma
            Web, rogamos que lo ponga en conocimiento inmediato de Clicker a
            través de los diferentes medios dispuestos para ello.
          </p>
        </li>
        <li>
          <strong> Responsabilidades y garantías </strong>
          <p>En consecuencia, Clicker no puede garantizar:</p>
          <ul>
            <li>La continuidad de los contenidos de la Plataforma Web;</li>
            <li>La ausencia de errores en dichos contenidos;</li>
            <li>
              La ausencia de virus y/o demás componentes dañinos en la
              Plataforma Web o en el servidor que lo suministra;
            </li>
            <li>
              La invulnerabilidad de la Plataforma Web y/o la imposibilidad de
              vulnerar las medidas de seguridad que se adopten en el mismo;
            </li>
            <li>
              La falta de utilidad o rendimiento de los contenidos de la
              Plataforma Web; y
            </li>
            <li>
              Los daños o perjuicios que cause, a sí mismo o a un tercero,
              cualquier persona que infringiera las condiciones, normas e
              instrucciones que Clicker establece en la Plataforma Web o a
              través de la vulneración de los sistemas de seguridad de la
              Plataforma Web.
            </li>
          </ul>
          <p>
            Ello, no obstante, Clicker declara que ha adoptado todas las medidas
            necesarias, dentro de sus posibilidades y del estado de la técnica,
            para garantizar el funcionamiento de la Plataforma Web y reducir al
            mínimo los errores del sistema, tanto desde el punto de vista
            técnico como de los contenidos publicados en la Plataforma Web.
          </p>
          <p>
            Clicker no garantiza la licitud, fiabilidad y utilidad de los
            contenidos suministrados por terceros a través de la Plataforma Web.
            Si el usuario tuviera conocimiento de la existencia de algún
            contenido ilícito, ilegal, contrario a las leyes o que pudiera
            suponer una infracción de derechos de terceros, deberá notificarlo
            inmediatamente a Clicker para que ésta pueda proceder a la adopción
            de las medidas oportunas.
          </p>
          <p>
            Clicker no será responsable de la veracidad, integridad o
            actualización de las informaciones publicadas en la Plataforma Web
            provenientes de fuentes ajenas al mismo, así como tampoco de las
            contenidas en otras plataformas a las que se enlace desde la
            Plataforma Web. Clicker no asumirá responsabilidad en cuanto a
            hipotéticos perjuicios que pudieran originarse por el uso de las
            citadas informaciones.
          </p>
        </li>
        <li>
          <strong> Suspensión de la plataforma web </strong>
          <p>
            Clicker se reserva el derecho a suspender, modificar, restringir o
            interrumpir, ya sea temporal o permanentemente, el acceso,
            navegación, uso, alojamiento y/o descarga del contenido y/o uso de
            servicios de la Plataforma Web, con o sin previa notificación, a los
            usuarios que contravengan cualquiera de las disposiciones detalladas
            en las presentes Condiciones de Uso, sin que medie la posibilidad
            del usuario de exigir indemnización alguna por esta causa.
          </p>
        </li>
        <li>
          <strong> Confidencialidad y protección de datos </strong>
          <p>
            De conformidad con lo dispuesto por el Reglamento (UE) 2016/679 del
            Parlamento Europeo y del Consejo de 27 de abril, relativo a la
            protección de las personas físicas en lo que respecta al tratamiento
            de datos personales y a la libre circulación de estos datos y por el
            que se deroga la Directiva 95/46/CE (Reglamento General de
            Protección de Datos – RGPD), todos los datos de carácter personal
            facilitados durante la utilización del sitio web serán tratados de
            conformidad con los dispuesto en la Política de Privacidad que todo
            usuario debe aceptar expresamente para poder utilizar y registrarse
            en el sistema.
          </p>
          <p>
            Todo usuario que acepte las presentes condiciones de uso acepta de
            forma informada, expresa e inequívoca nuestraPolítica de Privacidad,
            asistiéndole en este sentido los derechos de acceso, rectificación,
            supresión, oposición, limitación del tratamiento y, cuando
            legalmente proceda, portabilidad, respecto a sus datos de carácter
            personal, pudiendo ejercerlos según se informa en la mencionada
            Política de Privacidad.
          </p>
          <p>
            Para presentar reclamaciones en el uso de nuestros servicios pueden
            dirigirse por correo electrónico a la dirección
            protecciondedatos@goClicker.com, debiendo recurrir en todo caso a
            una solución amistosa en primera instancia.
          </p>
        </li>
        <li>
          <strong> Generales </strong>
          <p>
            Con independencia de lo dispuesto en las condiciones particulares
            que en su caso se establezcan, Clicker podrá dar por terminado,
            suspender o interrumpir, en cualquier momento y sin necesidad de
            preaviso, el acceso a los contenidos de la Plataforma Web, sin
            posibilidad por parte del usuario de exigir indemnización alguna.
            Tras dicha extinción, seguirán vigentes las prohibiciones de uso de
            los contenidos expuestas anteriormente en las presentes Condiciones
            de Uso.
          </p>
          <p>
            Asimismo, si el usuario incumple las presentes Condiciones de Uso,
            Clicker podrá suspender o cancelar su perfil automáticamente y sin
            previo aviso, y en ningún caso tal suspensión o cancelación daría al
            usuario derecho a indemnización alguna. A estos efectos, Clicker
            informa de que podrá poner en conocimiento y colaborar oportunamente
            con las autoridades policiales y judiciales competentes si detectase
            cualquier infracción de la legislación vigente o si tuviera sospecha
            de la comisión de algún delito.
          </p>
          <p>
            La contratación de cualquier producto y/o servicio de pago o
            gratuito ofrecido quedará regulada por las condiciones generales y/o
            particulares de cada servicio específico dispuestas al efecto.
          </p>
          <p>
            En el caso de existir discrepancia entre lo establecido en las
            presentes Condiciones de Uso y las condiciones particulares de cada
            servicio específico de la Plataforma Web, prevalecerá lo dispuesto
            en estas últimas.
          </p>
          <p>
            En el caso de que cualquier disposición de las presentes Condiciones
            de Uso fuese declarada nula o inaplicable, en su totalidad o en
            parte, por cualquier Juzgado, Tribunal u órgano administrativo
            competente, dicha nulidad o inaplicación no afectará a las restantes
            disposiciones de las presentes Condiciones de Uso.
          </p>
          <p>
            El no ejercicio o ejecución por parte de Clicker de cualquier
            derecho o disposición contenido en las presentes Condiciones de Uso
            no constituirá una renuncia al mismo, salvo reconocimiento y acuerdo
            por escrito por su parte.
          </p>
        </li>
        <li>
          <strong> Legislación aplicable y jurisdicción competente </strong>
          <p>
            Estas Condiciones Generales se rigen por la ley española. Las partes
            se someten, a su elección, para la resolución de los conflictos y
            con renuncia a cualquier otro fuero, a los juzgados y tribunales del
            domicilio del usuario. Asimismo, como entidad adherida a Confianza
            Online y en los términos de su Código Ético, en caso de
            controversias relativas a la contratación y publicidad online,
            protección de datos y protección de menores, el usuario podrá acudir
            al sistema de resolución extrajudicial de controversias de Confianza
            Online (www.confianzaonline.es).
          </p>
          <p>
            En caso de querer presentar una reclamación, puede hacerlo a través
            de la plataforma de resolución de litigios en línea (ODR) de la
            Unión Europea.
          </p>
          <p>Última actualización: 9 de abril de 2021</p>
          <p>© Startech Ventures SAC, Todos los derechos reservados.</p>
        </li>
      </ol>
    </div>
  </div>
</div>
