.reset-filters-button {
  cursor: pointer;
}

.reset-filters-button:hover {
  color: #9e8a2b;
}

::ng-deep .ngx-slider .ngx-slider-pointer {
  outline: none !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
  background-color: white !important;
}

.mat-spinner::ng-deep circle {
  stroke: #29abe2;
}

.slider-container {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .sliders-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slider-container {
    width: 70%;
  }
}
