<div
  class="section-title-page area-bg area-bg_dark area-bg_op_60"
  [ngStyle]="{ 'margin-top': cameFrom != 'Dashboard' ? '170px' : '0px' }"
>
  <div class="area-bg__inner">
    <div class="container text-center">
      <h1 class="b-title-page">{{ name }}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="dashboard">{{ cameFrom }}</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ name }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- [ngClass]="{ 'mb-5': filteredCarros.length === 0 || auxFilteredCarros.length === 0 }" -->
<div class="l-main-content mb-5">
  <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 justify-content-center col-xl-9">
        <mat-form-field appearance="fill" class="w-100 pr-2">
          <mat-label>Buscar carro...</mat-label>
          <input class="" matInput type="text" (keyup)="filterByName($event)" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3">
        <aside class="l-sidebar l-sidebar_top_minus">
          <div class="widget section-sidebar bg-gray">
            <h3
              class="widget-title row justify-content-between align-items-center no-gutters"
            >
              <span class="widget-title__inner col">Search Options</span
              ><i class="ic flaticon-car-repair col-auto"></i>
            </h3>
            <div class="widget-content">
              <div class="widget-inner">
                <form class="b-filter" [formGroup]="filterFormGroup">
                  <div class="b-filter__main row">
                    <div class="b-filter__row col-xl-12 col-md-6">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        title="Condition"
                        formControlName="carSubset"
                        (change)="changeCarSubset($event)"
                        data-style="ui-select"
                        id="subsets"
                      >
                        <option
                          value=""
                          disabled
                          selected
                          style="display: none"
                        >
                          Condición
                        </option>
                        <option value="NEW">Nuevo</option>
                        <option value="USED">Usado</option>
                        <option value="ALL">Todos</option>
                      </select>
                    </div>
                    <div class="b-filter__row col-xl-12 col-md-6">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        title="Marca"
                        data-style="ui-select"
                        formControlName="carBrand"
                        (change)="changeBrand($event)"
                        id="marcas"
                      >
                        <option
                          value=""
                          disabled
                          selected
                          style="display: none"
                        >
                          Marca
                        </option>
                        <option
                          *ngFor="let brand of filteredBrands"
                          [value]="brand"
                        >
                          {{ brand }}
                        </option>
                      </select>
                    </div>
                    <div class="b-filter__row col-xl-12 col-md-6">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        data-style="ui-select"
                        formControlName="carModel"
                        (change)="changeModel($event)"
                        id="modelos"
                      >
                        <option value="" *ngIf="carBrand?.value == ''" disabled>
                          Debe seleccionar una marca
                        </option>
                        <option
                          *ngFor="let model of filteredModels"
                          [value]="model"
                        >
                          {{ model }}
                        </option>
                      </select>
                    </div>
                    <div class="b-filter__row col-xl-12 col-md-6">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        title="Carrocería"
                        data-style="ui-select"
                        formControlName="carType"
                        (change)="changeCarroceria($event)"
                        id="carrocerias"
                      >
                        <option
                          value=""
                          disabled
                          selected
                          style="display: none"
                        >
                          Carrocería
                        </option>
                        <option
                          [value]="carroceria"
                          *ngFor="let carroceria of tiposCarroceria"
                        >
                          {{ carroceria }}
                        </option>
                      </select>
                    </div>
                    <div class="col-12">
                      <div class="b-filter__row row">
                        <div class="b-filter__item col-xl-12 col-md-6">
                          <select
                            class="selectpicker"
                            data-width="100%"
                            title="Desde"
                            data-style="ui-select"
                            formControlName="carMinYear"
                            (change)="changeAnoFrom($event)"
                            id="desde"
                          >
                            <option
                              value=""
                              disabled
                              selected
                              style="display: none"
                            >
                              Desde
                            </option>
                            <option [value]="ano" *ngFor="let ano of anos">
                              {{ ano }}
                            </option>
                          </select>
                        </div>
                        <!-- <div class="b-filter__item col-md-6">
                          <select
                            class="selectpicker"
                            data-width="100%"
                            title="Hasta"
                             
                            data-max-options="1"
                            data-style="ui-select"
                            fromControlName="carMaxYear"
                            (change)="changeAnoTo($event)"
                          >
                            <option
                              value=""
                              disabled
                              selected
                              style="display: none"
                            >
                              Hasta
                            </option>
                            <option *ngFor="let ano of anos">
                              {{ ano }}
                            </option>
                          </select>
                        </div> -->
                      </div>
                    </div>
                    <div class="b-filter__row col-xl-12 col-md-6">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        title="Transmisión"
                        data-style="ui-select"
                        formControlName="carTransmission"
                        (change)="changeTransmision($event)"
                        id="transmisiones"
                      >
                        <option
                          value=""
                          disabled
                          selected
                          style="display: none"
                        >
                          Transmisión
                        </option>
                        <option
                          [value]="transmision"
                          *ngFor="let transmision of tiposTransmision"
                        >
                          {{ transmision }}
                        </option>
                      </select>
                    </div>
                    <div class="b-filter__row col-xl-12 col-md-6">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        title="Combustible"
                        data-style="ui-select"
                        formControlName="carFuelType"
                        (change)="changeCombustible($event)"
                        id="combustibles"
                      >
                        <option
                          value=""
                          disabled
                          selected
                          style="display: none"
                        >
                          Combustible
                        </option>
                        <option
                          [value]="combustible"
                          *ngFor="let combustible of tiposCombustible"
                        >
                          {{ combustible }}
                        </option>
                      </select>
                    </div>
                    <div class="b-filter__row col-xl-12 col-md-6">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        title="Tracción"
                        data-style="ui-select"
                        formControlName="carTraction"
                        (change)="changeTraccion($event)"
                        id="tracciones"
                      >
                        <option
                          value=""
                          disabled
                          selected
                          style="display: none"
                        >
                          Tracción
                        </option>
                        <option
                          [value]="traccion"
                          *ngFor="let traccion of tiposTracciones"
                        >
                          {{ traccion }}
                        </option>
                      </select>
                    </div>
                    <div class="b-filter__row col-xl-12 col-md-6">
                      <select
                        class="selectpicker"
                        data-width="100%"
                        multiple
                        title="Departamentos"
                        data-style="ui-select"
                        formControlName="carDepartamentos"
                        (change)="changeDepartamentos($event)"
                        id="departamentos"
                      >
                        <option
                          value=""
                          disabled
                          selected
                          style="display: none"
                        >
                          Departamentos
                        </option>
                        <option
                          [value]="departamento"
                          *ngFor="let departamento of departamentos"
                        >
                          {{ departamento }}
                        </option>
                      </select>
                    </div>
                    <div class="b-filter-slider ui-filter-slider">
                      <div class="b-filter-slider__title">Kilometraje</div>
                      <div class="b-filter-slider__main">
                        <ngx-slider
                          [(value)]="minKilometraje"
                          [(highValue)]="maxKilometraje"
                          [options]="optionsKilometraje"
                        >
                        </ngx-slider>
  
                        <div class="b-filter__row row">
                          <div class="b-filter__item col-md-6">
                            <input
                              disabled
                              class="ui-select"
                              [(ngModel)]="minKilometraje"
                              [ngModelOptions]="{ standalone: true }"
                              id="minKilometraje"
                            />
                          </div>
                          <div class="b-filter__item col-md-6">
                            <input
                              disabled
                              class="ui-select"
                              [(ngModel)]="maxKilometraje"
                              [ngModelOptions]="{ standalone: true }"
                              id="maxKilometraje"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="b-filter-slider ui-filter-slider">
                    <div class="b-filter-slider__title">Precio</div>
                    <div class="b-filter-slider__main">
                      <ngx-slider
                        [(value)]="minPrice"
                        [(highValue)]="maxPrice"
                        [options]="options"
                      >
                      </ngx-slider>

                      <div class="b-filter__row row">
                        <div class="b-filter__item col-md-6">
                          <input
                            disabled
                            class="ui-select"
                            [(ngModel)]="'$' + minPrice"
                            [ngModelOptions]="{ standalone: true }"
                            id="input-with-keypress-0"
                          />
                        </div>
                        <div class="b-filter__item col-md-6">
                          <input
                            disabled
                            class="ui-select"
                            [(ngModel)]="'$' + maxPrice"
                            [ngModelOptions]="{ standalone: true }"
                            id="input-with-keypress-1"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="b-filter-slider ui-filter-slider">
                        <div class="b-filter-slider__title">Search radius</div>
                        <div class="b-filter-slider__main">
                          <div id="sliderRange"></div>
                          <div class="b-filter__row">
                            <input class="ui-select" id="input-range"/>
                          </div>
                        </div>
                      </div> -->
                  <button
                    class="b-filter__reset btn btn-secondary w-100"
                    type="reset"
                    (click)="resetFilters(true)"
                  >
                    Limpiar Filtros
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- end .b-filter-->
        </aside>
      </div>
      <div class="col-xl-9">
        <div class="b-filter-goods" [ngClass]="{ 'b-filter-goods_brd': !list }">
          <div class="row align-items-center justify-content-between">
            <div class="col-md-auto">
              <div class="b-filter-goods__info">
                Showing results<strong>
                  {{ filteredCarros.length === 0 ? 0 : currPage * 10 + 1 }}
                  to
                  {{
                    currPage * 10 + 10 > filteredCarros.length
                      ? filteredCarros.length
                      : currPage * 10 + 10
                  }}</strong
                >
                of total {{ filteredCarros.length }}
              </div>
            </div>
            <div class="col-md-auto">
              <div class="b-filter-goods__wrap">
                <div class="b-filter-goods__select">
                  <select
                    class="selectpicker"
                    data-width="210px"
                    title="Sort by Newest First"
                    data-max-options="1"
                    data-style="ui-select"
                    (change)="sortBy($event)"
                  >
                    <option>A-Z</option>
                    <option>Z-A</option>
                  </select>
                </div>
              </div>
              <div class="btns-switch">
                <i
                  (click)="changeGridView('list')"
                  [ngClass]="{
                    active: list,
                    'btns-switch__item': true,
                    'js-view-list': true,
                    ic: true,
                    fas: true,
                    'fa-list': true
                  }"
                ></i>
                <!-- class="btns-switch__item js-view-list ic fas fa-list" -->
                <i
                  (click)="changeGridView('grid')"
                  [ngClass]="{
                    active: !list,
                    'btns-switch__item': true,
                    'js-view-th': true,
                    ic: true,
                    fas: true,
                    'fa-th-large': true
                  }"
                ></i>
                <!--  class="btns-switch__item js-view-th ic fas fa-th-large" -->
              </div>
            </div>
          </div>
        </div>
        <!-- end .b-filter-goods-->

        <div class="b-goods-group row">
          <div
            *ngFor="
              let carro of filteredCarros
                | slice: currPage * 10:currPage * 10 + 10
            "
            [ngClass]="{ 'col-lg-4': !list, 'col-md-6': !list, 'col-12': list }"
          >
            <app-published-car [auto]="carro" [mode]="list">
            </app-published-car>
          </div>
          <div *ngIf="filteredCarros.length === 0" class="col text-center">
            Oops. No se encontró ningún carro con esas especificaciones. Haz
            clic
            <span
              class="reset-filters-button font-weight-bold"
              (click)="resetFilters(true)"
              >aquí</span
            >
            o en <span class="font-weight-bold">Limpiar Filtros</span> para
            reiniciar la búsqueda.
          </div>
        </div>
        <nav class="mt-3" aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li
              *ngFor="let pageId of pages"
              class="page-item"
              [ngClass]="{ active: currPage == pageId }"
            >
              <a class="page-link" (click)="goToPage(pageId)">{{
                pageId + 1
              }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
