<div class="section-title-page area-bg area-bg_dark area-bg_op_60">
    <div class="area-bg__inner">
      <div class="container text-center">
        <h1 class="b-title-page">Auto news</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="home.html">Home</a></li>
            <li class="breadcrumb-item"><a href="blog-main.html">News Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">Post Details</li>
          </ol>
        </nav>
        <!-- end .breadcrumb-->
        
      </div>
    </div>
  </div>
  <!-- end .b-title-page-->
  
  <div class="l-main-content">
    <div class="ui-decor ui-decor_up ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <main>
      <article class="b-post b-post-full">
        <div class="container">
          <div class="row">
            <div class="col-xl-10 offset-xl-1">
              <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/945x450/1.jpg"><img class="img-fluid" src="assets/media/content/b-post/945x450/1.jpg" alt="photo"/></a>
                <div class="ui-decor ui-decor_down ui-decor_full_width"></div>
              </div>
              <div class="row justify-content-beetween align-items-baseline">
                <div class="col-md">
                  <div class="entry-meta">
                    <time class="entry-meta__item" datetime="2019-01-31"><i class="ic far fa-calendar-alt"></i> April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span><span class="entry-meta__item ml-4"><i class="ic far fa-comment"></i> Comments
                      
                      <a class="entry-meta__link text-primary" href="blog-main.html">45</a></span>
                  </div>
                </div>
                <div class="col-md-auto">
                  <div class="b-post-soc">
                    <div class="b-post-soc__title">Share This</div>
                    <div class="b-post-soc__item"><a class="b-post-soc__link" href="#" target="_blank"><i class="ic fab fa-twitter"></i></a></div>
                    <div class="b-post-soc__item"><a class="b-post-soc__link" href="#" target="_blank"><i class="ic fab fa-facebook-f"></i></a></div>
                    <div class="b-post-soc__item"><a class="b-post-soc__link" href="#" target="_blank"><i class="ic fab fa-pinterest-p"></i></a></div>
                    <div class="b-post-soc__item"><a class="b-post-soc__link" href="#" target="_blank"><i class="ic fab fa-behance"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="entry-main">
            <div class="entry-header">
              <div class="row">
                <div class="col-xl-10 offset-xl-1">
                  <h1 class="entry-title">New In All Ways; Boasts Of Reliability And Stability</h1>
                </div>
              </div>
            </div>
            <div class="entry-content">
              <div class="row">
                <div class="col-xl-10 offset-xl-1">
                  <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita tion ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                  <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptate quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quis quam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnam aliquam quaerat voluptatem.</p>
                </div>
              </div>
              <div class="row mt-5 pt-3 mb-5">
                <div class="col-lg-6 pb-3">
                  <div class="pr-3"><img class="img-fluid" src="assets/media/content/b-post/540x350/1.jpg" alt="photo"/></div>
                </div>
                <div class="col-lg-6 pb-3">
                  <div class="pl-3"><img class="img-fluid" src="assets/media/content/b-post/540x350/2.jpg" alt="photo"/></div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-10 offset-xl-1">
                  <p>Irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium otam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptate quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quis quam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit.</p>
                  <blockquote class="entry-blockquote">
                    <p class="mb-2">Norem ipsum dolor sit amet consectetur adipisicing elit aliqua enim quis nostrud exercita duis aute irure dolor krep rehenderit.</p>
                    <footer class="entry-blockquote-footer">
                      <cite>Donald James</cite>
                    </footer>
                  </blockquote>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-lg-6 pb-3">
                  <div class="pr-3"><img class="img-fluid" src="assets/media/content/b-post/540x350/3.jpg" alt="photo"/></div>
                </div>
                <div class="col-lg-5 pl-4 pb-3">
                  <h2 class="entry-title-inner">Why Choose Us</h2>
                  <p>Eorem ipsum dolor sit amet, consectetur adipisicing elit sed eius et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exe aliquip ex ea commodo consequat.</p>
                  <ul>
                    <li>Duis aute irure dolorin reprehenderits vol</li>
                    <li>Aolore fugiat nulla pariatur excepteur sint occaecat</li>
                    <li>Non proident sunt ind culpa qudesa officia deseru</li>
                    <li>Unde omnis iste natus error sit voluptatem.</li>
                  </ul>
                  <div class="b-phone"><i class="ic icon-call-end"></i> Call Us For Booking<a class="b-phone__number" href="tel:+17553028549">+1 (755) 302-8549</a></div>
                  <!-- end .b-phone-->
                  
                </div>
              </div>
              <div class="row">
                <div class="col-xl-10 offset-xl-1">
                  <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita tion ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                  <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptate quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quis quam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnam aliquam quaerat voluptatem.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="entry-footer">
            <div class="text-center mb-4">
              <div class="entry-label">latest models</div>
              <div class="entry-label">Auto finance</div>
            </div><span class="entry-tag-title">TAGS:</span>
            <a class="entry-tag text-primary" href="blog-post.html">Cars,</a>
            <a class="entry-tag text-primary" href="blog-post.html">Ford,</a>
            <a class="entry-tag text-primary" href="blog-post.html">BMW,</a>
            <a class="entry-tag text-primary" href="blog-post.html">Buy Sell Vehicles,</a>
            <a class="entry-tag text-primary" href="blog-post.html">Audi</a>
          </div>
        </div>
      </article>
      <!-- end .post-->
      
      <section class="section-comment">
        <div class="container">
          <div class="text-center d-inline-block">
            <div class="ui-title-logo">AUTLINES</div>
            <h2 class="ui-title">COMMENTS</h2>
          </div>
          <ul class="comments-list list-unstyled">
            <li>
              <article class="comment">
                <div class="comment-face"><img class="img-fluid" src="assets/media/content/b-post/face/1.jpg" alt="face"/></div>
                <div class="comment-inner">
                  <header class="comment-header row">
                    <div class="col">
                      <cite class="comment-author">Alex Leepman</cite>
                      <time class="comment-datetime" datetime="2012-10-27">April 25, 2019 at 3:48pm</time>
                    </div>
                    <div class="col-auto"><a class="comment-btn bg-secondary" href="blog-post.html">reply</a></div>
                  </header>
                  <div class="comment-body">
                    <p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident Aiusmod tempor incididunt labore dolore magna ust enim sed veniams quis nostrud culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
              </article>
              <ul class="children list-unstyled">
                <li>
                  <article class="comment">
                    <div class="comment-face"><img class="img-fluid" src="assets/media/content/b-post/face/2.jpg" alt="face"/></div>
                    <div class="comment-inner">
                      <header class="comment-header row">
                        <div class="col">
                          <cite class="comment-author">Marya Hasman</cite>
                          <time class="comment-datetime" datetime="2012-10-27">April 25, 2019 at 3:48pm</time>
                        </div>
                        <div class="col-auto"><a class="comment-btn bg-secondary" href="blog-post.html">reply</a></div>
                      </header>
                      <div class="comment-body">
                        <p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident Aiusmod tempor incididunt labore dolore magna ust enim sed veniams quis nostrud culpa qui officia deserunt mollit anim id est laborum.</p>
                      </div>
                    </div>
                  </article>
                </li>
              </ul>
            </li>
            <li>
              <article class="comment">
                <div class="comment-face"><img class="img-fluid" src="assets/media/content/b-post/face/3.jpg" alt="face"/></div>
                <div class="comment-inner">
                  <header class="comment-header row">
                    <div class="col">
                      <cite class="comment-author">William Henry</cite>
                      <time class="comment-datetime" datetime="2012-10-27">April 25, 2019 at 3:48pm</time>
                    </div>
                    <div class="col-auto"><a class="comment-btn bg-secondary" href="blog-post.html">reply</a></div>
                  </header>
                  <div class="comment-body">
                    <p>Voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat non proident Aiusmod tempor incididunt labore dolore magna ust enim sed veniams quis nostrud culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </section>
      <!-- end .section-comment-->
      
      <section class="section-reply-form" id="section-reply-form">
        <div class="container">
          <div class="text-center d-inline-block">
            <div class="ui-title-logo">AUTLINES</div>
            <h2 class="ui-title">POST A REPLY</h2>
          </div>
          <form class="form-reply ui-form" action="#" method="post">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label class="form-label">Your Name*</label>
                  <input class="form-control" type="text"/>
                </div>
                <div class="form-group">
                  <label class="form-label">Email Address*</label>
                  <input class="form-control" type="email"/>
                </div>
                <div class="form-group">
                  <label class="form-label">Website</label>
                  <input class="form-control" type="text"/>
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label class="form-label">Your Message*</label>
                  <textarea class="form-control" rows="8"></textarea>
                </div>
                <button class="btn btn-secondary w-100">submit</button>
              </div>
            </div>
          </form>
        </div>
      </section>
      <!-- end .section-reply-form-->
      
    </main>
  </div>