<div
  class="section-title-page area-bg area-bg_dark area-bg_op_60"
  [ngStyle]="{ 'margin-top': '0px' }"
>
  >
  <div class="area-bg__inner">
    <div class="container text-center">
      <h1 class="b-title-page">{{ title }}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ title }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="l-main-content">
  <!-- <div class="ui-decor ui-decor_mirror bg-primary"></div> -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-3">
        <div class="b-booking-nav">
          <a
            class="b-booking-nav__item"
            (click)="changeStep(1)"
            [ngClass]="{ active: step1 }"
          >
            <div class="b-booking-nav__header">Paso 1</div>
            <div class="b-booking-nav__main">
              <i class="ic fas fa-car-side"></i>
              <span class="b-booking-nav__title">Datos del propietario</span>
            </div></a
          ><a
            class="b-booking-nav__item"
            (click)="changeStep(2)"
            [ngClass]="{ active: step2 }"
          >
            <div class="b-booking-nav__header">Paso 2</div>
            <div class="b-booking-nav__main">
              <i class="ic fas fa-cubes"></i>
              <span class="b-booking-nav__title">Datos Generales</span>
            </div></a
          ><a
            class="b-booking-nav__item"
            (click)="changeStep(3)"
            [ngClass]="{ active: step3 }"
          >
            <div class="b-booking-nav__header">Paso 3</div>
            <div class="b-booking-nav__main">
              <i class="ic fas fa-cog"></i>
              <span class="b-booking-nav__title">Datos Técnicos</span>
            </div></a
          ><a
            class="b-booking-nav__item"
            (click)="changeStep(4)"
            [ngClass]="{ active: step4 }"
          >
            <div class="b-booking-nav__header">Paso 4</div>
            <div class="b-booking-nav__main">
              <i class="ic far fa-calendar"></i>
              <span class="b-booking-nav__title">Cargar imágenes</span>
            </div></a
          ><a
            class="b-booking-nav__item"
            (click)="changeStep(5)"
            [ngClass]="{ active: step5 }"
          >
            <div class="b-booking-nav__header">Paso 5</div>
            <div class="b-booking-nav__main">
              <i class="ic fas fa-edit"></i>
              <span class="b-booking-nav__title">Términos y Condiciones</span>
            </div></a
          >
        </div>
      </div>
      <div class="col-6 pt-5">
        <form [formGroup]="formGroup">
          <div [hidden]="!step1">
            <h2>Datos del propietario principal o mayoritario del vehículo</h2>
            <mat-form-field appearance="fill" class="w-100 mt-5">
              <mat-label>DNI Dueño</mat-label>
              <input matInput type="text" formControlName="dniDueno" />
              <mat-error *ngIf="formGroup.get('dniDueno')?.errors?.required">
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Nombres Dueño</mat-label>
              <input matInput type="text" formControlName="nombreDueno" />
              <mat-error *ngIf="formGroup.get('nombreDueno')?.errors?.required">
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Correo Dueño</mat-label>
              <input matInput type="text" formControlName="correoDueno" />
              <mat-error *ngIf="formGroup.get('correoDueno')?.errors?.required">
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Teléfono Dueño</mat-label>
              <input matInput type="text" formControlName="telefonoDueno" />
              <mat-error
                *ngIf="formGroup.get('telefonoDueno')?.errors?.required"
              >
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
            <div class="container mt-2 py-3">
              <div class="row justify-content-around">
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="changeStep(2)"
                >
                  Continuar
                </button>
              </div>
            </div>
          </div>
          <div [hidden]="!step2">
            <h2>Datos generales de tu vehículo</h2>
            <mat-form-field appearance="fill" class="w-100 mt-5">
              <mat-label>Carrocería</mat-label>
              <mat-select formControlName="tipoCarroceria">
                <mat-option
                  *ngFor="let carroceria of dataService.tiposCarroceria"
                  [value]="carroceria"
                >
                  {{ carroceria }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="formGroup.get('tipoCarroceria')?.errors?.required"
              >
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Placa</mat-label>
              <input
                maxlength="6"
                matInput
                type="text"
                formControlName="placa"
              />
              <button
                mat-icon-button
                matSuffix
                title="Buscar Placa"
                type="button"
              >
                <mat-icon (click)="checkPlaca()" *ngIf="!fetchingPlaca">
                  search
                </mat-icon>
                <mat-spinner
                  style="cursor: progress"
                  *ngIf="fetchingPlaca"
                  diameter="24"
                >
                </mat-spinner>
              </button>
              <mat-error *ngIf="formGroup.get('placa')?.errors?.required">
                Este campo es obligatorio.
              </mat-error>
              <mat-error
                *ngIf="
                  formGroup.get('placa')?.errors?.minLength ||
                  formGroup.get('placa')?.errors?.maxLength
                "
              >
                Debe ingresar una placa válida.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Serie</mat-label>
              <input readonly matInput type="text" formControlName="serie" />
              <mat-error *ngIf="formGroup.get('serie')?.errors?.required">
                Primero, debes buscar la placa ingresada.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Marca</mat-label>
              <input readonly matInput type="text" formControlName="marca" />
              <mat-error *ngIf="formGroup.get('marca')?.errors?.required">
                Primero, debes buscar la placa ingresada.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Modelo</mat-label>
              <input readonly matInput type="text" formControlName="modelo" />
              <mat-error *ngIf="formGroup.get('modelo')?.errors?.required">
                Primero, debes buscar la placa ingresada.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Año Fabricación</mat-label>
              <input matInput type="number" formControlName="anoFabricacion" />
              <mat-error
                *ngIf="formGroup.get('anoFabricacion')?.errors?.required"
              >
                Este campo es obligatorio.
              </mat-error>
              <mat-error *ngIf="formGroup.get('anoFabricacion')?.errors?.min">
                No pueden venderse carros fabricados antes de 1999.
              </mat-error>
              <mat-error
                *ngIf="
                  formGroup.get('anoFabricacion')?.errors?.max ||
                  formGroup.get('anoFabricacion')?.errors?.maxlength
                "
              >
                Debe ingresar un año válido.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Color</mat-label>
              <input matInput type="text" formControlName="color" />
              <mat-error *ngIf="formGroup.get('color')?.errors?.required">
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
            <div class="container mt-2 py-3">
              <div class="row justify-content-around">
                <button
                  mat-raised-button
                  color="none"
                  type="button"
                  (click)="changeStep(1)"
                >
                  Anterior
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="changeStep(3)"
                >
                  Continuar
                </button>
              </div>
            </div>
          </div>
          <div [hidden]="!step3">
            <h2>Características técnicas de tu vehículo</h2>
            <mat-form-field appearance="fill" class="w-100 mt-5">
              <mat-label>Tipo de Transmisión</mat-label>
              <mat-select formControlName="tipoCambios">
                <mat-option
                  *ngFor="let cambios of dataService.tiposTransmision"
                  [value]="cambios"
                >
                  {{ cambios }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('tipoCambios')?.errors?.required">
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Combustible</mat-label>
              <mat-select formControlName="tipoCombustible">
                <mat-option
                  *ngFor="let combustible of dataService.tiposCombustible"
                  [value]="combustible"
                >
                  {{ combustible }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="formGroup.get('tipoCombustible')?.errors?.required"
              >
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Motor (CC)</mat-label>
              <input
                matInput
                type="text"
                placeholder="Ejemplo: 2.5"
                formControlName="cilindrada"
              />
              <mat-error *ngIf="formGroup.get('cilindrada')?.errors?.required">
                Este campo es obligatorio.
              </mat-error>
              <mat-error
                *ngIf="
                  formGroup.get('cilindrada')?.errors?.min ||
                  formGroup.get('cilindrada')?.errors?.max
                "
              >
                Debes ingresar un número válido de clindrada válido.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Kilometraje</mat-label>
              <input
                matInput
                type="number"
                formControlName="kilometraje"
                [OnlyNumber]="true"
              />
              <mat-error *ngIf="formGroup.get('kilometraje')?.errors?.required">
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Nº Puertas</mat-label>
              <input matInput type="number" formControlName="numeroPuertas" />
              <mat-error
                *ngIf="formGroup.get('numeroPuertas')?.errors?.required"
              >
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Tracción</mat-label>
              <mat-select formControlName="tipoTraccion">
                <mat-option
                  *ngFor="let traccion of dataService.tiposTracciones"
                  [value]="traccion"
                >
                  {{ traccion }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="formGroup.get('tipoTraccion')?.errors?.required"
              >
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Nº Cilindros</mat-label>
              <input matInput type="number" formControlName="numeroCilindros" />
              <mat-error
                *ngIf="formGroup.get('numeroCilindros')?.errors?.required"
              >
                Este campo es obligatorio.
              </mat-error>
              <mat-error
                *ngIf="
                  formGroup.get('numeroCilindros')?.errors?.min ||
                  formGroup.get('numeroCilindros')?.errors?.max
                "
              >
                Debes ingresar un número válido de cilindros.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Precio Venta (US$)</mat-label>
              <input
                matInput
                type="number"
                formControlName="precioVenta"
                [OnlyNumber]="true"
              />
              <mat-error *ngIf="formGroup.get('precioVenta')?.errors?.required">
                Este campo es obligatorio.
              </mat-error>
            </mat-form-field>
            <div class="container mt-2 py-3">
              <div class="row justify-content-around">
                <button
                  mat-raised-button
                  color="none"
                  type="button"
                  (click)="changeStep(2)"
                >
                  Anterior
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="changeStep(4)"
                >
                  Continuar
                </button>
              </div>
            </div>
          </div>
          <div [hidden]="!step4">
            <h2>Sube las fotos de tu vehículo</h2>
            <p>
              Agrega tus fotos aquí,
              <b
                >la primera será la que aparecerá en toda la aplicación como
                principal</b
              >. Puedes reordenar las fotos que has subido a tu gusto jalándolas
              y soltándolas. Está permitido un máximo de 15 fotos.
            </p>
            <div class="row mt-5 justify-content-center">
              <div
                cdkDropList
                cdkDropListOrientation="horizontal"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let foto of fotos; let i = index"
                  cdkDrag
                >
                  <div class="image-upload text-center">
                    <label [for]="'upload' + i" class="photo text-center">
                      <img
                        [src]="
                          foto.src
                            ? foto.src
                            : 'assets/media/general/upload.jpg'
                        "
                        class="img-fluid"
                      />
                    </label>
                    <input
                      type="file"
                      accept="image/*"
                      [id]="'upload' + i"
                      (change)="onImageChange($event, i)"
                    />
                    <button
                      mat-mini-fab
                      color="none"
                      (click)="removePhoto(i)"
                      style="outline: none"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="example-box" *ngIf="fotos.length < 15">
                  <button
                    mat-fab
                    color="none"
                    style="outline: none"
                    (click)="addPhoto()"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <mat-form-field appearance="fill" class="w-100 mt-3">
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="descripcion"></textarea>
              </mat-form-field>
            </div>
            <div class="container mt-2 py-3">
              <div class="row justify-content-around">
                <button
                  mat-raised-button
                  color="none"
                  type="button"
                  (click)="changeStep(3)"
                >
                  Anterior
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  type="button"
                  (click)="changeStep(5)"
                >
                  Continuar
                </button>
              </div>
            </div>
          </div>
          <div [hidden]="!step5">
            <div class="container mt-2 py-3">
              <div class="row">
                <h2>Términos y Condiciones del servicio</h2>
              </div>
              <div class="row">
                <ol>
                  <li>Anunciar en Clicker es gratis.</li>
                  <li>
                    Nosotros nos encargamos de promocionar tu auto así como
                    asesorarte y ayudarte en todo el proceso de venta de tu
                    auto. Contamos con un equipo de ventas especializado, así
                    como también con los canales de venta ideales para que el
                    proceso de venta de tu auto sea rápido, seguro y
                    transparente.
                  </li>
                  <li>
                    Solo cobraremos una comisión de éxito del 4% en caso se
                    venda tu auto.
                  </li>
                </ol>
              </div>
              <div class="row">
                <h6><b>Estás de acuerdo con estas condiciones?</b></h6>
              </div>
              <div class="row">
                <mat-radio-group
                  aria-labelledby="example-radio-group-label"
                  class="d-flex flex-column"
                  formControlName="terms"
                >
                  <mat-radio-button class="m-1" [value]="true">
                    Sí, estoy de acuerdo.
                  </mat-radio-button>
                  <mat-radio-button class="m-1" [value]="false">
                    No, no estoy de acuerdo de momento.
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row">
                <div class="col">
                  <hr />
                  <div class="row justify-content-center">
                    <mat-checkbox color="primary"
                      >Acepto el
                      <a href="" class="text-blue"
                        >aviso de protección de datos</a
                      ></mat-checkbox
                    >
                  </div>
                </div>
              </div>
              <div class="row justify-content-around">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  (click)="submitActionWrapper()"
                >
                  {{ submitButtonText }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
