<!-- Section-1 Buscador & filtros por carrocería, marca, modelo, precio y año -->
<section class="b-main-filter bg-dark">
  <div class="ui-decor ui-decor_mirror bg-primary"></div>
  <div class="container">
    <div class="b-main-filter__wrap text-center">
      <div class="b-main-filter__logo">
        <img
          class="img-fluid"
          src="assets/media/general/logo-sm.png"
          alt="decor"
        />
      </div>
      <span class="b-main-filter__decor"></span>
      <h2 class="ui-title ui-title_lg ui-title_light text-uppercase">
        Encuentra el carro de tus sueños
      </h2>
      <div class="ui-title-logo ui-title-logo_dark">CLICKER</div>
      <form class="b-main-filter__form">
        <div class="b-main-filter__cat btn-group-toggle" data-toggle="buttons">
          <label class="btn b-main-filter__cat-item">
            <input
              type="radio"
              name="options"
              id="option1"
              checked="checked"
            /><span
              (click)="changeCarType('PICKUP')"
              class="ic flaticon-pick-up"
            ></span>
            PICKUP
          </label>
          <label class="btn b-main-filter__cat-item active">
            <input type="radio" name="options" id="option2" /><span
              (click)="changeCarType('SUV')"
              class="ic flaticon-car-suv"
            ></span>
            SUV
          </label>
          <label class="btn b-main-filter__cat-item">
            <input type="radio" name="options" id="option3" /><span
              (click)="changeCarType('COUPE')"
              class="ic flaticon-coupe-car"
            ></span>
            COUPE
          </label>
          <label class="btn b-main-filter__cat-item">
            <input type="radio" name="options" id="option4" /><span
              (click)="changeCarType('CONVERTIBLE')"
              class="ic flaticon-cabrio-car"
            ></span>
            CONVERTIBLE
          </label>
          <label class="btn b-main-filter__cat-item">
            <input type="radio" name="options" id="option5" /><span
              (click)="changeCarType('SEDAN')"
              class="ic flaticon-sedan-car-model"
            ></span>
            SEDAN
          </label>
          <label class="btn b-main-filter__cat-item">
            <input type="radio" name="options" id="option6" /><span
              (click)="changeCarType('VAN')"
              class="ic flaticon-car"
            ></span>
            VAN
          </label>
          <label class="btn b-main-filter__cat-item">
            <input type="radio" name="options" id="option7" /><span
              (click)="changeCarType('CITYCAR')"
              class="ic flaticon-car"
            ></span>
            CITYCAR
          </label>
          <label class="btn b-main-filter__cat-item">
            <input type="radio" name="options" id="option7" /><span
              (click)="changeCarType('OTRO')"
              class="ic flaticon-car"
            ></span>
            OTRO
          </label>
        </div>
        <ul class="b-main-filter-nav nav nav-tabs" id="findTab" role="tablist">
          <li class="b-main-filter-nav__item nav-item">
            <a
              (click)="changeCarSubset('ALL')"
              class="b-main-filter-nav__link nav-link active"
              id="tab-allCar"
              data-toggle="tab"
              href="#content-allCar"
              role="tab"
              aria-controls="content-allCar"
              aria-selected="true"
              ><i class="ic icon-magnifier text-primary"></i>Todos los autos</a
            >
          </li>
          <li class="b-main-filter-nav__item nav-item">
            <a
              (click)="changeCarSubset('NEW')"
              class="b-main-filter-nav__link nav-link"
              id="tab-newCars"
              data-toggle="tab"
              href="#content-allCar"
              role="tab"
              aria-controls="content-allCar"
              aria-selected="false"
              >Autos Nuevos</a
            >
          </li>
          <li class="b-main-filter-nav__item nav-item">
            <a
              (click)="changeCarSubset('USED')"
              class="b-main-filter-nav__link nav-link"
              id="tab-usedCars"
              data-toggle="tab"
              href="#content-allCar"
              role="tab"
              aria-controls="content-allCar"
              aria-selected="false"
              >Autos Usados</a
            >
          </li>
        </ul>
        <div class="b-main-filter-content tab-content" id="findTabContent">
          <div class="tab-pane fade show active" id="content-allCar">
            <div class="row align-items-end no-gutters">
              <div class="b-main-filter__main col-lg">
                <div class="b-main-filter__inner row no-gutters">
                  <div class="b-main-filter__item col-md-4">
                    <div class="b-main-filter__label">Seleccionar Marca</div>
                    <div class="b-main-filter__selector">
                      <select
                        (change)="changeCarBrand($event)"
                        class="selectpicker"
                        data-width="100%"
                        data-style="ui-select"
                      >
                        <option>Toyota</option>
                        <option>Tesla</option>
                        <option>BMV</option>
                        <option>Opel</option>
                        <option>Kia</option>
                      </select>
                    </div>
                  </div>
                  <div class="b-main-filter__item col-md-4">
                    <div class="b-main-filter__label">Seleccionar Modelo</div>
                    <div class="b-main-filter__selector">
                      <select
                        (change)="changeCarModel($event)"
                        class="selectpicker"
                        data-width="100%"
                        data-style="ui-select"
                      >
                        <!-- TODO: cambiar dinamicamente dependiendo de la marca -->
                        <option>Yaris</option>
                        <option>Model X</option>
                        <option>Model Y</option>
                        <option>Model S</option>
                        <option>Model 3</option>
                      </select>
                    </div>
                  </div>
                  <div class="b-main-filter__item col-md-4">
                    <div class="b-main-filter__label">Rango de Precio</div>
                    <div class="b-main-filter__selector">
                      <select
                        (change)="changeCarMaxPrice($event)"
                        class="selectpicker"
                        data-width="100%"
                        data-style="ui-select"
                      >
                        <!-- TODO: cambiar dinamicamente dependiendo de la marca? -->
                        <option>Max $5000</option>
                        <option>Max $15000</option>
                        <option>Max $25000</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-auto">
                <button
                  (click)="searchCar()"
                  class="b-main-filter__btn btn btn-secondary"
                >
                  Buscar
                </button>
              </div>
            </div>
          </div>
          <!-- <div class="tab-pane fade" id="content-newCars">
            <div class="row align-items-end no-gutters">
            <div class="b-main-filter__main col-lg">
                <div class="b-main-filter__inner row no-gutters">
                <div class="b-main-filter__item col-md-4">
                    <div class="b-main-filter__label">Seleccionar Marca</div>
                    <div class="b-main-filter__selector">
                    <select class="selectpicker" data-width="100%" data-style="ui-select">
                        <option>Audi</option>
                        <option>BMV</option>
                        <option>Opel</option>
                    </select>
                    </div>
                </div>
                <div class="b-main-filter__item col-md-4">
                    <div class="b-main-filter__label">Seleccionar Modelo</div>
                    <div class="b-main-filter__selector">
                    <select class="selectpicker" data-width="100%" data-style="ui-select">
                        <option>Model 1</option>
                        <option>Model 2</option>
                        <option>Model 3</option>
                    </select>
                    </div>
                </div>
                <div class="b-main-filter__item col-md-4">
                    <div class="b-main-filter__label">Rando de Precio</div>
                    <div class="b-main-filter__selector">
                    <select class="selectpicker" data-width="100%" data-style="ui-select">
                        <option>Max $5000</option>
                        <option>Max $15000</option>
                        <option>Max $25000</option>
                    </select>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-auto">
                <button class="b-main-filter__btn btn btn-secondary">Buscar</button>
            </div>
            </div>
        </div>
        <div class="tab-pane fade" id="content-usedCars">
            <div class="row align-items-end no-gutters">
            <div class="b-main-filter__main col-lg">
                <div class="b-main-filter__inner row no-gutters">
                <div class="b-main-filter__item col-md-4">
                    <div class="b-main-filter__label">Seleccionar Marca</div>
                    <div class="b-main-filter__selector">
                    <select class="selectpicker" data-width="100%" data-style="ui-select">
                        <option>Audi</option>
                        <option>BMV</option>
                        <option>Opel</option>
                    </select>
                    </div>
                </div>
                <div class="b-main-filter__item col-md-4">
                    <div class="b-main-filter__label">Seleccionar Modelo</div>
                    <div class="b-main-filter__selector">
                    <select class="selectpicker" data-width="100%" data-style="ui-select">
                        <option>Model 1</option>
                        <option>Model 2</option>
                        <option>Model 3</option>
                    </select>
                    </div>
                </div>
                <div class="b-main-filter__item col-md-4">
                    <div class="b-main-filter__label">Rango de Precio</div>
                    <div class="b-main-filter__selector">
                    <select class="selectpicker" data-width="100%" data-style="ui-select">
                        <option>Max $5000</option>
                        <option>Max $15000</option>
                        <option>Max $25000</option>
                    </select>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-auto">
                <button class="b-main-filter__btn btn btn-secondary">Buscar</button>
            </div>
            </div>
        </div> -->
        </div>
      </form>
    </div>
  </div>
</section>
<!-- Section-2 Servicios Ofrecidos -->
<section class="b-services">
  <div class="ui-decor bg-primary"></div>
  <div class="container">
    <div class="row flex-lg-row-reverse">
      <div class="col-lg-6">
        <div class="b-services-nav nav" id="servicesTab" role="tablist">
          <a
            class="b-services-nav__link col-md-6 mt-4 nav-link active"
            id="services1-tab"
            data-toggle="tab"
            href="#services1"
            role="tab"
            aria-controls="services1"
            aria-selected="true"
          >
            <div class="b-services-nav__inner">
              <i class="ic flaticon-tyre"></i>
              <div class="b-services-nav__title">Elige el auto ideal</div>
            </div></a
          ><a
            class="b-services-nav__link col-md-6 nav-link"
            id="services2-tab"
            data-toggle="tab"
            href="#services2"
            role="tab"
            aria-controls="services2"
            aria-selected="false"
          >
            <div class="b-services-nav__inner">
              <i class="ic flaticon-key"></i>
              <div class="b-services-nav__title">Asesoría personalizada</div>
            </div></a
          ><a
            class="b-services-nav__link col-md-6 mt-4 nav-link"
            id="services3-tab"
            data-toggle="tab"
            href="#services3"
            role="tab"
            aria-controls="services3"
            aria-selected="false"
          >
            <div class="b-services-nav__inner">
              <i class="ic flaticon-timing-belt"></i>
              <div class="b-services-nav__title">Rapidez en el proceso</div>
            </div></a
          ><a
            class="b-services-nav__link col-md-6 nav-link"
            id="services4-tab"
            data-toggle="tab"
            href="#services4"
            role="tab"
            aria-controls="services4"
            aria-selected="false"
          >
            <div class="b-services-nav__inner">
              <i class="ic flaticon-fix-sign"></i>
              <div class="b-services-nav__title">Financiamiento vehicular</div>
            </div></a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <div class="b-services-content tab-content" id="servicesTabContent">
          <section
            class="b-services-content__section tab-pane fade show active"
            id="services1"
            role="tabpanel"
            aria-labelledby="services1-tab"
          >
            <div class="text-center d-inline-block">
              <div class="ui-title-logo">CLICKER</div>
              <h2 class="ui-title mb-3">Elige el auto ideal</h2>
            </div>
            <div class="b-services-content__main">
              <p>
                Interactúa con nuestro asistente virtual en Facebook para que
                puedas conocer toda la variedad de vehículos que tenemos para
                ti.
              </p>
              <h3 class="b-services-content__subtitle text-primary">
                Agenda tu cita
              </h3>
              <p>
                Conversa con un asesor para que te ayude con tu visita a tienda.
              </p>
              <!-- TODO: inbound net2phone -->
              <div class="b-phone">
                <i class="ic icon-call-end"></i> Llámanos:<a
                  class="b-phone__number"
                  href="tel:+17553028549"
                  >+1 (755) 302-8549</a
                >
              </div>
              <!-- end .b-phone-->
            </div>
          </section>
          <section
            class="b-services-content__section tab-pane fade"
            id="services2"
            role="tabpanel"
            aria-labelledby="services2-tab"
          >
            <div class="text-center d-inline-block">
              <div class="ui-title-logo">CLICKER</div>
              <h2 class="ui-title mb-3">Asesoría personalizada</h2>
            </div>
            <div class="b-services-content__main">
              <p>
                Nuestros asesores te guiarán en el proceso de búsqueda de un
                auto que calce con tu presupuesto y tus necesidades.
              </p>
              <h3 class="b-services-content__subtitle text-primary">
                Book your free Auto Inspection
              </h3>
              <p>
                Excepteur sint occaecat cupidatat non proident sunt ind culpa
                qudesa officia deserunt mollit anim est laboru unde omnis iste
                natus.
              </p>
              <div class="b-phone">
                <i class="ic icon-call-end"></i> Call Us For Booking<a
                  class="b-phone__number"
                  href="tel:+17553028549"
                  >+1 (755) 302-8549</a
                >
              </div>
              <!-- end .b-phone-->
            </div>
          </section>
          <section
            class="b-services-content__section tab-pane fade"
            id="services3"
            role="tabpanel"
            aria-labelledby="services3-tab"
          >
            <div class="text-center d-inline-block">
              <div class="ui-title-logo">CLICKER</div>
              <h2 class="ui-title mb-3">Rapidez en el proceso</h2>
            </div>
            <div class="b-services-content__main">
              <p>
                La compra de un auto es importante y nosotros lo sabemos. Pero
                esta compra no necesariamente tiene que ser lenta si tienes la
                asesoría de expertos.
              </p>
              <h3 class="b-services-content__subtitle text-primary">
                Book your free Auto Inspection
              </h3>
              <p>
                Excepteur sint occaecat cupidatat non proident sunt ind culpa
                qudesa officia deserunt mollit anim est laboru unde omnis iste
                natus.
              </p>
              <div class="b-phone">
                <i class="ic icon-call-end"></i> Call Us For Booking<a
                  class="b-phone__number"
                  href="tel:+17553028549"
                  >+1 (755) 302-8549</a
                >
              </div>
              <!-- end .b-phone-->
            </div>
          </section>
          <section
            class="b-services-content__section tab-pane fade"
            id="services4"
            role="tabpanel"
            aria-labelledby="services4-tab"
          >
            <div class="text-center d-inline-block">
              <div class="ui-title-logo">CLICKER</div>
              <h2 class="ui-title mb-3">Financiamiento vehicular</h2>
            </div>
            <div class="b-services-content__main">
              <p>
                Trabajamos con las principales entidades financieras del
                mercado. Te ayudaremos en el proceso de evaluación crediticia.
              </p>
              <div class="b-phone">
                <i class="ic icon-call-end"></i> Call Us For Booking<a
                  class="b-phone__number"
                  href="tel:+17553028549"
                  >+1 (755) 302-8549</a
                >
              </div>
              <!-- end .b-phone-->
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section-3 Recién Llegados -->
<section class="section-goods">
  <div class="section-default section-goods__inner bg-dark">
    <div class="ui-decor ui-decor_mirror ui-decor_center"></div>
    <div class="container">
      <div class="text-center">
        <div class="ui-title-logo ui-title-logo_dark">CLICKER</div>
        <h2 class="ui-title ui-title_light text-uppercase">
          Seminuevos recién llegados
        </h2>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <p>
              Dale una mirada a los autos que acaban de ingresar a nuestra
              plataforma.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section-goods__list">
      <div class="row">
        <!-- TODO: usar endpoint de seminuevos paginados (ya ta ordenado por fecha de publicacion) -->
        <div class="col-xl-3 col-md-6" *ngFor="let seminuevo of recentCars">
          <div class="b-goods">
            <a class="b-goods__img">
              <img
                [src]="seminuevo.fotoPrincipal"
                [alt]="seminuevo.modelo"
                class="img-scale"
              />
            </a>
            <div class="b-goods__main">
              <div class="row no-gutters">
                <div class="col">
                  <a class="b-goods__title">
                    {{
                      seminuevo.marca +
                        " " +
                        seminuevo.modelo +
                        " " +
                        seminuevo.anoFabricacion
                    }}
                  </a>
                  <div class="b-goods__info">
                    {{ seminuevo.locaciones?.departamento }}
                  </div>
                </div>
                <div class="col-auto">
                  <div class="b-goods__price text-primary">
                    <span class="b-goods__price-number"
                      >US${{ seminuevo.precioVenta }}</span
                    >
                  </div>
                </div>
              </div>
              <div class="b-goods-descrip row no-gutters">
                <div class="b-goods-descrip__item col">
                  <div class="b-goods-descrip__inner">
                    <div class="b-goods-descrip__wrap">
                      <i class="ic flaticon-speedometer"></i
                      ><span class="b-goods-descrip__info">
                        {{ seminuevo.kilometraje }} km</span
                      >
                    </div>
                  </div>
                </div>
                <div class="b-goods-descrip__item col">
                  <div class="b-goods-descrip__inner">
                    <div class="b-goods-descrip__wrap">
                      <i class="ic flaticon-fuel-station-pump"></i>
                      <span class="b-goods-descrip__info">
                        {{ seminuevo.tipoCombustible }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="b-goods-descrip__item col">
                  <div class="b-goods-descrip__inner">
                    <div class="b-goods-descrip__wrap">
                      <i class="ic flaticon-gearshift"></i>
                      <span class="b-goods-descrip__info">
                        {{ seminuevo.tipoCambios }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <a class="btn btn-secondary" href="#">show more</a>
      </div>
    </div>
  </div>
</section>
<!-- Section-4 Números de la App - EasyPieChart -->
<section class="section-progress bg-dark">
  <div class="container-fluid">
    <div class="section-progress__inner">
      <div class="section-progress__img">
        <img
          class="img-scale"
          src="assets/media/content/b-progress/fig-1.png"
          alt="photo"
        />
      </div>
      <div class="b-progress-list">
        <div class="row">
          <div class="b-progress-list__item col-md-6">
            <span class="b-progress-list__percent js-chart" data-percent="3874"
              ><span class="js-percent"></span></span
            ><span class="b-progress-list__name">Vehículos Disponibles</span>
          </div>
          <div class="b-progress-list__item col-md-6 text-right">
            <span class="b-progress-list__percent js-chart" data-percent="265"
              ><span class="js-percent"></span>+</span
            ><span class="b-progress-list__name"
              >Marcas de autos que manejamos</span
            >
          </div>
          <div class="b-progress-list__item col-md-6">
            <span class="b-progress-list__percent js-chart" data-percent="1450"
              ><span class="js-percent"></span>+</span
            ><span class="b-progress-list__name">?</span>
          </div>
          <div class="b-progress-list__item col-md-6 text-right">
            <span class="b-progress-list__percent js-chart" data-percent="6403"
              ><span class="js-percent"></span></span
            ><span class="b-progress-list__name">?</span>
          </div>
        </div>
      </div>
      <div class="section-progress__img ml-4">
        <img
          class="img-scale"
          src="assets/media/content/b-progress/fig-2.png"
          alt="photo"
        />
      </div>
    </div>
  </div>
</section>
<!-- Section-5 Carros patrocinados -->
<section class="section-goods-slider bg-dark">
  <div class="section-goods-slider__inner">
    <div class="ui-decor ui-decor_center bg-primary"></div>
    <div class="container">
      <div class="text-center">
        <div class="ui-title-logo ui-title-logo_dark">CLICKER</div>
        <h2 class="ui-title ui-title_light">Ofertas de la semana</h2>
        <div
          class="b-goods-slider-2 js-slider"
          data-slick='{
            "slidesToShow": 2,
            "slidesToScroll": 1,
            "dots": true,
            "arrows": true,
            "autoplay": true,
            "responsive": [
              {
                "breakpoint": 992,
                "settings": { "slidesToShow": 1, "slidesToScroll": 1 }
              }
            ]
          }'
        >
          <div class="div" *ngFor="let sponsored of sponsoredCars">
            <div class="b-goods-2">
              <div class="b-goods-2__img">
                <img
                  [src]="sponsored.fotoPrincipal"
                  [alt]="sponsored.modelo"
                  class="img-fluid"
                />
              </div>
              <div class="b-goods-2__main">
                <div class="row justify-content-between align-items-baseline">
                  <div class="col-auto">
                    <div class="b-goods-2__title text-primary">
                      {{
                        sponsored.marca +
                          " " +
                          sponsored.modelo +
                          " " +
                          sponsored.anoFabricacion
                      }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="b-goods-2__price">
                      US$
                      <span class="b-goods-2__price-inner text-secondary">{{
                        sponsored.precioVenta
                      }}</span>
                    </div>
                  </div>
                </div>
                <div class="b-goods-2-descrip">
                  <div class="b-goods-2-descrip__item">
                    <div class="b-goods-2-descrip__inner">
                      <div class="b-goods-2-descrip__wrap">
                        <i class="ic flaticon-speedometer"></i>
                        {{ sponsored.kilometraje / 1000 }}k km
                      </div>
                    </div>
                  </div>
                  <div class="b-goods-2-descrip__item">
                    <div class="b-goods-2-descrip__inner">
                      <div class="b-goods-2-descrip__wrap">
                        <i class="ic flaticon-fuel-station-pump"></i>
                        {{ sponsored.tipoCombustible }}
                      </div>
                    </div>
                  </div>
                  <div class="b-goods-2-descrip__item">
                    <div class="b-goods-2-descrip__inner">
                      <div class="b-goods-2-descrip__wrap">
                        <i class="ic flaticon-gearshift"></i>
                        {{ sponsored.tipoCambios }}
                      </div>
                    </div>
                  </div>
                  <div class="b-goods-2-descrip__item">
                    <div class="b-goods-2-descrip__inner">
                      <div class="b-goods-2-descrip__wrap">
                        <i class="ic flaticon-car-8"></i>
                        {{ sponsored.anoFabricacion }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section-6 Qué ofrecemos? -->
<section class="section-offers">
  <div class="section-offers__inner bg-dark">
    <div class="ui-decor ui-decor_mirror ui-decor_center bg-primary"></div>
    <div class="container">
      <div class="text-center">
        <div class="ui-title-logo ui-title-logo_dark">CLICKER</div>
        <h2 class="ui-title ui-title_light text-uppercase">¿Qué ofrecemos?</h2>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <p>¿Qué ofrecemos?</p>
          </div>
        </div>
        <div
          class="b-offers-slider ui-slider_arr-prim js-slider"
          data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "dots": false, "arrows": true, "autoplay": true,   "responsive": [{"breakpoint": 992, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}]}'
        >
          <div class="b-offers">
            <div class="b-offers__wrap">
              <div
                class="b-offers__ic text-primary flaticon-sedan-car-model"
              ></div>
              <div class="b-offers__title">Financiamiento</div>
              <div class="b-offers__inner bg-primary">
                <div class="b-offers__img">
                  <img
                    class="img-scale"
                    src="assets/media/content/b-offers/img-1.jpg"
                    alt="photo"
                  />
                </div>
                <div class="b-offers__info">
                  Adipisicing eiusmod tempor incidids labore dolore magna aliqa
                  ust enim ad minim veniams quis nostrud sed citation ullam co
                  laboris nisit aliquip in culpa qui officia deserunt mollit
                  anim.
                </div>
              </div>
            </div>
          </div>

          <div class="b-offers">
            <div class="b-offers__wrap">
              <div class="b-offers__ic text-primary flaticon-car"></div>
              <div class="b-offers__title">buy sell cars</div>
              <div class="b-offers__inner bg-primary">
                <div class="b-offers__img">
                  <img
                    class="img-scale"
                    src="assets/media/content/b-offers/img-1.jpg"
                    alt="photo"
                  />
                </div>
                <div class="b-offers__info">
                  Adipisicing eiusmod tempor incidids labore dolore magna aliqa
                  ust enim ad minim veniams quis nostrud sed citation ullam co
                  laboris nisit aliquip in culpa qui officia deserunt mollit
                  anim.
                </div>
              </div>
            </div>
          </div>

          <div class="b-offers">
            <div class="b-offers__wrap">
              <div class="b-offers__ic text-primary flaticon-jeep"></div>
              <div class="b-offers__title">Financiamento</div>
              <div class="b-offers__inner bg-primary">
                <div class="b-offers__img">
                  <img
                    class="img-scale"
                    src="assets/media/content/b-offers/img-2.jpg"
                    alt="photo"
                  />
                </div>
                <div class="b-offers__info">
                  Adipisicing eiusmod tempor incidids labore dolore magna aliqa
                  ust enim ad minim veniams quis nostrud sed citation ullam co
                  laboris nisit aliquip in culpa qui officia deserunt mollit
                  anim.
                </div>
              </div>
            </div>
          </div>

          <div class="b-offers">
            <div class="b-offers__wrap">
              <div class="b-offers__ic text-primary flaticon-cabrio-car"></div>
              <div class="b-offers__title">auto Finance</div>
              <div class="b-offers__inner bg-primary">
                <div class="b-offers__img">
                  <img
                    class="img-scale"
                    src="assets/media/content/b-offers/img-2.jpg"
                    alt="photo"
                  />
                </div>
                <div class="b-offers__info">
                  Adipisicing eiusmod tempor incidids labore dolore magna aliqa
                  ust enim ad minim veniams quis nostrud sed citation ullam co
                  laboris nisit aliquip in culpa qui officia deserunt mollit
                  anim.
                </div>
              </div>
            </div>
          </div>

          <div class="b-offers">
            <div class="b-offers__wrap">
              <div class="b-offers__ic text-primary flaticon-pick-up"></div>
              <div class="b-offers__title">buy sell cars</div>
              <div class="b-offers__inner bg-primary">
                <div class="b-offers__img">
                  <img
                    class="img-scale"
                    src="assets/media/content/b-offers/img-1.jpg"
                    alt="photo"
                  />
                </div>
                <div class="b-offers__info">
                  Adipisicing eiusmod tempor incidids labore dolore magna aliqa
                  ust enim ad minim veniams quis nostrud sed citation ullam co
                  laboris nisit aliquip in culpa qui officia deserunt mollit
                  anim.
                </div>
              </div>
            </div>
          </div>

          <div class="b-offers">
            <div class="b-offers__wrap">
              <div
                class="b-offers__ic text-primary flaticon-sedan-car-model"
              ></div>
              <div class="b-offers__title">auto repairs</div>
              <div class="b-offers__inner bg-primary">
                <div class="b-offers__img">
                  <img
                    class="img-scale"
                    src="assets/media/content/b-offers/img-1.jpg"
                    alt="photo"
                  />
                </div>
                <div class="b-offers__info">
                  Adipisicing eiusmod tempor incidids labore dolore magna aliqa
                  ust enim ad minim veniams quis nostrud sed citation ullam co
                  laboris nisit aliquip in culpa qui officia deserunt mollit
                  anim.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section-7 Cómo funciona? -->
<section class="section-area mt-5">
  <div class="container">
    <div class="text-center">
      <div class="ui-title-logo">CLICKER</div>
      <h2 class="ui-title">¿Cómo funciona?</h2>
    </div>
  </div>
  <div class="container-fluid">
    <div class="b-stages">
      <div class="row no-gutters align-items-start">
        <div class="b-stages__item col-lg-3">
          <span class="b-stages__number">01</span>
          <div class="b-stages__title text-primary">Usa el buscador</div>
          <div class="b-stages__info">
            Magna aliqua enim aduas dui veniam quis nostrud exercitation ullam
            laboris aut aliquip ex consequat.
          </div>
        </div>
        <div class="b-stages__item col-lg-3 d-flex-lg flex-lg-column-reverse">
          <span class="b-stages__number">02</span>
          <div class="b-stages__inner">
            <div class="b-stages__title text-primary">
              Elige tu auto favorito
            </div>
            <div class="b-stages__info">
              Magna aliqua enim aduas dui veniam quis nostrud exercitation ullam
              laboris aut aliquip ex consequat.
            </div>
          </div>
        </div>
        <div class="b-stages__item col-lg-3">
          <span class="b-stages__number">03</span>
          <div class="b-stages__title text-primary">Elige tu auto favorito</div>
          <div class="b-stages__info">
            Magna aliqua enim aduas dui veniam quis nostrud exercitation ullam
            laboris aut aliquip ex consequat.
          </div>
        </div>
        <div class="b-stages__item col-lg-3 d-flex-lg flex-lg-column-reverse">
          <span class="b-stages__number">04</span>
          <div class="b-stages__inner">
            <div class="b-stages__title text-primary">Get Approved & Drive</div>
            <div class="b-stages__info">
              Magna aliqua enim aduas dui veniam quis nostrud exercitation ullam
              laboris aut aliquip ex consequat.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section-8 Compra o Vende -->
<section class="section-bnr-2">
  <div class="row no-gutters justify-content-center">
    <div class="col-lg-6">
      <section class="b-bnr-2 b-bnr-2_first">
        <div class="b-bnr-2__inner bg-primary">
          <a class="btn-arr btn-arr_left" href="#"></a>
          <h2 class="b-bnr-2__title">¿Quieres un auto<br />nuevo o usado?</h2>
          <div class="b-bnr-2__info">
            ¡Empecemos con la búsqueda de tu próximo auto!
          </div>
        </div>
        <img
          class="b-bnr-2__figure img-fluid"
          src="/assets/media/content/b-bnr/figure-1.png"
          alt="foto"
        />
      </section>
    </div>
    <div class="col-lg-6">
      <section class="b-bnr-2 b-bnr-2_last">
        <div class="b-bnr-2__inner bg-dark-2">
          <a class="btn-arr btn-arr_right" href="#"></a>
          <h2 class="b-bnr-2__title">¿Quieres vender<br />tu auto?</h2>
          <div class="b-bnr-2__info">
            Tu auto pasará por una verificación y si cumple con los requisitos
            se subirá a nuestro portal.
          </div>
        </div>
        <img
          class="b-bnr-2__figure img-fluid"
          src="/assets/media/content/b-bnr/figure-2.png"
          alt="foto"
        />
      </section>
    </div>
  </div>
</section>
<!-- Section-9 Testimonios -->
<section class="section-reviews area-bg area-bg_dark area-bg_op_90">
  <div class="area-bg__inner section-default">
    <div class="container text-center">
      <h2 class="ui-title-logo">Qué dicen nuestros clientes...</h2>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div
            class="b-reviews-slider js-slider"
            data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "autoplay": true, "dots": false, "arrows": false}'
          >
            <blockquote class="b-reviews">
              <div class="b-reviews__text">
                “No sabía que auto elegir y tampoco sabía si podía obtener
                financiamiento” Clicker me ayudó en todo el proceso de búsqueda
                y me terminé llevando un carrazo!
              </div>
              <div class="b-reviews__footer">
                <div class="b-reviews__name">Donald James</div>
                <div class="b-reviews__category">Customer</div>
              </div>
            </blockquote>

            <blockquote class="b-reviews">
              <div class="b-reviews__text">
                “No sabía que auto elegir y tampoco sabía si podía obtener
                financiamiento” Clicker me ayudó en todo el proceso de búsqueda
                y me terminé llevando un carrazo!
              </div>
              <div class="b-reviews__footer">
                <div class="b-reviews__name">Donald James</div>
                <div class="b-reviews__category">Customer</div>
              </div>
            </blockquote>

            <blockquote class="b-reviews">
              <div class="b-reviews__text">
                “No sabía que auto elegir y tampoco sabía si podía obtener
                financiamiento” Clicker me ayudó en todo el proceso de búsqueda
                y me terminé llevando un carraso!
              </div>
              <div class="b-reviews__footer">
                <div class="b-reviews__name">Donald James</div>
                <div class="b-reviews__category">Customer</div>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-decor ui-decor_down"></div>
  </div>
</section>
<!-- Section-10 Contact Us -->
<section class="section-bnr section-default bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <div class="b-bnr text-center">
          <h2 class="b-bnr__title">
            ¿Te quedaron dudas? Estamos para ayudarte
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="b-bnr-contacts row align-items-center">
          <div class="col-md-6">
            <div class="b-bnr-contacts__item">
              <i class="ic fas fa-phone-square text-secondary"></i>
              Llámanos:
              <!-- TODO: net2phone -->
              <a class="b-bnr-contacts__link" href="tel:+17553028549"
                >+1 755 302 8549</a
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="b-bnr-contacts__item">
              <i class="ic far fa-envelope text-secondary"></i>
              Mándanos un correo:

              <a class="b-bnr-contacts__link" href="mailto:hola@clicker.pe"
                >hola@clicker.pe</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
