<div
  [ngClass]="{
    'sidebar-container': !isAdmin,
    'sidebar-container-admin': isAdmin
  }"
>
  <!-- Remax options -->
  <ul class="m-auto sideops-container" *ngIf="isRemax || isUser; else admin">
    <!-- <li
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
    >
      <mat-icon class="mt-xs-1">account_circle</mat-icon>
      <a class="mb-xs-1">Cuenta</a>
    </li>
    <li
      *ngIf="isRemax"
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
      routerLink="balance"
    >
      <mat-icon>account_balance</mat-icon>
      <a>Balance</a>
    </li>
    <li
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
      routerLink="registrar-carro"
    >
      <mat-icon>directions_car</mat-icon>
      <a>Registrar Carro</a>
    </li>
    <li
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
      routerLink="carros-publicados"
    >
      <mat-icon>work</mat-icon>
      <a>Carros Publicados</a>
    </li>
    <li
      class="d-flex flex-column align-items-center justify-content-between sidebar-item"
      routerLink="home"
    >
      <mat-icon>exit_to_app</mat-icon>
      <a>Regresar</a>
    </li>
  </ul>
  <!-- Admin options -->
  <ng-template #admin>
    <ul class="py-5 sideops-container">
      <li
        *ngIf="isAdmin"
        class="d-flex flex-column align-items-center justify-content-between sidebar-item"
        routerLink="autos-por-validar"
      >
        <mat-icon>car_repair</mat-icon>
        <a>Autos por Validar</a>
      </li>
      <li
        class="d-flex flex-column align-items-center justify-content-between sidebar-item"
        routerLink="solicitudes-franquicia"
      >
        <mat-icon>how_to_reg</mat-icon>
        <a>Solicitudes Remax</a>
      </li>
      <li
        class="d-flex flex-column align-items-center justify-content-between sidebar-item"
        routerLink="autos-reportados"
      >
        <mat-icon>local_car_wash</mat-icon>
        <a>Autos Reportados</a>
      </li>
      <li
        class="d-flex flex-column align-items-center justify-content-between sidebar-item"
        routerLink="registrar-venta"
      >
        <mat-icon>attach_money</mat-icon>
        <a>Registrar una Venta</a>
      </li>
      <li
        class="d-flex flex-column align-items-center justify-content-between sidebar-item"
        routerLink="solicitudes-de-pago"
      >
        <mat-icon>request_quote</mat-icon>
        <a>Solicitudes de Pago</a>
      </li>
      <li
        class="d-flex flex-column align-items-center justify-content-between sidebar-item"
        routerLink="home"
      >
        <mat-icon>exit_to_app</mat-icon>
        <a>Regresar</a>
      </li>
    </ul>
  </ng-template>
</div>

<!-- <div *ngIf="mobile" class="sidesk-mobile">
      
</div> -->
