<div class="sidebar-container">
    <ul class="pl-0 mb-0 py-3 sideops-container">
        <li class="d-flex flex-column align-items-center justify-content-between sidebar-item" routerLink="2">
            <mat-icon class="mt-xs-1" aria-hidden="false">account_circle</mat-icon>
            <a class="mb-xs-1">Cuenta</a>
        </li>
        <li class="d-flex flex-column align-items-center justify-content-between sidebar-item" routerLink="1">
            <mat-icon aria-hidden="false">account_balance</mat-icon>
            <a>Balance</a>
        </li>
        <li class="d-flex flex-column align-items-center justify-content-between sidebar-item" routerLink="registrar-carro">
            <mat-icon aria-hidden="false">directions_car</mat-icon>
            <a>Registrar Carro</a>
        </li>
        <li class="d-flex flex-column align-items-center justify-content-between sidebar-item" routerLink="carros-publicados">
            <mat-icon aria-hidden="false">work</mat-icon>
            <a>Carros Publicados</a>
          </li>
        <li class="d-flex flex-column align-items-center justify-content-between sidebar-item" routerLink="home">
            <mat-icon aria-hidden="false">exit_to_app</mat-icon>
            <a>Regresar</a>
        </li>
    </ul>
</div>

<!-- <div *ngIf="mobile" class="sidesk-mobile">
      
</div> -->
