<div class="sidebar-container sidesk-container">
    <ul class="pl-0 mb-0 py-3 sideops-container">
        <li class="d-flex flex-column align-items-center justify-content-between sidebar-item" routerLink="2">
            <mat-icon aria-hidden="false">account_circle</mat-icon>
            <a>Cuenta</a>
        </li>
        <li class="d-flex flex-column align-items-center justify-content-between sidebar-item" routerLink="1">
            <mat-icon aria-hidden="false">account_balance</mat-icon>
            <a>Balance</a>
        </li>
        <li class="d-flex flex-column align-items-center justify-content-between sidebar-item" routerLink="3">
            <mat-icon aria-hidden="false">compare_arrows</mat-icon>
            <a>Transacciones</a>
        </li>
        <li class="d-flex flex-column align-items-center justify-content-between sidebar-item" routerLink="registrar-carro">
            <mat-icon aria-hidden="false">directions_car</mat-icon>
            <a>Registrar Carro</a>
        </li>
        <li class="d-flex flex-column align-items-center justify-content-between sidebar-item" routerLink="home">
            <mat-icon aria-hidden="false">exit_to_app</mat-icon>
            <a>Regresar</a>
        </li>
    </ul>
</div>

<div class="sidesk-mobile">

</div>
