<div class="section-title-page area-bg area-bg_dark area-bg_op_60">
    <div class="area-bg__inner">
      <div class="container text-center">
        <h1 class="b-title-page">Auto news</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="home.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Latest News</li>
          </ol>
        </nav>
        <!-- end .breadcrumb-->
        
      </div>
    </div>
  </div>
  <!-- end .b-title-page-->
  
  <div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
      <main class="b-post-group">
        <div class="js-scroll-content">
          <div class="b-post-group_2-col row mb-4">
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/1.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/1.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">New cars</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">New In All Ways; Boasts Of Reliability And Stability</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/2.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/2.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">auto finance</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Powerful And Unstoppable Icon Of A New Era</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/3.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/3.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">buy sell cars</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">New Audi Photos Hinting Major Surprise For Drivers</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/4.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/4.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">latest models</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">The Best, Fastest And Most Powerful Road Car</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/5.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/5.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">New cars</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">New In All Ways; Boasts Of Reliability And Stability</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/6.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/6.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">auto finance</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Powerful And Unstoppable Icon Of A New Era</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
          </div>
        </div>
        <div class="js-scroll-next text-center">
          <button class="btn-arr-wrap" type="button"><span class="btn-arr btn-arr_secondary btn-arr_down"></span>LOAD MORE</button>
        </div>
        <div class="js-scroll-content">
          <div class="row mb-4">
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/1.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/1.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">New cars</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">New In All Ways; Boasts Of Reliability And Stability</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/2.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/2.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">auto finance</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Powerful And Unstoppable Icon Of A New Era</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/3.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/3.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">buy sell cars</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">New Audi Photos Hinting Major Surprise For Drivers</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/4.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/4.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">latest models</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">The Best, Fastest And Most Powerful Road Car</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/5.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/5.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">New cars</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">New In All Ways; Boasts Of Reliability And Stability</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
            <div class="col-lg-6">
              <section class="b-post b-post-1">
                <div class="entry-media"><a class="js-zoom-images" href="assets/media/content/b-post/540x300/6.jpg"><img class="img-scale" src="assets/media/content/b-post/540x300/6.jpg" alt="photo"/></a></div>
                <div class="entry-main">
                  <div class="entry-meta">
                    <div class="entry-label">auto finance</div>
                    <time class="entry-meta__item" datetime="2019-01-31">April 3, 2019</time>
                    <span class="entry-meta__item">
                       by
                      <a class="entry-meta__link text-primary" href="blog-main.html">Autlines</a></span>
                  </div>
                  <div class="entry-header">
                    <h2 class="entry-title"><a href="blog-post.html">Powerful And Unstoppable Icon Of A New Era</a></h2>
                  </div>
                  <div class="entry-content">Dolore magna aliqua uet enim ad minim veniam, quis nostru aliquip ex ea sed ipsum consequat duis aute irure dolorin rep dolore...</div>
                </div>
              </section>
              <!-- end .b-post-->
              
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>