<div
  id="page-container"
  class="l-theme animated-css"
  data-header="sticky"
  data-header-top="200"
  data-canvas="container"
  [style.min-height.px]="commonService.screenHeight"
  (window:resize)="onResize($event)"
>
  <!-- Loader-->
  <div id="page-preloader">
    <span class="spinner border-t_second_b border-t_prim_a"> </span>
  </div>
  <!-- Loader end-->
  <app-navbar class="app-navbar" *ngIf="!inDashboard()"></app-navbar>
  <div class="router-outlet">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
  <app-footer class="app-footer" *ngIf="!inDashboard()"></app-footer>
</div>
