<div class="section-title-page area-bg area-bg_dark area-bg_op_60 section-title-page_mod-b">
    <div class="area-bg__inner">
      <div class="container text-center">
        <h1 class="b-title-page">Booking system</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="home.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Car Styling Booking System</li>
          </ol>
        </nav>
        <!-- end .breadcrumb-->
        
      </div>
    </div>
  </div>
  <!-- end .b-title-page-->
  
  <div class="l-main-content">
    <div class="ui-decor ui-decor_mirror bg-primary"></div>
    <div class="container">
      <main>
        <div class="b-booking-group">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="b-booking-nav"><a class="b-booking-nav__item" href="#">
                    <div class="b-booking-nav__header">Step 1</div>
                    <div class="b-booking-nav__main"><i class="ic fas fa-car-side"></i><span class="b-booking-nav__title">Select Car Type</span><span class="b-booking-nav__info">Select your vehicle type</span></div></a><a class="b-booking-nav__item active" href="#">
                    <div class="b-booking-nav__header">Step 2</div>
                    <div class="b-booking-nav__main"><i class="ic fas fa-cubes"></i><span class="b-booking-nav__title">Styling Packages</span><span class="b-booking-nav__info">Choose a styling package</span></div></a><a class="b-booking-nav__item" href="#">
                    <div class="b-booking-nav__header">Step 3</div>
                    <div class="b-booking-nav__main"><i class="ic fas fa-cog"></i><span class="b-booking-nav__title">Services Menu</span><span class="b-booking-nav__info">A la carte Services for you</span></div></a><a class="b-booking-nav__item" href="#">
                    <div class="b-booking-nav__header">Step 4</div>
                    <div class="b-booking-nav__main"><i class="ic far fa-calendar"></i><span class="b-booking-nav__title">Date And Time</span><span class="b-booking-nav__info">Click on time for booking</span></div></a><a class="b-booking-nav__item" href="#">
                    <div class="b-booking-nav__header">Step 5</div>
                    <div class="b-booking-nav__main"><i class="ic fas fa-edit"></i><span class="b-booking-nav__title">Booking Summary</span><span class="b-booking-nav__info">Provide your contact infos</span></div></a></div>
              </div>
              <div class="col-lg-8">
                <form class="b-booking-main">
                  <div class="b-booking-main__section">
                    <h2 class="b-booking-main__title">Select Car Type</h2>
                    <div class="b-booking-main__cat btn-group-toggle row flex-wrap justify-content-between" data-toggle="buttons">
                      <div class="col-sm-4">
                        <label class="btn b-booking-main__cat-item">
                          <input type="radio" name="options" id="option4" checked="checked"/><span class="ic flaticon-cabrio-car"></span> CONVERTIBLE<i class="ic-check fas fa-check"></i>
                        </label>
                      </div>
                      <div class="col-sm-4">
                        <label class="btn b-booking-main__cat-item active">
                          <input type="radio" name="options" id="option2"/><span class="ic flaticon-car-suv"></span> SUV<i class="ic-check fas fa-check"></i>
                        </label>
                      </div>
                      <div class="col-sm-4">
                        <label class="btn b-booking-main__cat-item">
                          <input type="radio" name="options" id="option3"/><span class="ic flaticon-coupe-car"></span> COUPE<i class="ic-check fas fa-check"></i>
                        </label>
                      </div>
                      <div class="col-sm-4">
                        <label class="btn b-booking-main__cat-item">
                          <input type="radio" name="options" id="option5"/><span class="ic flaticon-sedan-car-model"></span> SEDAN<i class="ic-check fas fa-check"></i>
                        </label>
                      </div>
                      <div class="col-sm-4">
                        <label class="btn b-booking-main__cat-item">
                          <input type="radio" name="options" id="option6"/><span class="ic flaticon-car-black-side-view-pointing-left"></span> SUPER CAR<i class="ic-check fas fa-check"></i>
                        </label>
                      </div>
                      <div class="col-sm-4">
                        <label class="btn b-booking-main__cat-item">
                          <input type="radio" name="options" id="option7"/><span class="ic flaticon-car"></span> MINICAR<i class="ic-check fas fa-check"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="b-booking-main__section pb-1">
                    <h2 class="b-booking-main__title">Choose Your Package</h2>
                    <div class="b-booking-price">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck1" type="checkbox" checked="checked"/>
                        <label class="custom-control-label row" for="customCheck1"><span class="b-booking-price__inner col-sm"><span class="b-booking-price__title">Basic Styling Pack<span class="b-booking-price__day">(1 Day)</span></span><span class="b-booking-price__info">Minor Dent Removing, Window Tinting, Full Color Change</span></span><span class="col-sm-auto"><span class="b-booking-price__price text-primary"><span class="b-booking-price__price-up">$</span>35<span class="b-booking-price__price-up">95</span></span></span></label>
                      </div>
                    </div>
                    <div class="b-booking-price">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck2" type="checkbox"/>
                        <label class="custom-control-label row" for="customCheck2"><span class="b-booking-price__inner col-sm"><span class="b-booking-price__title">Gold Styling Pack<span class="b-booking-price__day">(2 Day)</span></span><span class="b-booking-price__info">Minor Dent Removing, Window Tinting, Full Color Change Car Polishing, New Wheels</span></span><span class="col-sm-auto"><span class="b-booking-price__price text-primary"><span class="b-booking-price__price-up">$</span>45<span class="b-booking-price__price-up">95</span></span></span></label>
                      </div>
                    </div>
                    <div class="b-booking-price">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck3" type="checkbox"/>
                        <label class="custom-control-label row" for="customCheck3"><span class="b-booking-price__inner col-sm"><span class="b-booking-price__title">Deluxe Styling Pack<span class="b-booking-price__day">(3 Day)</span></span><span class="b-booking-price__info">Minor Dent Removing, Window Tinting, Full Color Change Car Polishing, New Wheels</span></span><span class="col-sm-auto"><span class="b-booking-price__price text-primary"><span class="b-booking-price__price-up">$</span>55<span class="b-booking-price__price-up">95</span></span></span></label>
                      </div>
                    </div>
                  </div>
                  <div class="b-booking-main__section pb-1">
                    <h2 class="b-booking-main__title">Services Menu</h2>
                    <div class="b-booking-price b-booking-price_sm">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck4" type="checkbox" checked="checked"/>
                        <label class="custom-control-label row" for="customCheck4"><span class="col"><span class="b-booking-price__title">Full Body Wash</span><span class="b-booking-price__info">Magna aliqua enim aduas dui veniam nostrud</span></span><span class="col-auto"><span class="b-booking-price__label"><i class="ic far fa-clock"></i> 2 Hours</span><span class="b-booking-price__label"><i class="ic far fa-money-bill-alt"></i> $12.90</span></span></label>
                      </div>
                    </div>
                    <div class="b-booking-price b-booking-price_sm">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck5" type="checkbox"/>
                        <label class="custom-control-label row" for="customCheck5"><span class="col"><span class="b-booking-price__title">Custom Wrap Styles</span><span class="b-booking-price__info">Magna aliqua enim aduas dui veniam nostrud</span></span><span class="col-auto"><span class="b-booking-price__label"><i class="ic far fa-clock"></i> 2 Hours</span><span class="b-booking-price__label"><i class="ic far fa-money-bill-alt"></i> $12.90</span></span></label>
                      </div>
                    </div>
                    <div class="b-booking-price b-booking-price_sm">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck6" type="checkbox"/>
                        <label class="custom-control-label row" for="customCheck6"><span class="col"><span class="b-booking-price__title">Gold Color Wheels</span><span class="b-booking-price__info">Magna aliqua enim aduas dui veniam nostrud</span></span><span class="col-auto"><span class="b-booking-price__label"><i class="ic far fa-clock"></i> 2 Hours</span><span class="b-booking-price__label"><i class="ic far fa-money-bill-alt"></i> $12.90</span></span></label>
                      </div>
                    </div>
                    <div class="b-booking-price b-booking-price_sm">
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="customCheck7" type="checkbox"/>
                        <label class="custom-control-label row" for="customCheck7"><span class="col"><span class="b-booking-price__title">Minor Dents Remove</span><span class="b-booking-price__info">Magna aliqua enim aduas dui veniam nostrud</span></span><span class="col-auto"><span class="b-booking-price__label"><i class="ic far fa-clock"></i> 2 Hours</span><span class="b-booking-price__label"><i class="ic far fa-money-bill-alt"></i> $12.90</span></span></label>
                      </div>
                    </div>
                  </div>
                  <div class="b-booking-main__section">
                    <h2 class="b-booking-main__title">Select Date & Time</h2>
                  </div>
                  <div class="b-booking-main__section">
                    <h2 class="b-booking-main__title">Booking Summary</h2>
                    <div class="row mb-4">
                      <div class="col-md-6">
                        <div class="b-booking-total">
                          <div class="b-booking-total__main">
                            <div class="b-booking-total__title">Fri, 12.04.2019</div>
                            <div class="b-booking-total__info">Appointment Date</div>
                          </div>
                          <div class="ic pe-7s-date"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="b-booking-total">
                          <div class="b-booking-total__main">
                            <div class="b-booking-total__title">12:00 PM</div>
                            <div class="b-booking-total__info">Appointment Time</div>
                          </div>
                          <div class="ic pe-7s-clock"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="b-booking-total">
                          <div class="b-booking-total__main">
                            <div class="b-booking-total__title">10 h 50 min</div>
                            <div class="b-booking-total__info">Duration</div>
                          </div>
                          <div class="ic pe-7s-wristwatch"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="b-booking-total">
                          <div class="b-booking-total__main">
                            <div class="b-booking-total__title">$ 145.00</div>
                            <div class="b-booking-total__info">Total Price</div>
                          </div>
                          <div class="ic pe-7s-cart"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label">First Name *</label>
                          <input class="form-control" type="text"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label">Last Name *</label>
                          <input class="form-control" type="text"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label">Email Address*</label>
                          <input class="form-control" type="email"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-label">Phone *</label>
                          <input class="form-control" type="text"/>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Car make / Model *</label>
                      <input class="form-control" type="text"/>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Message</label>
                      <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <div class="text-center">Within 24 hours, Our representative we will confirm your appointment by call / email
                      <button class="btn btn-secondary mt-5">Confirm Booking</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- end .b-booking-->
        
      </main>
    </div>
  </div>