.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: #fff !important;
}

.example-full-width {
  width: 100%;
}

::ng-deep .example-form .mat-focused .mat-form-field-ripple {
  background-color: #fff !important;
}

::ng-deep .example-form .mat-form-field-ripple {
  background-color: #fff !important;
}

::ng-deep .example-form .mat-focused .mat-form-field-label {
  color: #fff !important;
}

::ng-deep .example-form .mat-form-field-label {
  color: #fff !important;
}

::ng-deep
  .example-form
  .mat-form-field-appearance-fill
  .mat-form-field-underline::before {
  background-color: #fff !important;
}

.login {
  margin-top: 150px;
  height: calc(100vh - 150px);
  background-color: #29abe2;
}

.loginSection {
  background-color: #fff;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginSection__p {
  font-size: 18px;
}
