<section class="section-special">
  <div class="row no-gutters">
    <div class="col-xl-6">
      <div class="section-special__inner bg-primary">
        <div class="text-center">
          <div class="ui-title-logo">AUTLINES</div>
          <h2 class="ui-title ui-title_light text-uppercase mb-1">
            Special Services
          </h2>
          <p class="section-special__info">
            Dolore magna aliqua enim minim veniam quis nostrud exercitation
          </p>
        </div>
        <div
          class="b-special-slider js-slider"
          data-slick='{"slidesToShow": 3, "slidesToScroll": 2, "dots": true, "arrows": false, "autoplay": false,   "responsive": [{"breakpoint": 992, "settings": {"slidesToShow": 1, "slidesToScroll": 1}}]}'
        >
          <div class="b-special">
            <div class="b-special__img">
              <img
                class="img-scale"
                src="assets/media/content/b-special/263x200/1.jpg"
                alt="photo"
              />
            </div>
            <div class="b-special__title">Vehicle Color Change</div>
          </div>
          <!-- end .b-special-->

          <div class="b-special">
            <div class="b-special__img">
              <img
                class="img-scale"
                src="assets/media/content/b-special/263x200/2.jpg"
                alt="photo"
              />
            </div>
            <div class="b-special__title">Window Tinting</div>
          </div>
          <!-- end .b-special-->

          <div class="b-special">
            <div class="b-special__img">
              <img
                class="img-scale"
                src="assets/media/content/b-special/263x200/3.jpg"
                alt="photo"
              />
            </div>
            <div class="b-special__title">Car Body Polishing</div>
          </div>
          <!-- end .b-special-->

          <div class="b-special">
            <div class="b-special__img">
              <img
                class="img-scale"
                src="assets/media/content/b-special/263x200/1.jpg"
                alt="photo"
              />
            </div>
            <div class="b-special__title">Vehicle Color Change</div>
          </div>
          <!-- end .b-special-->

          <div class="b-special">
            <div class="b-special__img">
              <img
                class="img-scale"
                src="assets/media/content/b-special/263x200/2.jpg"
                alt="photo"
              />
            </div>
            <div class="b-special__title">Window Tinting</div>
          </div>
          <!-- end .b-special-->

          <div class="b-special">
            <div class="b-special__img">
              <img
                class="img-scale"
                src="assets/media/content/b-special/263x200/3.jpg"
                alt="photo"
              />
            </div>
            <div class="b-special__title">Car Body Polishing</div>
          </div>
          <!-- end .b-special-->
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="section-special__img">
        <img
          class="img-scale"
          src="assets/media/content/b-special/1000x700/1.jpg"
          alt="photo"
        />
      </div>
    </div>
  </div>
</section>
