@import url(../../../assets/css/color.css);

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: #fff !important;
}

.example-full-width {
  width: 100%;
}

::ng-deep .example-form .mat-focused .mat-form-field-ripple {
  background-color: #fff !important;
}

::ng-deep .example-form .mat-form-field-ripple {
  background-color: #fff !important;
}

::ng-deep .example-form .mat-focused .mat-form-field-label {
  color: #fff !important;
}

::ng-deep .example-form .mat-form-field-label {
  color: #fff !important;
}

::ng-deep
  .example-form
  .mat-form-field-appearance-fill
  .mat-form-field-underline::before {
  background-color: #fff !important;
}

.login {
  margin-top: 150px;
  height: calc(100vh - 150px);
  background-color: #29abe2;
}

.loginSection {
  background-color: #fff;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.registerSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.registerSection h2 {
  color: white;
}

.loginSection .row,
.registerSection .row {
  width: 100%;
}

.loginSection__p {
  font-size: 18px;
}

.inputClicker {
  background-color: var(--lightgrey);
  border: 1px solid #aaa;
  outline: var(--primary);
  border-radius: 25px;
  padding: 15px;
  width: 100%;
  margin: 10px 0;
}

.inputClicker:focus {
  border: 2px solid var(--primary);
}

.links {
  color: var(--primary);
}

.loginButton {
  width: 100%;
  background-color: var(--primary);
  border-radius: 25px;
  padding: 10px;
  border: none;
  color: white;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.loginButton:hover {
  opacity: 0.8;
}

.text-blue {
  color: var(--primary);
}

.registerOption {
  font-size: 20px;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 100%;
  background-color: white;
  font-weight: 600;
  color: var(--black);
}

.active {
  color: var(--primary);
  font-weight: 900;
}

.registerButton {
  width: 100%;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  border: none;
  color: var(--primary);
  font-size: 18px;
  outline: none;
  cursor: pointer;
}
.registerButton:hover {
  opacity: 0.8;
}
