<section class="section-special">
    <div class="row no-gutters">
      <div class="col-xl-6">
        <div class="section-special__inner bg-primary">
          <div class="text-center">
            <div class="ui-title-logo">CLICKER</div>
            <h2 class="ui-title ui-title_light text-uppercase mb-1">Regístrate como Remax</h2>
            
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="section-special__img">
          <img
            class="img-scale"
            src="assets/media/content/b-special/1000x700/1.jpg"
            alt="photo"
          />
        </div>
      </div>
    </div>
  </section>
  