<div class="container p-4">
  <h1>Solicitudes de Pago</h1>
  <div class="row">
    <div class="container-fluid w-100 mt-5">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="index">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Nº</th>
          <td
            class="text-center"
            mat-cell
            *matCellDef="let element; let i = index"
          >
            {{ i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Fecha</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.date | date: "dd/MM/yyyy hh:mm" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Usuario</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.usuario.correo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Monto</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.monto }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tranfer">
          <th mat-header-cell class="text-center" *matHeaderCellDef>
            N° Transferencia
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <mat-form-field class="w-75">
              <input matInput [(ngModel)]="transferencia" />
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Validar</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <button
              mat-mini-fab
              color="basic"
              class="mr-2"
              style="outline: none"
              (click)="putTransference(element, true)"
            >
              <mat-icon color="success">check_circle_outline</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="basic"
              class="ml-2"
              style="outline: none"
              (click)="putTransference(element, false)"
            >
              <mat-icon color="warning">cancel</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>
