<div class="section-title-page area-bg area-bg_dark area-bg_op_60">
  <div class="area-bg__inner">
    <div class="container text-center">
      <h1 class="b-title-page">Auto Semi Nuevo</h1>
      <!-- TODO: cambiar eso -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['..']">Home</a></li>
          <!-- <li class="breadcrumb-item"><a href="inventory-grid.html">Inventory</a></li> -->
          <li class="breadcrumb-item active" aria-current="page">
            Auto Semi Nuevo
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="l-main-content">
  <div
    *ngIf="loading"
    class="d-flex justify-content-center align-items-center my-5"
  >
    <mat-spinner style="cursor: progress" diameter="50"> </mat-spinner>
  </div>
  <div class="ui-decor ui-decor_sm-h ui-decor_mirror bg-primary"></div>
  <div class="container" *ngIf="!loading">
    <section class="b-goods-f">
      <div class="row">
        <div class="col-lg-8">
          <!-- <div class="ui-subtitle">Sportiness at maximum power</div> -->
          <h2 class="ui-title text-uppercase">
            {{ auto.marca }} {{ auto.modelo }}
            {{ auto.anoFabricacion }}
          </h2>
          <div
            *ngIf="
              auto.fotos ? auto.fotos.length > 0 && auto.fotos[0] !== '' : false
            "
            class="b-goods-f__slider"
          >
            <ngx-slick-carousel
              class="ui-slider-nav js-slider-nav"
              #slickModal="slick-carousel"
              [config]="slideConfig"
              #slide1
            >
              <img
                *ngFor="let foto of auto.fotos; let i = index"
                ngxSlickItem
                class="img-scale mx-2"
                [src]="foto"
                [alt]="
                  auto.marca +
                  auto.modelo +
                  auto.anoFabricacion +
                  '-photo' +
                  (i + 1)
                "
              />
            </ngx-slick-carousel>
            <br />
            <ngx-slick-carousel
              class="ui-slider-main js-slider-for"
              #slickModal="slick-carousel"
              [config]="slideConfig2"
              #slide2
            >
              <img
                ngxSlickItem
                *ngFor="let foto of auto.fotos; let i = index"
                class="img-scale mx-2"
                [src]="foto"
                [alt]="
                  auto.marca +
                  auto.modelo +
                  auto.anoFabricacion +
                  '-photo' +
                  (i + 1)
                "
              />
            </ngx-slick-carousel>
          </div>
          <div
            *ngIf="
              auto.fotos
                ? auto.fotos.length === 0 || auto.fotos[0] === ''
                : false
            "
            class="d-flex justify-content-center align-items-center mb-3"
          >
            <p style="color: grey">Este auto no cuenta con fotos.</p>
          </div>
          <!-- <div class="b-goods-f__links"><a class="b-goods-f__links-item" href="#"><i class="ic fas fa-map-marker-alt text-primary"></i>Florida, USA</a><a class="b-goods-f__links-item" href="#"><i class="ic fas fa-question text-primary"></i>Request More Info</a><a class="b-goods-f__links-item" href="#"><i class="ic fas fa-star text-primary"></i>Add To Favourite</a><a class="b-goods-f__links-item" href="#"><i class="ic fas fa-car-side text-primary"></i>Schedule Test Drive</a><a class="b-goods-f__links-item" href="email:test@test.test"><i class="ic fas fa-envelope text-primary"></i>Email Friend</a></div> -->
          <h2 class="b-goods-f__title">Especificaciones del vehículo</h2>
          <div class="row">
            <div class="col-md-6">
              <dl class="b-goods-f__descr row">
                <dt class="b-goods-f__descr-title col-md-5">
                  Año de Fabricación
                </dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  <div>
                    {{ auto.anoFabricacion }}
                  </div>
                </dd>
                <dt class="b-goods-f__descr-title col-md-5">Marca / Modelo</dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  {{ auto.marca }} / {{ auto.modelo }}
                </dd>
                <dt class="b-goods-f__descr-title col-md-5">
                  Tipo de Carrocería
                </dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  {{ auto.tipoCarroceria | titlecase }}
                </dd>
                <dt class="b-goods-f__descr-title col-md-5">Color</dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  {{ auto.color | titlecase }}
                </dd>
                <dt class="b-goods-f__descr-title col-md-5">Combustible</dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  {{ auto.tipoCombustible }}
                </dd>
                <!-- ? poner hp -->
                <!-- ? poner rpm -->
                <dt class="b-goods-f__descr-title col-md-5">Motor</dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  {{ auto.cilindrada }}
                </dd>
              </dl>
            </div>
            <div class="col-md-6">
              <dl class="b-goods-f__descr row">
                <!-- <dt class="b-goods-f__descr-title col-md-5">Condition</dt>
                  <dd class="b-goods-f__descr-info col-md-7">New</dd> -->
                <dt class="b-goods-f__descr-title col-md-5">Kilometraje</dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  {{ auto.kilometraje | number }} km
                </dd>
                <dt class="b-goods-f__descr-title col-md-5">Transmisión</dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  {{ auto.tipoCambios }}
                </dd>
                <!-- TODO: poner 'numVelocidades' en el back -->
                <!-- TODO: numAsientos? -->
                <!-- TODO: colorInterior? -->
                <!-- <dd class="b-goods-f__descr-info col-md-7 d-flex flex-column justify-content-center">8-Speed A/T</dd> -->
                <dt class="b-goods-f__descr-title col-md-5">Tracción</dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  {{ auto.tipoTraccion }}
                </dd>
                <dt class="b-goods-f__descr-title col-md-5">
                  Cilindros / Cilindrada
                </dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  {{ auto.numeroCilindros }} / {{ auto.cilindrada }} cc
                </dd>
                <dt class="b-goods-f__descr-title col-md-5">Puertas</dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  {{ auto.numeroPuertas }}
                </dd>
                <dt class="b-goods-f__descr-title col-md-5">Disponible en</dt>
                <dd
                  class="
                    b-goods-f__descr-info
                    col-md-7
                    d-flex
                    flex-column
                    justify-content-center
                  "
                >
                  {{ auto.locacion }}
                </dd>
              </dl>
            </div>
          </div>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="overview-tab"
                data-toggle="tab"
                href="#overview"
                role="tab"
                aria-controls="overview"
                aria-selected="true"
                >Descripción</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="features-tab"
                data-toggle="tab"
                href="#features"
                role="tab"
                aria-controls="features"
                aria-selected="false"
                >Accesorios</a
              >
            </li>
            <!-- TODO: manos a la obra -->
            <!-- isLoggedIn && !isAdmin -->
            <!-- <li *ngIf="isRemax" class="nav-item">
              <a
                class="nav-link"
                id="denunciar-tab"
                data-toggle="tab"
                href="#denunciar"
                role="tab"
                aria-controls="denunciar"
                aria-selected="false"
                >Denunciar</a
              >
            </li> -->
            <!--             <li class="nav-item">
              <a
                class="nav-link"
                id="location-tab"
                data-toggle="tab"
                href="#location"
                role="tab"
                aria-controls="location"
                aria-selected="false"
                >Vehicle Location</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="reviews-tab"
                data-toggle="tab"
                href="#reviews"
                role="tab"
                aria-controls="reviews"
                aria-selected="false"
                >Owner Reviews</a
              >
            </li> -->
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active mb-5"
              id="overview"
              role="tabpanel"
              aria-labelledby="overview-tab"
            >
              <p>
                {{
                  auto.descripcion === null || auto.descripcion?.length === 0
                    ? "Este auto no cuenta con una descripción."
                    : auto.descripcion
                }}
              </p>
            </div>
            <div
              class="tab-pane fade mb-5"
              id="features"
              role="tabpanel"
              aria-labelledby="features-tab"
            >
              <div class="container">
                <div class="row">
                  <div
                    *ngFor="let tipo of tiposAccesorios"
                    class="col-lg-4 col-md-6 col-sm-12"
                  >
                    <h3>{{ tipo }}</h3>
                    <ul>
                      <li *ngFor="let accesorio of getAccesoriosOfTipo(tipo)">
                        <div
                          class="
                            d-flex
                            justify-content-start
                            align-items-center
                          "
                        >
                          <mat-icon class="my-1 mr-2 check-icon"
                            >check_circle</mat-icon
                          >
                          <span class="my-1">{{ accesorio.nombre }}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- <li *ngFor="let accesorio of auto.accesorios">
                <div class="d-flex justify-content-start align-items-center">
                  <mat-icon class="my-1 mr-2 check-icon">check_circle</mat-icon>
                  <span class="my-1">{{ accesorio.nombre }}</span>
                </div>
              </li> -->
            </div>
            <div
              *ngIf="isRemax"
              class="tab-pane fade mb-5"
              id="denunciar"
              role="tabpanel"
              aria-labelledby="denunciar-tab"
            >
              <h2>Denunciar Auto</h2>
              <div class="form-group">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Descripción de la denuncia"
                  #descripcion
                />
              </div>
              <button
                (click)="denunciar(descripcion.value)"
                class="btn btn-secondary w-100"
              >
                denunciar
              </button>
            </div>
            <div
              class="tab-pane fade"
              id="location"
              role="tabpanel"
              aria-labelledby="location-tab"
            >
              <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo cons equat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Exe pteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum. Sed umt perspiciatis unde omnis iste
                natus error sit voluptatem accusantium doloremque.
              </p>
            </div>
            <div
              class="tab-pane fade"
              id="reviews"
              role="tabpanel"
              aria-labelledby="reviews-tab"
            >
              <ul class="list list-mark-2">
                <li>
                  Enim ipsum ad minim veniams quis nostrud citation ullam
                  laboris nisi
                </li>
                <li>
                  Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                  ut labore dolore
                </li>
                <li>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                </li>
                <li>
                  Laboris nisi ut aliquip ex ea comodo consequat duis aute irure
                  dolor in
                </li>
                <li>
                  Reprehenderit in voluptate velit esse cillum dolore eu fugiat
                  nulla
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <aside class="l-sidebar">
            <div class="b-goods-f-price">
              <div class="b-goods-f-price__header bg-secondary">
                Precio Clicker<span class="b-goods-f-price__main"
                  >US$ {{ auto.precioVenta | number }}</span
                >
              </div>
            </div>

            <div class="widget-2 section-sidebar bg-gray">
              <h3 class="widget-title-2 pb-0">
                <img
                  class="ic pr-2 pl-4"
                  src="assets/media/general/Favicon192x192.svg"
                  height="70"
                  width="70"
                  alt="photo"
                />
                <span
                  class="widget-title__inner"
                  *ngIf="auto.comprado || !auto.enabled; else options"
                  >No disponible</span
                >
                <ng-template #options>
                  <span class="widget-title__inner" *ngIf="!isAdmin"
                    >¿Deseas este auto?</span
                  >
                  <p
                    [ngStyle]="{
                      'font-size': '16px',
                      padding: '20px 25px 0px',
                      'font-weight': 'normal',
                      margin: '0',
                      'text-align': 'justify'
                    }"
                    *ngIf="!isAdmin && !isRemax"
                  >
                    Envía tu solicitud y un asesor se pondrá en contacto a la
                    brevedad posible.
                  </p>
                  <span class="widget-title__inner" *ngIf="isAdmin"
                    >¿Patrocinar este auto?</span
                  >
                </ng-template>
              </h3>
              <div class="widget-content" *ngIf="!auto.comprado">
                <div class="widget-inner">
                  <div *ngIf="!logged; else enviar">
                    <form [formGroup]="contactFormGroup">
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="text"
                          [OnlyNumber]="true"
                          formControlName="dni"
                          placeholder="DNI"
                        />
                        <mat-error
                          *ngIf="
                            contactFormGroup.touched &&
                            contactFormGroup.get('dni')?.errors?.required
                          "
                          >Este campo es obligatorio.</mat-error
                        >
                        <mat-error
                          *ngIf="contactFormGroup.get('dni')?.errors?.pattern"
                        >
                          Debe ingresar un DNI válido.
                        </mat-error>
                      </div>
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="text"
                          formControlName="nombres"
                          placeholder="Nombres"
                        />
                        <mat-error
                          *ngIf="
                            contactFormGroup.touched &&
                            contactFormGroup.get('nombres')?.errors?.required
                          "
                          >Este campo es obligatorio.</mat-error
                        >
                      </div>
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="text"
                          formControlName="apellidos"
                          placeholder="Apellidos"
                        />
                        <mat-error
                          *ngIf="
                            contactFormGroup.touched &&
                            contactFormGroup.get('apellidos')?.errors?.required
                          "
                          >Este campo es obligatorio.</mat-error
                        >
                      </div>
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="text"
                          formControlName="telefono"
                          placeholder="Celular"
                        />
                        <mat-error
                          *ngIf="
                            contactFormGroup.touched &&
                            contactFormGroup.get('telefono')?.errors?.required
                          "
                          >Este campo es obligatorio.</mat-error
                        >
                        <mat-error
                          *ngIf="
                            contactFormGroup.get('telefono')?.errors?.pattern
                          "
                        >
                          Debe ingresar un celular válido.
                        </mat-error>
                      </div>
                      <div class="form-group">
                        <input
                          class="form-control"
                          type="text"
                          formControlName="correo"
                          placeholder="Email"
                        />
                        <mat-error
                          *ngIf="
                            contactFormGroup.touched &&
                            contactFormGroup.get('correo')?.errors?.required
                          "
                          >Este campo es obligatorio.</mat-error
                        >
                        <mat-error
                          *ngIf="contactFormGroup.get('correo')?.errors?.email"
                        >
                          Debe ingresar un email válido.
                        </mat-error>
                      </div>
                      <div class="form-group">
                        <textarea
                          class="form-control"
                          formControlName="descripcion"
                          placeholder="Consulta"
                          rows="5"
                        ></textarea>
                        <mat-error
                          *ngIf="
                            contactFormGroup.touched &&
                            contactFormGroup.get('descripcion')?.errors
                              ?.required
                          "
                          >Este campo es obligatorio.</mat-error
                        >
                      </div>
                      <button
                        class="btn btn-secondary w-100"
                        [disabled]="contactFormGroup.invalid"
                        (click)="submitForm()"
                      >
                        <span *ngIf="!sendingContactForm">Contactar</span>
                        <div
                          *ngIf="sendingContactForm"
                          class="
                            d-flex
                            justify-content-center
                            align-items-center
                          "
                        >
                          <mat-spinner diameter="22"></mat-spinner>
                        </div>
                      </button>
                    </form>
                  </div>
                  <ng-template #enviar>
                    <button
                      class="btn btn-secondary w-100"
                      *ngIf="isAdmin"
                      (click)="addCarToSponsored()"
                    >
                      Patrocinar
                    </button>
                    <button
                      class="btn btn-secondary w-100"
                      *ngIf="!isRemax && !isAdmin"
                      (click)="contact()"
                    >
                      ¡Me interesa!
                    </button>
                    <button
                      class="btn btn-secondary w-100"
                      *ngIf="isRemax"
                      (click)="addToInsterested()"
                    >
                      ¡Lo quiero!
                    </button>
                  </ng-template>
                </div>
              </div>
            </div>
            <!-- <div class="widget-2 section-sidebar bg-gray">
              <h3 class="widget-title-2">
                <img
                  class="ic"
                  src="assets/media/general/logo-sm_blue.png"
                  alt="photo"
                /><span class="widget-title__inner"
                  >Calculadora Financiera</span
                >
              </h3>
              <div class="widget-content">
                <div class="widget-inner">
                  <form>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Precio ($)"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Tasa de Interés"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Número de Meses"
                      />
                    </div>
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Principal"
                      />
                    </div>
                    <button class="btn btn-secondary w-100">calcular</button>
                  </form>
                </div>
              </div>
            </div> -->
          </aside>
        </div>
      </div>
    </section>
  </div>
</div>
