<div class="container py-5">
  <div class="row justify-content-end">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Solicitar Pago
    </button>
  </div>
  <div class="row mt-5">
    <div class="container-fluid">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="index">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Nº</th>
          <td
            class="text-center"
            mat-cell
            *matCellDef="let element; let i = index"
          >
            {{ i + 1 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Fecha</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.fecha | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Monto</th>
          <td
            class="text-center"
            [ngStyle]="{ color: element.monto > 0 ? 'green' : 'red' }"
            mat-cell
            *matCellDef="let element"
          >
            {{ element.monto }}
          </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell class="text-center" *matHeaderCellDef>
            Descripción
          </th>
          <td class="text-center" mat-cell *matCellDef="let element">
            {{ element.descripcion }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>
