/* You can add global styles to this file, and also import other style files */
@import url("./assets/css/color.css");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-spinner::ng-deep circle {
  stroke: var(--primary);
}
.mat-spinner {
  cursor: progress;
}
