<div
  class="section-title-page area-bg area-bg_dark area-bg_op_60"
  [ngStyle]="{ 'margin-top': '0px' }"
>
  >
  <div class="area-bg__inner">
    <div class="container text-center">
      <h1 class="b-title-page">{{ title }}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ title }}
          </li>
        </ol>
      </nav>
      <!-- end .breadcrumb-->
    </div>
  </div>
</div>
<!-- end .b-title-page-->

<div class="l-main-content">
  <div class="ui-decor ui-decor_mirror bg-primary"></div>
  <div class="container">
    <main>
      <div class="b-booking-group mt-lg-4">
        <div class="container">
          <div class="row">
            <!-- <div
                class="form-wrapper"
                [ngStyle]="{
                  overflow: 'auto',
                  'max-height':
                    commonService.screenWidth < 426
                      ? 'calc(' + commonService.screenHeight + 'px - 2vw - 50px)'
                      : 'calc(' + commonService.screenHeight + 'px - 2vw)'
                }"
                cdkScrollable
              >
              </div> -->
            <form [formGroup]="formGroup">
              <!-- {{ formGroup.value | json }}
              <br />
              {{ fotoPrincipal | json }}
              <br />
              <b>FormGroup is dirty:</b> {{ formGroup.dirty }} -->
              <div class="row py-3">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="h1-form mb-3 sub_section">{{ title }}</label>
                  <div class="group_input w-m">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Correo Dueño</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="correoDueno"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Nombre Dueño</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="nombreDueno"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Teléfono Dueño</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="telefonoDueno"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Placa</mat-label>
                      <input matInput type="text" formControlName="placa" />
                      <button mat-icon-button matSuffix (click)="checkPlaca()">
                        <mat-icon>fact_check</mat-icon>
                      </button>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Serie</mat-label>
                      <input matInput type="text" formControlName="serie" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Marca</mat-label>
                      <input matInput type="text" formControlName="marca" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Modelo</mat-label>
                      <input matInput type="text" formControlName="modelo" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Año Fabricación</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="anoFabricacion"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Tipo de Transmisión</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="tipoCambios"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Combustible</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="tipoCombustible"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Carrocería</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="tipoCarroceria"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Motor</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="cilindrada"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <!-- TODO: Agregar función para no dejar ingresar texto que no sea número -->
                      <mat-label>Kilometraje</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="kilometraje"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Nº Puertas</mat-label>
                      <input
                        matInput
                        type="number"
                        formControlName="numeroPuertas"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Tracción</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="tipoTraccion"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Color</mat-label>
                      <input matInput type="text" formControlName="color" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Nº Cilindros</mat-label>
                      <input
                        matInput
                        type="number"
                        formControlName="numeroCilindros"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <!-- TODO: Agregar función para no dejar ingresar texto que no sea número -->
                      <mat-label>Precio Venta</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="precioVenta"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Video</mat-label>
                      <input matInput type="text" formControlName="video" />
                    </mat-form-field>
                    <!-- <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Disponibilidad</mat-label>
                      <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip
                          *ngFor="let ciudad of ciudadesDisponibles"
                          [selectable]="true"
                          [removable]="true"
                          (removed)="remove(ciudad)"
                        >
                          {{ ciudad }}
                          <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input
                          placeholder="Nueva ciudad..."
                          #ciudadInput
                          formControlName="ciudadesDisponibles"
                          [matAutocomplete]="auto"
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        />
                      </mat-chip-list>
                      <mat-autocomplete
                        #auto="matAutocomplete"
                        (optionSelected)="selected($event)"
                      >
                        <mat-option
                          *ngFor="let ciudad of filteredCiudades | async"
                          [value]="ciudad"
                        >
                          {{ ciudad }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field> -->
                    <input
                      type="file"
                      accept="image/*"
                      (change)="addPhoto($event)"
                    />
                    <app-upload
                      *ngFor="let foto of fotos"
                      [isPrincipal]="foto.isPrincipal"
                      [foto]="foto.foto"
                    ></app-upload>
                  </div>
                </div>
              </div>
              <div class="container mt-2 py-3">
                <div class="row justify-content-around">
                  <button
                    mat-raised-button
                    color="primary"
                    type="button"
                    (click)="postCar()"
                  >
                    <!-- (click)="registerCar()" -->
                    {{ editView ? "Actualizar" : "Registrar" }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end .b-booking-->
    </main>
  </div>
</div>
