<div class="section-title-page area-bg area-bg_dark area-bg_op_60 section-title-page_mod-b">
    <div class="area-bg__inner">
      <div class="container text-center">
        <h1 class="b-title-page">Registro de Carro</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Registro de Carro</li>
          </ol>
        </nav>
        <!-- end .breadcrumb-->
        
      </div>
    </div>
</div>
  <!-- end .b-title-page-->
  
  <div class="l-main-content">
    <div class="ui-decor ui-decor_mirror bg-primary"></div>
    <div class="container">
      <main>
        <div class="b-booking-group">
          <div class="container">
            <div class="row">
              <!-- <div
                class="form-wrapper"
                [ngStyle]="{
                  overflow: 'auto',
                  'max-height':
                    commonService.screenWidth < 426
                      ? 'calc(' + commonService.screenHeight + 'px - 2vw - 50px)'
                      : 'calc(' + commonService.screenHeight + 'px - 2vw)'
                }"
                cdkScrollable
              >
              </div> -->
              <form [formGroup]="formGroup">
                <!-- {{ formGroup.value | json }}
                <br>
                <b>FormGroup is dirty:</b> {{ formGroup.dirty }} -->
                <div class="row mt-2 py-3">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="h1-form mb-3 sub_section">Registra tu Carro</label>
                    <div class="group_input w-m">
                      <div class="d-flex flex-column w-100">
                        <mat-form-field appearance="fill" class="w-100">
                          <mat-label>Auto</mat-label>
                          <input 
                            matInput
                            type="text"
                            placeholder="Busca el auto..."
                            formControlName="auto"
                          />
                          <!-- TODO: agregar el autocomplete -->
                        </mat-form-field>
                      </div>
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Precio</mat-label>
                        <input 
                          matInput
                          type="number"
                          placeholder="El precio del auto..."
                          formControlName="precioVenta"
                        />
                      </mat-form-field>
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Moneda</mat-label>
                        <mat-select formControlName="moneda">
                          <mat-option
                            *ngFor="let mon of monedas"
                            [value]="mon"
                          >
                            {{ mon }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Código Versión</mat-label>
                        <input 
                          matInput
                          type="number"
                          formControlName="codversion"
                        />
                      </mat-form-field>
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Versión</mat-label>
                        <!-- TODO: convertir a un <mat-option> -->
                        <input 
                          matInput
                          type="text"
                          formControlName="version"
                        />
                      </mat-form-field>
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Disponibilidad</mat-label>
                        <mat-chip-list #chipList aria-label="Fruit selection">
                          <mat-chip
                            *ngFor="let ciudad of ciudadesDisponibles"
                            [selectable]="true"
                            [removable]="true"
                            (removed)="remove(ciudad)">
                            {{ ciudad }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                          </mat-chip>
                          <input
                            placeholder="Nueva ciudad..."
                            #ciudadInput
                            formControlName="ciudadesDisponibles"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          >
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                          <mat-option *ngFor="let ciudad of filteredCiudades | async" [value]="ciudad">
                            {{ ciudad }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Kilometraje</mat-label>
                        <input 
                          matInput
                          type="number"
                          formControlName="kilometraje"
                        />
                      </mat-form-field>
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Tipo del Auto</mat-label>
                        <mat-select formControlName="tipoAuto">
                          <mat-option
                            *ngFor="let tipo of tipos"
                            [value]="tipo"
                          >
                            {{ tipo }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <div class="d-flex flex-column align-items-start">
                        <mat-label>¿Presentar?</mat-label>
                        <mat-radio-group formControlName="presentar">
                          <mat-radio-button [value]="true">Sí</mat-radio-button>
                          <mat-radio-button [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <div class="d-flex flex-column align-items-start">
                        <mat-label>¿Es dueño del carro?</mat-label>
                        <mat-radio-group formControlName="duenoCarro">
                          <mat-radio-button [value]="true">Sí</mat-radio-button>
                          <mat-radio-button [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>        
                  </div>
                </div>
                <div class="container mt-2 py-3">
                  <div class="row justify-content-around">
                    <button mat-raised-button color="primary" type="button" (click)="registerCar()">
                      Registrar
                    </button>
                  </div>
                </div>
              </form>


            </div>
          </div>
        </div>
        <!-- end .b-booking-->
        
      </main>
    </div>
  </div>
  